<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<div th:replace="~{infra/v1/include/headUsr :: head}"></div>

<body id="home">
	<!-- 세션정보 -->
	<input type="hidden" id="sessMbrSeq" name="sessMbrSeq" th:value="${session.sessMbrSeq}" />
    
    <header>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
				<div th:replace="~{infra/v1/include/bodyUsr :: topMenu(0)}"></div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">            
            <!-- slide show -->
            <div class="section banner">
                <div class="tiva-slideshow-wrapper">
                    <div id="tiva-slideshow" class="nivoSlider" style="height: 100px;">
                    </div>
                </div>
            </div>
        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <section class="page-home">
                        <div class="container">
                            <!-- delivery form -->
                            <div class="section policy-home col-lg-12 col-xs-12" style="height: 130px;">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="policy-item">
                                                    <div class="policy-content iconpolicy1">
                                                        <img src="usr/img/home/home1-policy.png" alt="img">
                                                        <div class="policy-name mb-5">무료배송</div>
                                                        <div class="policy-des">원하는곳 어디든 배송가능</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tiva-html col-lg-4 col-md-4">
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="policy-item">
                                                    <div class="policy-content iconpolicy2">
                                                        <img src="usr/img/home/home1-policy2.png" alt="img">
                                                        <div class="policy-name mb-5">출고전 확실한 점검</div>
                                                        <div class="policy-des">1등급 정비사가 출고전 점검</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tiva-html col-lg-4 col-md-4">
                                        <div class="block">
                                            <div class="block-content">
                                                <div class="policy-item">
                                                    <div class="policy-content iconpolicy3">
                                                        <img src="usr/img/home/home1-policy3.png" alt="img">
                                                        <div class="policy-name mb-5">부담없는 낮은 금리</div>
                                                        <div class="policy-des">최저 연3% 최대 60개월</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--환율정보-->
							<!--<div class="block-title-content">-->
								<!--<h2>환율정보</h2>[조회기준일: <span th:text="${searchDay}"></span>] <b style="color: blueviolet">[오전 11시 이전은 전일 환율]</b> [출처: 한국수출입은행]-->
							<!--</div>-->
							<!--환율정보표시영역-->
                            <!--<div th:replace="~{infra/v1/include/bodyUsr :: exchangeRate}"></div>-->
						</div>
						
                        <!-- 취향저격! 추천차량 -->
                        <div class="section mt-5">
                            <div class="container">
                                <div class="tiva-row-wrap row">
                                    <div class="groupcategoriestab-vertical col-md-12 col-xs-12">
                                        <div class="grouptab row">
                                            <div class="categoriestab-right col-lg-12 align-items-start d-flex flex-column col-md-12 flex-3">
                                                <div class="block-title-content">
                                                    <h2>추천차량</h2>
                                                </div>
                                            </div>
                                        </div>
                                        
										<div class="product-container">
	                                        <div class="tab-content product-items">
	                                            <div id="grid" class="related tab-pane fade in active show">
	                                                <div class="row">
														<!-- 추천자료 리스트 -->
	                                                	<th:block th:if="${!#lists.isEmpty(listRecommend)}" th:each="list : ${listRecommend}">
															<div class="item col-md-4">
		                                                        <div class="product-miniature js-product-miniature item-one first-item">
		                                                            <div class="thumbnail-container border">
		                                                                <a th:href="@{/productUsrDetail(shSeq=${list.pdtSeq})}">
		                                                                    <img class="img-fluid image-cover"     th:src="${list.xpdtImg1}" alt="img">
		                                                                    <img class="img-fluid image-secondary" th:src="${list.xpdtImg2}" alt="img">
		                                                                </a>
		                                                            </div>
		                                                            <div class="product-description">
		                                                                <div class="product-groups">
		                                                                    <div class="product-title">
		                                                                        <a th:href="@{/productUsrDetail(shSeq=${list.pdtSeq})}">
																					<th:block>
																						<span th:text="${list.xpdtBrandName}"></span>
																						<br>
																						<span th:text="${list.pdtName}"></span>
																					</th:block>	                                                                        
		                                                                        </a>
		                                                                    </div>
		                                                                    <div class="rating">
		                                                                        <div class="star-content">
																					<th:block th:if="${list.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, list.xpdtStar)}">
																						<div class="star"></div>	
																					</th:block>
																					<th:block th:unless="${list.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, list.xpdtStar)}">
																						<div class=""></div>	
																					</th:block>	                                                                        
		                                                                        </div>
		                                                                    </div>
		                                                                    <div class="product-group-price">
		                                                                        <div class="product-price-and-shipping">
		                                                                            ￦<span th:text="${#numbers.formatInteger(list.pdtPrice, 1, 'COMMA')}" class="price" style="font-size: 20px;"></span>원
		                                                                        </div>
		                                                                    </div>
		                                                                </div>
		
		                                                                <!-- 찜추가 -->
		                                                                <div class="product-buttons d-flex justify-content-center">
		                                                                    <form action="#addToWishlist" method="post" class="formAddToWishlist">
		                                                                        <input th:name="'wishlistBest'+${list.pdtSeq}" th:value="${list.pdtSeq}" type="hidden"/>
		                                                                        
		                                                                        <a th:name="'wishlistBest'+${list.pdtSeq}" class="addToWishlist" href="javascript:void(0)" data-rel="1" 
		                                                                        		th:onclick="javascript:fnWishlistClick(this);">
		                                                                            <i th:if    ="${list.xwshSeq != null}" th:name="'wishlistBest'+${list.pdtSeq}" class="fa fa-heart" aria-hidden="true" style="color:pink;"></i>
		                                                                            <i th:unless="${list.xwshSeq != null}" th:name="'wishlistBest'+${list.pdtSeq}" class="fa fa-heart" aria-hidden="true"></i>
		                                                                        </a>		                                                                        
		                                                                    </form>
		                                                                </div>
		                                                            </div>
		                                                        </div>
		                                                    </div>                                                	
	                                                	</th:block>
	                                                	
				                                        <th:block th:unless="${!#lists.isEmpty(listRecommend)}">
				                                        	<div class="mt-3 d-flex justify-content-center">
				                                        		<h2><span style="color: purple;">추천차량이 없습니다</span></h2>
				                                        	</div>
				                                        </th:block>
	                                                </div>
	                                            </div>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 최근등록차량 -->
                        <div class="section mt-3">
                            <div class="container">
                                <div class="tiva-row-wrap row">
                                    <div class="groupcategoriestab-vertical col-md-12 col-xs-12">
                                        <div class="grouptab row">
                                            <div class="categoriestab-right col-lg-12 align-items-start d-flex flex-column col-md-12 flex-3">
                                                <div class="block-title-content">
                                                    <h2>최근등록차량</h2>
                                                </div>
                                            </div>
                                        </div>

										<div class="product-container">
	                                        <div class="tab-content product-items">
	                                            <div id="grid" class="related tab-pane fade in active show">
	                                                <div class="row">
														<!-- 최근등록자료 리스트 -->
	                                                	<th:block th:if="${!#lists.isEmpty(listNewReg)}" th:each="list : ${listNewReg}">
															<div class="item col-md-4">
		                                                        <div class="product-miniature js-product-miniature item-one first-item">
		                                                            <div class="thumbnail-container border">
		                                                                <a th:href="@{/productUsrDetail(shSeq=${list.pdtSeq})}">
		                                                                    <img class="img-fluid image-cover"     th:src="${list.xpdtImg1}" alt="img">
		                                                                    <img class="img-fluid image-secondary" th:src="${list.xpdtImg2}" alt="img">
		                                                                </a>
		                                                            </div>
		                                                            <div class="product-description">
		                                                                <div class="product-groups">
		                                                                    <div class="product-title">
		                                                                        <a th:href="@{/productUsrDetail(shSeq=${list.pdtSeq})}">
																					<th:block>
																						<span th:text="${list.xpdtBrandName}"></span>
																						<br>
																						<span th:text="${list.pdtName}"></span>
																					</th:block>	                                                                        
		                                                                        </a>
		                                                                    </div>
		                                                                    <div class="rating">
		                                                                        <div class="star-content">
																					<th:block th:if="${list.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, list.xpdtStar)}">
																						<div class="star"></div>	
																					</th:block>
																					<th:block th:unless="${list.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, list.xpdtStar)}">
																						<div class=""></div>	
																					</th:block>	                                                                        
		                                                                        </div>
		                                                                    </div>
		                                                                    <div class="product-group-price">
		                                                                        <div class="product-price-and-shipping">
		                                                                            ￦<span th:text="${#numbers.formatInteger(list.pdtPrice, 1, 'COMMA')}" class="price" style="font-size: 20px;"></span>원
		                                                                        </div>
		                                                                    </div>
		                                                                </div>
		
		                                                                <!-- 찜추가 -->
		                                                                <div class="product-buttons d-flex justify-content-center">
		                                                                    <form action="#addToWishlist" method="post" class="formAddToWishlist">
		                                                                        <input th:name="'wishlistNew'+${list.pdtSeq}" th:value="${list.pdtSeq}" type="hidden"/>
		                                                                        
		                                                                        <a th:name="'wishlistNew'+${list.pdtSeq}" class="addToWishlist" href="javascript:void(0)" data-rel="1" 
		                                                                        		th:onclick="javascript:fnWishlistClick(this);">
		                                                                            <i th:if    ="${list.xwshSeq != null}" th:name="'wishlistNew'+${list.pdtSeq}" class="fa fa-heart" aria-hidden="true" style="color:pink;"></i>
		                                                                            <i th:unless="${list.xwshSeq != null}" th:name="'wishlistNew'+${list.pdtSeq}" class="fa fa-heart" aria-hidden="true"></i>
		                                                                        </a>		                                                                        
		                                                                    </form>
		                                                                </div>
		                                                            </div>
		                                                        </div>
		                                                    </div>                                                	
	                                                	</th:block>
	                                                	
				                                        <th:block th:unless="${!#lists.isEmpty(listNewReg)}">
				                                        	<div class="mt-3 d-flex justify-content-center">
				                                        		<h2><span style="color: purple;">최근등록차량이 없습니다</span></h2>
				                                        	</div>
				                                        </th:block>
	                                                </div>
	                                            </div>
											</div>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="~{infra/v1/include/headUsr :: footer}"></div>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>
    
    <!-- modalFormOneBtn(타이틀, 내용, 버튼명) -->
    <div th:replace="~{infra/v1/include/modalSdm :: modalFormOneBtn('확인', '', '확인')}"></div>      

    <!-- Vendor JS -->
    <script src="usr/libs/jquery/jquery.min.js"></script>
    <script src="usr/libs/popper/popper.min.js"></script>
    <script src="usr/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="usr/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="usr/libs/owl-carousel/owl.carousel.min.js"></script>

    <!-- Template JS -->
    <script src="usr/js/theme.js"></script>
    
    <script type="text/javascript">
// ============================================================================
// 변수선언
// ============================================================================
	
// ============================================================================
// 이벤트
// ============================================================================    
		
// ============================================================================
// function
// ============================================================================
	<!--환율정보 조회일자 설정-->
	/*
	window.onload = () => {
		let toDay = new Date();
		let searchDay = document.getElementById("searchDay");
		searchDay.innerHTML = "(조회기준일: "+toDay.getFullYear()+"-"+(toDay.getMonth()+1)+"-"+toDay.getDate()+")";
	}
	*/
	</script>		
		    
</body>

</html>