<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
    	<div id="listData" class="w-full overflow-x-auto">
			<table class="w-full whitespace-no-wrap">
				<!-- 조회결과 리스트 타이틀-->
				<thead>
					<tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
  						<th class="px-2 py-1">
    						<input class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray mr-3"
      							id="checkboxAll" name="checkboxAll" type="checkbox"
      							style="height: 15px; width: 15px">
  						</th>
						<th class="px-1 py-1" style="text-align: center;">#</th>
						<th class="px-2 py-1" style="text-align: center;">순번</th>
						<th class="px-2 py-1">회원구분</th>
						<th class="px-2 py-1">성명</th>
						<th class="px-2 py-1">이메일</th>
						<th class="px-2 py-1">성별</th>
						<th class="px-2 py-1">생년월일</th>
						<th class="px-2 py-1">삭제여부</th>
						<th class="px-2 py-1">등록일시</th>
						<th class="px-2 py-1">수정일시</th>
						<th class="px-2 py-1">작업</th>
					</tr>
				</thead>

				<!-- 조회결과 리스트 내용 -->
				<tbody id="trList" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
					<tr th:if="${#lists.isEmpty(list)}">
						<td colspan="12" class="text-center text-purple-600"> 
							There is no data !!!
						</td>
					</tr>
                  
					<tr class="text-gray-700 dark:text-gray-400" th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
						<!-- 체크박스 -->
						<td class="px-2 py-1">
							<input class="checkboxList text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray mr-3"
								id = "checkbox" name="checkbox" type="checkbox"
								th:value="${list.mbrSeq}"
								style="height: 15px; width: 15px">
						</td>
						<!-- row순번 -->
						<td id="xrowSeq" class="px-1 py-1" th:text="${list.xrowSeq}" style="text-align: center;"></td>
						<!-- 순번 -->
						<td id="mbrSeq" class="px-2 py-1" th:text="${list.mbrSeq}" style="text-align: center;"></td>
						<!-- 회원구분 -->
						<td id="mbrType" class="px-2 py-1">
                    		<th:block th:switch="${list.mbrType}">
                    			<span th:case = "1">관리자</span>
                    			<span th:case = "2">사용자</span>
                    		</th:block>
                    	</td>
						<!-- 성명 -->
                    	<td class="mbrName px-2 py-1" th:text="${list.mbrName}"></td>
						<!-- 이메일 -->
                    	<td class="mbrEmail px-2 py-1" th:text="${list.mbrEmail}"></td>
						<!-- 성별 -->
						<td class="mbrSex px-2 py-1" style="text-align: center;">
							<th:block th:switch="${list.mbrSex}">
								<!-- 남 -->
	                      		<span th:case="12" class="px-2 py-1 font-semibold leading-tight text-blue-700 bg-blue-600 rounded-full dark:text-white dark:bg-blue-700"
	                      		 	th:if="${list.mbrSex != null}" th:text="${#strings.substring(@codeService.selectOneCachedCode(list.mbrSex),0,1)}">
	                      		</span>
	                      		
	                      		<!-- 여 -->
	                      		<span th:case="13" class="px-2 py-1 font-semibold leading-tight text-red-100 bg-red-600 rounded-full dark:text-white dark:bg-red-700"
	                      		 	th:if="${list.mbrSex != null}" th:text="${#strings.substring(@codeService.selectOneCachedCode(list.mbrSex),0,1)}">
	                      		</span>	              
	                      		        		
	                      		<span class="px-2 py-1"
	                      		 	th:unless="${list.mbrSex != null}">
	                      		</span>	                      							
							</th:block>						
						</td>
						<!-- 생년월일 -->
                    	<td class="mbrBirthday px-2 py-1" th:text="${#strings.substring(list.mbrBirthday, 0, 10)}"></td>
						<!-- 삭제여부 -->
                    	<td class="mbrDelNy px-2 py-1" style="text-align: center;">
                    		<th:block th:switch="${list.mbrDelNy}">
	                      		<span th:case="0"
	                  				class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:text-white dark:bg-green-700">
									N
	                      		</span>
	                      		<span th:case="1"
	                  				class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600">
									Y
	                      		</span>
                    		</th:block>
                    	</td>
						<!-- 등록일시 -->
                    	<td class="mbrRegDt px-2 py-1" th:text="${#dates.format(list.mbrRegDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<!-- 수정일시 -->
                    	<td class="mbrUdtDt px-2 py-1" th:text="${#dates.format(list.mbrUdtDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<!-- 작업버튼 -->
                    	<td class="px-2 py-1">
						<!-- 수정버튼 -->
                    	    <button class="px-2 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
								<a th:href="@{/memberSdmForm(mbrSeq=${list.mbrSeq}, mbrName=${list.mbrName})}">
									<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
										<path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z"></path>
										<path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z"></path>
									</svg>
								</a>
                      		</button>
                    	</td>
					</tr>
				</tbody>
			</table>

			<!-- 페이지넘김 -->
			<div th:replace="~{infra/v1/include/bodySdm :: bodyPagingBtn}"></div>
		</div>
    
  </body>
</html>
