  .image-container {
    position: absolute;
    border: 1px solid #ccc;
    padding: 0;
    background-color: #fff;
    top: 190px;
	right: 4%;
    width: 10%; /* 컨테이너 너비 */
    height: auto; /* 컨테이너 높이 */
    text-align: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto; /* 이미지 높이 */
    object-fit: contain;
    display: block;
  }