<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucl.infra.codegroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.ucl.infra.codegroup.CodeGroupDto"></resultMap>

    <select id="selectList" resultMap="resultMapObj">
        SELECT a.cdgSeq
			 , a.cdgName
			 , a.cdgRegDt
			 , a.cdgUdtDt
			 , a.cdgDelNy
			 , (SELECT COUNT(*) 
			      FROM code aa 
			     WHERE aa.cdcSeq = a.cdgSeq		        
			   ) xcodeCount
          FROM codegroup a
         WHERE 1=1
         <if test="shDelNy != null and !shDelNy.equals('')">AND a.cdgDelNy = #{shDelNy}</if>
         
         <choose>
         	<when test="shOptionDate == 1">AND a.cdgRegDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
         	<when test="shOptionDate == 2">AND a.cdgUdtDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
         </choose>
         
         <choose>
         	<when test="shOption == 1">AND a.cdgSeq = #{shValue}</when>
         	<when test="shOption == 2">AND a.cdgName LIKE CONCAT('%', #{shValue}, '%')</when>
         </choose>
                  
         ORDER BY a.cdgSeq DESC
    </select>
    
    <select id="selectOne" resultMap="resultMapObj">
        SELECT a.seq
			 , a.name
			 , a.regDateTime
			 , a.modDateTime
			 , a.delNy
			 , (SELECT COUNT(*) 
			      FROM commoncode aa 
			     WHERE aa.commonGroup_seq = a.seq 
			       AND aa.delNy = 0
			   ) xcodeCount
          FROM commongroup a
         WHERE 1=1
           AND a.seq = #{seq}
         ORDER BY a.seq DESC
    </select>  
    
    <select id="selectName" resultMap="resultMapObj">
        SELECT a.seq
			 , a.name
			 , a.regDateTime
			 , a.modDateTime
			 , a.delNy
			 , (SELECT COUNT(*) 
			      FROM commongroup bb
			   ) xcodeGroupCount
			 , (SELECT COUNT(*) 
			      FROM commoncode aa 
			     WHERE aa.commonGroup_seq = a.seq 
			       AND aa.delNy = 0
			   ) xcodeCount
          FROM commongroup a
         WHERE 1=1
           AND a.name = #{name}
         ORDER BY a.seq DESC
    </select>    
    
	<select id="selectRegModList" resultMap="resultMapObj">
        SELECT a.seq
			 , a.name
			 , a.regDateTime
			 , a.modDateTime
			 , a.delNy
			 , (SELECT COUNT(*) 
			      FROM commongroup bb
			   ) xcodeGroupCount
			 , (SELECT COUNT(*) 
			      FROM commoncode aa 
			     WHERE aa.commonGroup_seq = a.seq 
			       AND aa.delNy = 0
			   ) xcodeCount
          FROM commongroup a
         WHERE 1=1
           AND (a.regDateTime BETWEEN IF(#{xdateType} = 'regDt', date(#{xdateFrom}), date('1000-01-01')) 
                                  AND IF(#{xdateType} = 'regDt', date(#{xdateTo})+1, date('1000-01-01'))
               OR
               a.modDateTime BETWEEN IF(#{xdateType} = 'modDt', date(#{xdateFrom}), date('1000-01-01')) 
                                  AND IF(#{xdateType} = 'modDt', date(#{xdateTo})+1, date('1000-01-01'))
               )                                 
           AND a.delNy != #{delNy}
         ORDER BY a.seq DESC
	</select>    
    
    <insert id="insert">
    	INSERT INTO commongroup
    		( name
    		, regDateTime
    		, modDateTime
    		, delNy
    		)
    	VALUES
    		(
    		  #{name}
    		, now()
    		, now()
    		, 0
    		)
    		
<!--     		<selectKey resultType="String" keyProperty="seq" order="AFTER"></selectKey> -->
    </insert>
    
    <update id="update">
    	UPDATE commongroup
    	   SET name = #{name}
    	     , modDateTime = now()
         WHERE 1=1
           AND seq = #{seq}    	  
    </update>
    
    <update id="udtOne">
    	UPDATE commongroup
    	   SET delNy = 1
    	     , modDateTime = now()
         WHERE 1=1
           AND seq = #{seq}    	  
    </update>
    
    <update id="udtZero">
    	UPDATE commongroup
    	   SET delNy = 0
    	     , modDateTime = now()
         WHERE 1=1
           AND seq = #{seq}    	  
    </update>    
    
    <delete id="delete">
    	DELETE FROM commongroup
         WHERE 1=1
           AND seq = #{seq}      
    </delete>
	  
</mapper>