<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucl.infra.code.CodeDao">

	<resultMap id="resultMapObj" type="com.ucl.infra.code.CodeDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
        SELECT a.seq  xcodeGroupSeq
     		 , a.name xcodeGroupName
     		 , b.delNy
     		 , b.seq
     		 , b.name
     		 , b.regDateTime
     		 , b.modDateTime
  		  FROM commongroup a
       		   LEFT JOIN commoncode b
              		  ON b.commonGroup_seq = a.seq 
         WHERE 1 = 1          
         
         <if test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</if>
         
         <choose>
         	<when test="shOptionDate == 1">AND a.regDateTime BETWEEN date(#{shDateStart}) AND date(#{shDateEnd})+1</when>
         	<when test="shOptionDate == 2">AND a.modDateTime BETWEEN date(#{shDateStart}) AND date(#{shDateEnd})+1</when>
         </choose>
         
         <choose>
         	<when test="shOption == 1">AND a.seq = #{shValue}</when>
         	<when test="shOption == 2">AND a.name LIKE CONCAT('%', #{shValue}, '%')</when>
         	<when test="shOption == 3">AND b.seq = #{shValue}</when>
         	<when test="shOption == 4">AND b.name LIKE CONCAT('%', #{shValue}, '%')</when>
         </choose>         
         
         ORDER BY a.seq, b.seq         
	</select>
	
	<select id="selectRegModList" resultMap="resultMapObj">
        SELECT a.seq  xcodeGroupSeq
     		 , a.name xcodeGroupName
     		 , b.delNy
     		 , b.seq
     		 , b.name
     		 , b.regDateTime
     		 , b.modDateTime
  		  FROM commongroup a
       		   LEFT JOIN commoncode b
              		  ON b.commonGroup_seq = a.seq              		   
         WHERE 1 = 1
           AND (b.regDateTime BETWEEN IF(#{xdateType} = 'regDt', date(#{xdateFrom}), date('1000-01-01')) 
                                  AND IF(#{xdateType} = 'regDt', date(#{xdateTo})+1, date('1000-01-01'))
                OR
                b.modDateTime BETWEEN IF(#{xdateType} = 'modDt', date(#{xdateFrom}), date('1000-01-01')) 
                                  AND IF(#{xdateType} = 'modDt', date(#{xdateTo})+1, date('1000-01-01'))
               )
           AND b.delNy != #{delNy}  
         ORDER BY a.seq, b.seq 
	</select>

	<select id="selectOne" resultMap="resultMapObj">
        SELECT a.seq  xcodeGroupSeq
     		 , a.name xcodeGroupName
     		 , b.delNy
     		 , b.seq
     		 , b.name
     		 , b.regDateTime
     		 , b.modDateTime
  		  FROM commongroup a
       		   LEFT JOIN commoncode b
              		  ON b.commonGroup_seq = a.seq              		          
                     AND b.seq = #{seq} 
         WHERE 1 = 1
           AND a.seq = #{xcodeGroupSeq}
	</select>
		
	<select id="selectName" resultMap="resultMapObj">
        SELECT a.seq  xcodeGroupSeq
     		 , a.name xcodeGroupName
     		 , b.delNy
     		 , b.seq
     		 , b.name
     		 , b.regDateTime
     		 , b.modDateTime
  		  FROM commongroup a
       		   LEFT JOIN commoncode b
              		  ON b.commonGroup_seq = a.seq          		   
         WHERE 1 = 1			
           AND b.name  = #{name}
           AND b.delNy = #{delNy}            
	</select>
	
	<insert id="insert">
		INSERT INTO commoncode
			( 
			  name
			, regDateTime
			, modDateTime
			, delNy
			, commonGroup_seq
			)
		VALUES
			(
			  #{name}
			, now()
			, now()
			, 0
			, #{xcodeGroupSeq}
			)
	</insert>
	
	<update id="update">
		UPDATE commoncode
		   SET name = #{name}
		     , modDateTime = now()
         WHERE 1 = 1		
           AND seq = #{seq}	
	</update>
	
	<update id="udtOne">
		UPDATE commoncode
		   SET modDateTime = now()
		     , delNy = 1
         WHERE 1 = 1		
           AND seq = #{seq}	
	</update>
	
	<update id="udtZero">
		UPDATE commoncode
		   SET modDateTime = now()
		     , delNy = 0
         WHERE 1 = 1		
           AND seq = #{seq}	
	</update>
	
	<update id="delete">
		DELETE FROM commoncode
        WHERE 1 = 1		
          AND seq = #{seq}	
	</update>

</mapper>