<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucl.infra.index.IndexDao">

	<resultMap id="resultMapObj" type="com.ucl.infra.index.IndexDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT b.seq  xcodeGroupSeq
     		 , b.name xcodeGroupName
     		 , a.delNy
     		 , a.seq
     		 , a.name
     		 , a.regDateTime
     		 , a.modDateTime
  		  FROM commoncode a
       		   LEFT JOIN commongroup b
              		  ON b.seq = a.commonGroup_seq
         WHERE 1 = 1		
         ORDER BY b.seq, a.seq 
	</select>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT b.seq  xcodeGroupSeq
     		 , b.name xcodeGroupName
     		 , a.delNy
     		 , a.seq
     		 , a.name
     		 , a.regDateTime
     		 , a.modDateTime
  		  FROM commoncode a
       		   LEFT JOIN commongroup b
              		  ON b.seq = a.commonGroup_seq
         WHERE 1 = 1		
           AND a.seq = #{seq}	
	</select>
		
	<select id="selectName" resultMap="resultMapObj">
		SELECT b.seq  xcodeGroupSeq
     		 , b.name xcodeGroupName
     		 , a.delNy
     		 , a.seq
     		 , a.name
     		 , a.regDateTime
     		 , a.modDateTime
  		  FROM commoncode a
       		   LEFT JOIN commongroup b
              		  ON b.seq = a.commonGroup_seq
         WHERE 1 = 1			
           AND a.name = #{name}
	</select>
	
	<insert id="insert">
		INSERT INTO commoncode
			( 
			  name
			, regDateTime
			, modDateTime
			, delNy
			, commonGroup_seq
			)
		VALUES
			(
			  #{name}
			, now()
			, now()
			, 0
			, #{xcodeGroupSeq}
			)
	</insert>
	
	<update id="update">
		UPDATE commoncode
		   SET name = #{name}
		     , modDateTime = now()
         WHERE 1 = 1		
           AND seq = #{seq}	
	</update>
	
	<update id="udtOne">
		UPDATE commoncode
		   SET modDateTime = now()
		     , delNy = 1
         WHERE 1 = 1		
           AND seq = #{seq}	
	</update>
	
	<update id="udtZero">
		UPDATE commoncode
		   SET modDateTime = now()
		     , delNy = 0
         WHERE 1 = 1		
           AND seq = #{seq}	
	</update>	
	
	<update id="delete">
		DELETE FROM commoncode
        WHERE 1 = 1		
          AND seq = #{seq}	
	</update>
	
	<!-- 판매현황(계) -->
	<select id="selectOneSaleInfo" resultMap="resultMapObj">
		SELECT MAX(brandH) brandH, SUM(priceH) priceH, SUM(countH) countH
		     , MAX(brandG) brandG, SUM(priceG) priceG, SUM(countG) countG
		     , MAX(brandK) brandK, SUM(priceK) priceK, SUM(countK) countK
		     , SUM(priceH) + SUM(priceG) + SUM(priceK) priceTot
		     , SUM(countH) + SUM(countG) + SUM(countK) countTot
		  FROM (     
				SELECT c.cdcName brandH, SUM(a.buyPrice) priceH, COUNT(*) countH
				     , NULL brandG, 0 priceG, 0 countG
				     , NULL brandK, 0 priceK, 0 countK
				  FROM productbuy a
				       JOIN product b
				         ON b.pdtSeq = a.pdtSeq        
				       JOIN code c
				         ON c.cdcSeq = b.pdtBrandCd
				 WHERE 1 = 1
				   AND b.pdtBrandCd = 7
				 GROUP BY c.cdcName
				UNION
				SELECT NULL, 0, 0
				     , c.cdcName, SUM(a.buyPrice) buyPrice, COUNT(*) cnt
				     , NULL, 0, 0
				  FROM productbuy a
				       JOIN product b
				         ON b.pdtSeq = a.pdtSeq
				       JOIN code c
				         ON c.cdcSeq = b.pdtBrandCd
				 WHERE 1 = 1
				   AND b.pdtBrandCd = 8         
				 GROUP BY c.cdcName
				UNION 
				SELECT NULL, 0, 0
				     , NULL, 0, 0     
				     , c.cdcName, SUM(a.buyPrice) buyPrice, COUNT(*) cnt
				  FROM productbuy a
				       JOIN product b
				         ON b.pdtSeq = a.pdtSeq
				       JOIN code c
				         ON c.cdcSeq = b.pdtBrandCd
				 WHERE 1 = 1
				   AND b.pdtBrandCd = 9         
				 GROUP BY c.cdcName 
			   ) a	
	</select>
	
	<sql id="selectCommon">
		SELECT c.cdcName typeName
		     , d.cdcName brandName
		     , e.cdcName colorName
		     , concat(b.pdtYear, "년 ", b.pdtMonth, "월") yearMonth
		     , b.pdtName
		     , a.buyPrice
		     , a.buyDateTime
		  FROM productbuy a
		       JOIN product b
		         ON b.pdtSeq = a.pdtSeq        
		       JOIN code c
		         ON c.cdcSeq = b.pdtTypeCd
		       JOIN code d
		         ON d.cdcSeq = b.pdtBrandCd
		       JOIN code e
		         ON e.cdcSeq = b.pdtColorCd
		 WHERE 1 = 1	
	</sql>
	
    <!-- 판매현황(자료수) -->
    <select id="selectOneCount">
        SELECT COUNT(*)
          FROM (
      			<include refid="selectCommon"/>
      		   ) a
    </select>	
	
	<!-- 판매현황(리스트) -->
	<select id="selectListSaleList" resultMap="resultMapObj">
		SELECT *
		  FROM (
				<include refid="selectCommon"/>
		       ) a
    	 LIMIT #{pgRowCount}
    	OFFSET #{pgOffset} 		 
	</select>	

</mapper>