<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucl.infra.kakaopay.KakaoPayDao">

	<resultMap id="resultMapObj" type="com.ucl.infra.kakaopay.KakaoPayDto"></resultMap>
	
	
	<!-- 카카오페이 결제등록용 순번 -->
	<insert id="paymentInsertPaySeq">
		INSERT INTO memberpayment
			(
			  payDate
			, payTypeCd
			, mbrSeq
			)
		VALUES
			(
			  now()
			, #{payTypeCd}
			, #{mbrSeq}		
			)
		<selectKey resultType="String" keyProperty="paySeq" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
		
	<!-- 카카오페이 결제등록 -->
	<update id="paymentUpdateKakaoPay">
		UPDATE memberpayment
		   SET payDate       = now()
			 , payQuantity   = #{quantity}
			 , payTotal      = #{total}
			 , payVat        = #{vat_amount}
			 , payTaxFree    = #{tax_free_amount}
			 , payTid        = #{tid}
			 , payCreatedAt  = #{created_at}
			 , payApprovedAt = #{approved_at}
		 WHERE paySeq        = #{partner_order_id}
	</update>	
	
</mapper>