<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucl.infra.member.MemberDao">

	<resultMap id="resultMapObj" type="com.ucl.infra.member.MemberDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT b.seq  xcodeGroupSeq
     		 , b.name xcodeGroupName
     		 , a.delNy
     		 , a.seq
     		 , a.name
     		 , a.regDateTime
     		 , a.modDateTime
  		  FROM commoncode a
       		   LEFT JOIN commongroup b
              		  ON b.seq = a.commonGroup_seq
         WHERE 1 = 1		
         ORDER BY b.seq, a.seq 
	</select>

	<select id="selectOne" resultMap="resultMapObj">
		SELECT b.seq  xcodeGroupSeq
     		 , b.name xcodeGroupName
     		 , a.delNy
     		 , a.seq
     		 , a.name
     		 , a.regDateTime
     		 , a.modDateTime
  		  FROM commoncode a
       		   LEFT JOIN commongroup b
              		  ON b.seq = a.commonGroup_seq
         WHERE 1 = 1		
           AND a.seq = #{seq}	
	</select>
		
	<select id="selectName" resultMap="resultMapObj">
		SELECT b.seq  xcodeGroupSeq
     		 , b.name xcodeGroupName
     		 , a.delNy
     		 , a.seq
     		 , a.name
     		 , a.regDateTime
     		 , a.modDateTime
  		  FROM commoncode a
       		   LEFT JOIN commongroup b
              		  ON b.seq = a.commonGroup_seq
         WHERE 1 = 1			
           AND a.name = #{name}
	</select>
	
	<insert id="insert">
		INSERT INTO commoncode
			( 
			  name
			, regDateTime
			, modDateTime
			, delNy
			, commonGroup_seq
			)
		VALUES
			(
			  #{name}
			, now()
			, now()
			, 0
			, #{xcodeGroupSeq}
			)
	</insert>
	
	<update id="update">
		UPDATE commoncode
		   SET name = #{name}
		     , modDateTime = now()
         WHERE 1 = 1		
           AND seq = #{seq}	
	</update>
	
	<update id="udtOne">
		UPDATE commoncode
		   SET modDateTime = now()
		     , delNy = 1
         WHERE 1 = 1		
           AND seq = #{seq}	
	</update>
	
	<update id="udtZero">
		UPDATE commoncode
		   SET modDateTime = now()
		     , delNy = 0
         WHERE 1 = 1		
           AND seq = #{seq}	
	</update>	
	
	<update id="delete">
		DELETE FROM commoncode
        WHERE 1 = 1		
          AND seq = #{seq}	
	</update>

</mapper>