<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucl.infra.product.ProductDao">

	<resultMap id="resultMapObj" type="com.ucl.infra.product.ProductDto"></resultMap>
	
	<sql id="selectCommon">
		  FROM product a
		 WHERE 1 = 1
		 
		<choose>
			<when test="shOptionDate == 1">AND a.pdtRegDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.pdtUdtDt BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND a.pdtName LIKE CONCAT('%', #{shValue}, '%')</when>
		</choose>
		
		<choose>
			<when test="shOptionRunKm == 1">AND a.pdtRunKm  BETWEEN #{shOptionRunKmFrom} AND #{shOptionRunKmTo}</when>
			<when test="shOptionRunKm == 2">AND a.pdtRunKm <![CDATA[<=]]> #{shOptionRunKmFrom}</when>
			<when test="shOptionRunKm == 3">AND a.pdtRunKm >= #{shOptionRunKmFrom}</when>
		</choose>	

		<choose>
			<when test="shOptionYear == 1">AND a.pdtYear  BETWEEN #{shOptionYearFrom} AND #{shOptionYearTo}</when>
			<when test="shOptionYear == 2">AND a.pdtYear <![CDATA[<=]]> #{shOptionYearFrom}</when>
			<when test="shOptionYear == 3">AND a.pdtYear >= #{shOptionYearFrom}</when>
		</choose>	
		
		<choose>
			<when test="shOptionYear == 1">AND a.pdtMonth  BETWEEN #{shOptionMonthFrom} AND #{shOptionMonthTo}</when>
			<when test="shOptionYear == 2">AND a.pdtMonth <![CDATA[<=]]> #{shOptionMonthFrom}</when>
			<when test="shOptionYear == 3">AND a.pdtMonth >= #{shOptionMonthFrom}</when>
		</choose>			

		<if test="shCarType   != null and !shCarType.equals('')">  AND a.pdtTypeCd      = #{shCarType}</if>
		<if test="shCarBrand  != null and !shCarBrand.equals('')"> AND a.pdtBrandCd     = #{shCarBrand}</if>
		<if test="shCarColor  != null and !shCarColor.equals('')"> AND a.pdtColorCd     = #{shCarColor}</if>
		<if test="shRecommend != null and !shRecommend.equals('')">AND a.pdtRecommendCd = #{shRecommend}</if>
		<if test="shAccident  != null and !shAccident.equals('')"> AND a.pdtAccidentCd  = #{shAccident}</if>
		<if test="shDelNy 	  != null and !shDelNy.equals('')">    AND a.pdtDelNy       = #{shDelNy}</if>		
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.*
		  FROM (
				SELECT a.pdtSeq
					 , a.pdtTypeCd
					 , a.pdtBrandCd
					 , a.pdtName
					 , a.pdtAccidentCd
					 , a.pdtYear
					 , a.pdtMonth
					 , CONCAT(a.pdtYear,'/',a.pdtMonth) xpdtYearMonth
					 , a.pdtRunKm
					 , a.pdtColorCd
					 , a.pdtPrice
					 , a.pdtRecommendCd
					 , a.pdtRegDt
					 , a.pdtUdtDt
					 , a.pdtDelNy
			  <include refid="selectCommon"/>
		         ORDER BY a.pdtSeq DESC
		         LIMIT 99999999999
               ) aa
    	 LIMIT #{pgRowCount}
    	OFFSET #{pgOffset}         
	</select>
	
    <!-- 카운팅 -->
    <select id="selectOneDataCount">
        SELECT COUNT(*)
      <include refid="selectCommon"/>
    </select>		

	<select id="selectOne" resultMap="resultMapObj">
		SELECT a.pdtSeq
			 , a.pdtTypeCd
			 , a.pdtBrandCd
			 , a.pdtName
			 , a.pdtAccidentCd
			 , a.pdtYear
			 , a.pdtMonth
			 , a.pdtRunKm
			 , a.pdtColorCd
			 , a.pdtPrice
			 , a.pdtRecommendCd
			 , a.pdtRegDt
			 , a.pdtUdtDt
			 , a.pdtDelNy
		  FROM product a
		 WHERE 1 = 1		
           AND a.pdtSeq = #{pdtSeq}
	</select>	
	
	<!-- 제조사별 카운터 -->
	<select id="selectListBrand" resultMap="resultMapObj">
		SELECT a.pdtBrandCd
             , b.cdcName pdtName
             , CONCAT('(',COUNT(*),')') xpdtGroupCount
          FROM product a          
               LEFT JOIN code b
                      ON b.cdcSeq = a.pdtBrandCd
         WHERE 1 = 1
         GROUP BY a.pdtBrandCd
             , b.cdcName
         ORDER BY a.pdtBrandCd
	</select>

    <!-- 사용자 차량조회용 카운팅 -->
    <select id="selectOneUsrDataCount">
        SELECT COUNT(*)
          FROM product a
         WHERE 1 = 1
           AND a.pdtDelNy = 0
    </select>	
    
	<!-- 사용자 차량조회 -->
	<select id="selectListCarInfo" resultMap="resultMapObj">
		SELECT * 
		  FROM (
				SELECT a.pdtSeq
				     , a.pdtTypeCd
				     , d.cdcName xpdtTypeName
				     , a.pdtBrandCd
				     , CONCAT('[', e.cdcName, ']') xpdtBrandName
				     , a.pdtName
				     , a.pdtAccidentCd
				     , f.cdcName xpdtAccidentName
				     , a.pdtYear
				     , a.pdtMonth
				     , a.pdtRunKm
				     , a.pdtColorCd
				     , g.cdcName xpdtColorName 
				     , a.pdtPrice
				     , a.pdtRecommendCd
				     , MAX(CASE WHEN b.pdiBack = 0 THEN b.pdiUrl END) xpdtImgF
				     , MAX(CASE WHEN b.pdiBack = 1 THEN b.pdiUrl END) xpdtImgB
		             , IFNULL(c.xpdtStar ,0) xpdtStar 
		             , IFNULL(c.xpdtCount,0) xpdtCount
		               <choose>
		               		<when test="shMbrSeq != null and !shMbrSeq.equals('')">, h.wshSeq xwshSeq</when>
		             		<otherwise>, null xwshSeq</otherwise>
		               </choose>
				  FROM product a
				       LEFT JOIN productimg b
				              ON b.pdtSeq = a.pdtSeq
		               LEFT JOIN (SELECT pdtSeq
		                               , ROUND(AVG(rvwStar)) xpdtStar
		                               , COUNT(*)            xpdtCount
		                            FROM productreview
		                           GROUP BY pdtSeq
		                         ) c
		                      ON c.pdtSeq = a.pdtSeq
		                    JOIN code d
		                      ON d.cdcSeq = a.pdtTypeCd
		                    JOIN code e
		                      ON e.cdcSeq = a.pdtBrandCd
		                    JOIN code f
		                      ON f.cdcSeq = a.pdtAccidentCd
		                    JOIN code g
		                      ON g.cdcSeq = a.pdtColorCd
		                      
					   <if test="shMbrSeq != null and !shMbrSeq.equals('')">
		               LEFT JOIN productWishlist h
		                      ON h.pdtSeq = a.pdtSeq
		                     AND h.mbrSeq = #{shMbrSeq}					   
					   </if>
		         WHERE 1 = 1
		           AND a.pdtDelNy = 0
				   <if test="shSeq != null and !shSeq.equals('')">AND a.pdtSeq = #{shSeq}</if>
		           <if test="shRecommend != null and !shRecommend.equals('')">AND a.pdtRecommendCd = #{shRecommend}</if>
		               
		           <!-- 차종 -->
	               <if test="shCheckboxTypeArray != null and shCheckboxTypeArray.length != 0">
						AND a.pdtTypeCd IN
	                 	<foreach collection="shCheckboxTypeArray" item="type" open="(" close=")" separator=",">
		               		#{type}
					 	</foreach> 		               
	               </if>
		               	
		           <!-- 제조사 -->
	               <if test="shCheckboxBrandArray != null and shCheckboxBrandArray.length != 0">
	                 	AND a.pdtBrandCd IN
	                 	<foreach collection="shCheckboxBrandArray" item="brand" open="(" close=")" separator=",">
		               		#{brand}
					 	</foreach> 		               
	               </if>	
	               
	               <!-- 색상 -->
	               <if test="shCheckboxColorArray != null and shCheckboxColorArray.length != 0">
	               		AND a.pdtColorCd IN
	               		<foreach collection="shCheckboxColorArray" item="color" open="(" close=")" separator=",">
	               			#{color}
	               		</foreach>
	               </if>	
             
             	   <!-- 연식 -->
		           <if test="shOptionYearFrom != null and !shOptionYearFrom.equals('') and shOptionYearTo != null and !shOptionYearTo.equals('')">
		           		AND a.pdtYear BETWEEN #{shOptionYearFrom} AND #{shOptionYearTo}
		           </if>
		           
		           <!-- 판매가액 -->
		           <if test="shPriceFrom != null and shPriceFrom != 0 and shPriceTo != null and shPriceTo != 0">
		           		AND a.pdtPrice BETWEEN #{shPriceFrom} AND #{shPriceTo}
		           </if>
		           
				 GROUP BY a.pdtSeq
				     , a.pdtTypeCd
				     , d.cdcName
				     , a.pdtBrandCd
				     , CONCAT('[', e.cdcName, ']')
				     , a.pdtName
				     , a.pdtAccidentCd
				     , f.cdcName
				     , a.pdtYear
				     , a.pdtMonth
				     , a.pdtRunKm
				     , a.pdtColorCd
				     , g.cdcName
				     , a.pdtPrice
				     , a.pdtRecommendCd
				       <if test="shMbrSeq != null and !shMbrSeq.equals('')">, h.wshSeq</if>
				       <if test="shSeq == null or shSeq.equals('')">ORDER BY a.pdtSeq</if>
		               <if test="shNewRegNy == 1">LIMIT #{shDispCount}</if> <!-- 최근등록조회경우 화면표시 갯수제한 -->
               ) a
    	 LIMIT #{pgRowCount}
    	OFFSET #{pgOffset}                       
	</select>
	
	<!-- 구매내역, 찜내역 공통 쿼리 -->
	<sql id="selectCommonProductSelect">
		SELECT a.mbrSeq
		     , a.mbrName
		     , d.pdtTypeCd
		     , e.cdcName xpdtTypeName
		     , d.pdtBrandCd
		     , CONCAT('[', f.cdcName, ']') xpdtBrandName
		     , d.pdtName
		     , d.pdtAccidentCd
		     , g.cdcName xpdtAccidentName
		     , d.pdtColorCd
			 , h.cdcName xpdtColorName 
		     , d.pdtYear
		     , d.pdtMonth
		     , d.pdtRunKm
		     , MAX(CASE WHEN j.pdiBack = 0 THEN j.pdiUrl END) xpdtImgF
			 , MAX(CASE WHEN j.pdiBack = 1 THEN j.pdiUrl END) xpdtImgB	
	</sql>
	
	<sql id="selectCommonProductFrom">
		       JOIN code e
		         ON e.cdcSeq = d.pdtTypeCd
		       JOIN code f
		         ON f.cdcSeq = d.pdtBrandCd
		       JOIN code g
		         ON g.cdcSeq = d.pdtAccidentCd
		       JOIN code h
		         ON h.cdcSeq = d.pdtColorCd
		       JOIN productimg j
		         ON j.pdtSeq = d.pdtSeq
	</sql>
	
	<sql id="selectCommonProductGroup">
		     , d.pdtTypeCd
		     , e.cdcName
		     , d.pdtBrandCd
		     , CONCAT('[', f.cdcName, ']')
		     , d.pdtName
		     , d.pdtAccidentCd
		     , g.cdcName
		     , d.pdtYear
		     , d.pdtMonth
		     , d.pdtRunKm
	</sql>
	
	<!-- 구매내역, 찜내역 공통 쿼리 끝 -->
	
	<!-- 구매내역 -->
	<select id="selectListSale" resultMap="resultMapObj">
		<include refid="selectCommonProductSelect"/>
		     , c.pdtSeq
		     , c.buyDateTime xDateTime
		     , c.buyPrice pdtPrice
		     , c.buySeq
		  FROM members a
		       JOIN memberpayment b
		         ON b.mbrSeq = a.mbrSeq
		       JOIN productbuy c
		         ON c.paySeq = c.paySeq
		        AND c.buyDelNy = 0 
		       JOIN product d
		         ON d.pdtSeq = c.pdtSeq
		        AND d.pdtDelNy = 0
		   <include refid="selectCommonProductFrom"/>
		 WHERE 1 = 1
		   AND a.mbrSeq = #{shSeq}
		 GROUP BY a.mbrSeq
		     , a.mbrName
		     , c.pdtSeq
		     , c.buyDateTime
		     , c.buyPrice
		     , c.buySeq
		       <include refid="selectCommonProductGroup"/>
		 ORDER BY c.buyDateTime DESC, c.buySeq
	</select>
	
	<!-- 찜 내역 -->
	<select id="selectListWishList" resultMap="resultMapObj">
		<include refid="selectCommonProductSelect"/>
		     , b.pdtSeq
		     , b.wshSeq xwshSeq
		     , b.wshDt xDateTime
		     , d.pdtPrice
		  FROM members a
		       JOIN productwishlist b
		         ON b.mbrSeq = a.mbrSeq
		        AND b.wshDelNy = 0 
		       JOIN product d
		         ON d.pdtSeq = b.pdtSeq
		        AND d.pdtDelNy = 0
		       <include refid="selectCommonProductFrom"/>
		 WHERE 1 = 1
		   AND a.mbrSeq = #{shSeq}
		 GROUP BY a.mbrSeq
		     , a.mbrName
		     , b.wshSeq
		     , b.wshDt
		     , d.pdtPrice
		       <include refid="selectCommonProductGroup"/>
		 ORDER BY b.wshDt DESC, b.wshSeq
	</select>
	
	<!-- 찜내역 건수 및 합계금액 -->
	<select id="selectOneWisilistCount" resultMap="resultMapObj">
		SELECT COUNT(*) xpdtCount
		     , SUM(b.pdtPrice) pdtPrice
		  FROM productwishlist a
		       JOIN product b
		         ON b.pdtSeq = a.pdtSeq
		 WHERE 1 = 1
		   AND a.mbrSeq = #{shSeq}
		   AND a.wshDelNy = 0		   
	</select>
	
	<!-- 제품등록 -->
	<insert id="insert">
		INSERT INTO product
			( 
			  pdtTypeCd
			, pdtBrandCd
			, pdtName
			, pdtAccidentCd
			, pdtYear
			, pdtMonth
			, pdtRunKm
			, pdtColorCd
			, pdtPrice
			, pdtRecommendCd
			, pdtRegDt
			, pdtUdtDt
			, pdtDelNy
			)
		VALUES
			(
			  #{pdtTypeCd}
			, #{pdtBrandCd}
			, #{pdtName}
			, #{pdtAccidentCd}
			, #{pdtYear}
			, #{pdtMonth}
			, #{pdtRunKm}
			, #{pdtColorCd}
			, #{pdtPrice}
			, #{pdtRecommendCd}
			, now()
			, now()
			, 0
			)
	</insert>
	
	<update id="update">
		UPDATE product
		   SET pdtTypeCd      = #{pdtTypeCd}
			 , pdtBrandCd     = #{pdtBrandCd}
			 , pdtName        = #{pdtName}
			 , pdtAccidentCd  = #{pdtAccidentCd}
			 , pdtYear        = #{pdtYear}
			 , pdtMonth       = #{pdtMonth}
			 , pdtRunKm       = #{pdtRunKm}
			 , pdtColorCd     = #{pdtColorCd}
			 , pdtPrice       = #{pdtPrice}
			 , pdtRecommendCd = #{pdtRecommendCd}
			 , pdtUdtDt       = now()
         WHERE 1 = 1		
           AND pdtSeq = #{pdtSeq}	
	</update>
	
	<update id="updateDelNy">
		UPDATE product
		   SET pdtUdtDt = now()
		   
		   <choose>
		   		<when test="pdtDelNy == 0">, pdtDelNy = 1</when>
		   		<when test="pdtDelNy == 1">, pdtDelNy = 0</when>
		   </choose>
         WHERE 1 = 1		
           AND pdtSeq = #{pdtSeq}
	</update>	
	
	<delete id="delete">
		DELETE FROM product
         WHERE 1 = 1		
           AND pdtSeq = #{pdtSeq}
	</delete>	    

</mapper>