<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucl.infra.review.ReviewDao">

	<resultMap id="resultMapObj" type="com.ucl.infra.review.ReviewDto"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT a.rvwSeq
             , a.mbrSeq
             , b.mbrName xmbrName
             , a.rvwRemark
             , a.rvwStar
             , a.rvwDateTime
             , a.pdtSeq
             , (SELECT COUNT(*) 
		          FROM productreview aa
		         WHERE aa.pdtSeq = a.pdtSeq		              
		       ) xrvwCount
		     , (SELECT ROUND(AVG(rvwStar)) 
		          FROM productreview bb
		         WHERE bb.pdtSeq = a.pdtSeq		              
		       ) xrvwStar
		  FROM productreview a
		       LEFT JOIN members b
		         ON b.mbrSeq = a.mbrSeq
		 WHERE 1 = 1
		   AND a.pdtSeq = #{shSeq}	
	</select>
	
	<select id="selectListCount" resultMap="resultMapObj">
		SELECT COUNT(*) xrvwCount
		     , ROUND(AVG(rvwStar)) xrvwStar
		  FROM productreview 
		 WHERE 1 = 1
		   AND pdtSeq = #{shSeq}	
	</select>	
	
 	<insert id="insertReview">
		INSERT INTO productreview
			( 
			  mbrSeq
			, rvwRemark
			, rvwStar
			, rvwDateTime
			, pdtSeq
			)
		VALUES
			(
			  #{mbrSeq}
			, #{rvwRemark}
			, #{rvwStar}
			, now()
			, #{pdtSeq}
			)
	</insert>	    

</mapper>