<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ucl.infra.wishlist.WishlistDao">

	<resultMap id="resultMapObj" type="com.ucl.infra.wishlist.WishlistDto"></resultMap>
	
	<!-- 1건조회 -->
	<select id="selectOneWishlist" resultMap="resultMapObj">
		SELECT wshSeq
		  FROM productwishlist
		 WHERE mbrSeq = #{mbrSeq}
		   AND pdtSeq = #{pdtSeq}
		 GROUP BY wshSeq
	</select>
	
	<!-- 찜등록 -->
	<insert id="insertWishlist">
		INSERT INTO productwishlist
			( mbrSeq
			, wshDt
			, wshRegDt
			, wshUdtDt
			, wshDelNy
			, pdtSeq
			)
		VALUES
			( #{mbrSeq}
			, now()
			, now()
			, now()
			, 0
			, #{pdtSeq}
			)
	<selectKey keyProperty="wshSeq" resultType="String" order="AFTER" >
		SELECT LAST_INSERT_ID()
	</selectKey>			
	</insert>
	
	<!-- 찜 삭제 -->
	<delete id="deleteWishlist">
		DELETE
		  FROM productwishlist
		 WHERE 1 = 1
		   AND wshSeq = #{shSeq}
		   AND mbrSeq = #{shMbrSeq}
	</delete>   

</mapper>