<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<div th:replace="~{infra/v1/include/headUsr :: head}"></div>

<body class="product-cart checkout-cart blog">
    <header>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
            	<div th:replace="~{infra/v1/include/bodyUsr :: topMenu(2)}"></div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="main-content" id="cart">
        <!-- main -->
        <div id="wrapper-site">
            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li><a href="/indexUsr"><span>Home</span></a></li>
                            <li><span><b>결제확인</b></span></li>
                        </ol>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                        <section id="main">
                            <div class="cart-grid row">
                                <div class="col-md-12 col-xs-12 check-info">
                                    <h1 class="title-page">결제목록</h1>
                                    <div class="cart-container">
                                        <div class="cart-overview js-cart">
                                            <ul class="cart-items">
												<th:block th:if="${#lists.isEmpty(list)}">
													<li class="cart-item">
														<div>결제목록이 없습니다</div>
													</li>
												</th:block>
												
												<th:block th:unless="${#lists.isEmpty(list)}" th:each="list : ${list}">
	                                                <li class="cart-item">
	                                                    <div class="product-line-grid row justify-content-between">
	                                                        <!-- 차량이미지 -->
	                                                        <div class="product-line-grid-left col-md-2">
	                                                            <span class="product-image media-middle">
	                                                                <a th:href="@{/productUsrDetail(pdtSeq=${list.pdtSeq})}">
	                                                                    <img class="img-fluid" th:src="${list.xpdtImgF}" th:alt="${list.xpdtBrandName}+' '+${item.pdtName}">
	                                                                </a>
	                                                            </span>
	                                                        </div>
	
	                                                        <!-- 차량명 -->
	                                                        <div class="product-line-grid-body col-md-4">
	                                                            <div class="product-line-info">
	                                                                <a class="label" th:href="@{/productUsrDetail(pdtSeq=${list.pdtSeq})}" data-id_customization="0" style="font-size: 15px;">
	                                                                	<th:block>
																			<span th:text="${list.xpdtBrandName}"></span>
																			<br>
																			<span th:text="${list.pdtName}"></span>
																		</th:block>
	                                                                </a>
	                                                            </div>
	                                                            
	                                                            <!-- 구매금액 -->
	                                                            <div class="product-line-info product-price mt-2">
	                                                                ￦<span class="price" th:text="${#numbers.formatInteger(list.xbuyPrice, 1, 'COMMA')}" style="font-size: 15px;"></span>원
	                                                            </div>
	                                                            <div class="product-line-info product-price mt-2">
	                                                                <span style="font-size: 15px;">구매일시 </span>
	                                                                <span style="font-size: 15px;" th:text="${#dates.format(list.xbuyDateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
	                                                            </div>
	                                                        </div>
	                                                        
	                                                        <div class="product-line-grid-right text-center product-line-actions col-md-6">
	                                                            <div class="row">
	                                                                <div class="col">
	                                                                    <div class="label"><b>사고유무</b></div>
	                                                                    <span th:text="${list.xpdtAccidentName}"></span>
	                                                                </div>
	
	                                                                <div class="col">
	                                                                    <div class="label"><b>연식</b></div>
	                                                                    <span th:text="${list.pdtYear} + '년 ' + ${list.pdtMonth} + '월'"></span>
	                                                                </div>
	                                                            </div>
	
	                                                            <div class="row mt-3">
	                                                                <div class="col">
	                                                                    <div class="label"><b>주행기록</b></div>
	                                                                    <span th:text="${#numbers.formatInteger(list.pdtRunKm, 1, 'COMMA')}+'km'"></span>
	                                                                </div>
	
	                                                                <div class="col">
																		<div class="label"><b>색상</b></div>
	                                                                    <span th:text="${list.xpdtColorName}"></span>																		
																	</div>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>

									<th:block th:if    ="${#lists.isEmpty(item)}"></th:block>
									<th:block th:unless="${#lists.isEmpty(item)}">
	                                    <div class="cart-grid-right row justify-content-between">
	                                        <div class="col-xs-12 col-lg-12">
	                                            <div class="cart-summary">
	                                                <div class="cart-detailed-totals">
	                                                    <div class="cart-summary-products">
	                                                        <div class="summary-label">결제품목 <span th:text="${item.xbuyCount}+'개'"></span></div>
	                                                    </div>
	                                                    <div class="cart-summary-line cart-total">
	                                                        <span class="label">결제금액 </span>
	                                                        ￦<span class="price" style="font-size: 17px; color: yellow;" th:text="${#numbers.formatInteger(item.xbuyPrice, 1, 'COMMA')}"></span>원
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	
	                                    <div class="">
	                                        <div class="">
	                                            <div id="main">
	                                                <h1 class="title-page">결제결과</h1>
	                                                <div class="content" id="">
	                                                    <table class="table">
	                                                        <tbody>
	                                                            <tr>
	                                                                <th class="first_item">결제일시</th>
	                                                                <td th:text="${#dates.format(item.payDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
	                                                            </tr>                                                            
	                                                            <tr>
	                                                                <th class="first_item">결제구분</th>
	                                                                <td th:text="${item.xpayTypeName}"></td>
	                                                            </tr>
	                                                            <tr>
	                                                                <th class="first_item">카드사</th>
	                                                                <td th:text="${item.xpayCardName}"></td>
	                                                            </tr>
	                                                            <tr>
	                                                                <th class="first_item">카드번호</th>
	                                                                <td th:text="${item.payCardNo1}+'-****-****-'+${item.payCardNo4}"></td>
	                                                            </tr>
	                                                            <tr>
	                                                                <th class="first_item">결제금액</th>
	                                                                <td>￦<span class="price" th:text="${#numbers.formatInteger(item.xbuyPrice, 1, 'COMMA')}"></span>원</td>
	                                                            </tr>
	                                                        </tbody>
	                                                    </table>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>  
                                    </th:block>
                                                                       
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="~{infra/v1/include/headUsr :: footer}"></div>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- Vendor JS -->
    <script src="usr/libs/jquery/jquery.min.js"></script>
    <script src="usr/libs/popper/popper.min.js"></script>
    <script src="usr/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="usr/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="usr/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="usr/libs/slider-range/js/tmpl.js"></script>
    <script src="usr/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="usr/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="usr/libs/slider-range/js/jquery.slider.js"></script>
    <script src="usr/libs/slick-slider/js/slick.min.js"></script>

    <!-- Template JS -->
    <script src="usr/js/theme.js"></script>
</body>

</html>