<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- product-grid-sidebar-left10:54-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>중고조아</title>

    <meta name="keywords" content="중고차, OldCar">
    <meta name="description" content="중고조아 - 중고차 쇼핑몰">
    <!-- <meta name="author" content="tivatheme"> -->

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">        

    <link rel="stylesheet" href="usr/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="usr/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="usr/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="usr/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="usr/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="usr/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="usr/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="usr/libs/owl-carousel/assets/owl.carousel.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="usr/css/style.css">
    <link rel="stylesheet" type="text/css" href="usr/css/reponsive.css">
    
    <!-- 함수 스크립트 -->
    <script src="usr/js/validation.js"></script>
    <script src="usr/js/paging.js"></script>
    <script src="sdm/js/common.js"></script>     
</head>

<body id="product-sidebar-left" class="product-grid-sidebar-left">
    <header>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
                <div th:replace="~{infra/v1/include/bodyUsr :: topMenu(1)}"></div>
            </div>
        </div>
    </header>
    
	<form id="form" name="form" method="get">
		<!-- 페이지 번호 -->
		<input type="hidden" id="pgPage" name="pgPage" th:value="${vo.pgPage}" default="1">
		
	    <!-- main content -->
	    <div class="main-content">
	        <div id="wrapper-site">
	            <div id="content-wrapper" class="full-width">
	                <div id="main">
	                    <div class="page-home">
	                        <!-- breadcrumb -->
	                        <nav class="breadcrumb-bg">
	                            <div class="container no-index">
	                                <div class="breadcrumb">
	                                    <ol>
	                                        <li><a href="/indexUsr"><span>Home</span></a></li>
	                                        <li><span><b>차량조회</b></span></li>
	                                    </ol>
	                                </div>
	                            </div>
	                        </nav>
	
	                        <div class="container">
	                            <div class="content">
	                                <div class="row">
										<!-- 체크박스 조건담을 태그 -->
										<!-- 차종 -->
										<input id="shCheckboxTypeArray"  name="shCheckboxTypeArray"  type="hidden" />
										<!-- 제조사 -->
										<input id="shCheckboxBrandArray" name="shCheckboxBrandArray" type="hidden" />
                                       	<!-- 색상전 -->
                                       	<input id="shCheckboxColorArray" name="shCheckboxColorArray" type="hidden"/>										
										
	                                    <div class="sidebar-3 sidebar-collection col-lg-3 col-md-4 col-sm-4">
	                                        <!-- best seller -->
	                                        <div class="sidebar-block">
	                                            <div class="title-block">내차찾기</div>
	                                            <div class="new-item-content">
	                                                <h3 class="title-product">차종</h3>
	                                                <ul class="scroll-product">
														<th:block th:each="list : ${@codeService.selectListCachedCode(3)}">
															<li>
		                                                        <label class="check">
		                                                            <input th:id="'checkboxSeq_'+${list.cdcSeq}" name="checkboxTypeSeq" type="checkbox" th:value="${list.cdcSeq}"
		                                                            	th:checked="${#arrays.contains(vo.shCheckboxTypeArray, list.cdcSeq)}"
		                                                            	onclick="fnCheckboxClick()">
		                                                            <span class="checkmark"></span>
		                                                        </label>
		                                                        <label th:for="${list.cdcSeq}"><b th:text="${list.cdcName}"></b></label>
		                                                    </li>
														</th:block>
	                                                </ul>
	                                            </div>
	                                            
	                                            <div class="new-item-content">
	                                                <h3 class="title-product">제조사</h3>
	                                                <ul class="scroll-product">
														<th:block th:each="list : ${listBrand}">
															<li>
		                                                        <label class="check">
		                                                            <input th:id="'checkboxBrand'+${list.pdtBrandCd}" name="checkboxBrandSeq" type="checkbox" th:value="${list.pdtBrandCd}"
		                                                            	th:checked="${#arrays.contains(vo.shCheckboxTypeArray, list.pdtBrandCd)}"
		                                                            	onclick="fnCheckboxClick()">
		                                                            <span class="checkmark"></span>
		                                                        </label>
		                                                        <label th:for="${list.xpdtIdName}">
																	<b th:text="${list.pdtName}"></b>
		                                                        	<span class="quantity" th:text="${list.xpdtGroupCount}"></span>
		                                                        </label>
		                                                    </li>
														</th:block>                                              
	                                                </ul>
	                                            </div>
	
	                                            <!-- 연식 -->
	                                            <div class="new-item-content">
	                                                <h3 class="title-product">연식</h3>
	                                                <div class="d-flex justify-content-lg-center justify-content-md-center">
	                                                    <select class="form-select" id="shOptionYearFrom" name="shOptionYearFrom" onchange="fhChange(this)">
	                                                        <option value="" th:selected="${vo.shOptionYearFrom == null}">시작</option>
	                                                        <th:block th:each="year : ${#numbers.sequence(vo.shFromYear, vo.shToYear, -1)}">
																<option th:text="${year}+'년'" th:value="${year}" th:selected="${year.equals(vo.shOptionYearFrom)}"></option>
															</th:block>
	                                                    </select>
	                                                    <span style="margin-left: 20px; margin-right: 20px; padding-top: 8px;">~</span>
	                                                    <select class="form-select" id="shOptionYearTo" name="shOptionYearTo" onchange="fhChange(this)">
															<option value="" th:selected="${vo.shOptionYearTo == null}">종료</option>
															<th:block th:each="year : ${#numbers.sequence(vo.shFromYear, vo.shToYear, -1)}">
																<option th:text="${year}+'년'" th:value="${year}" th:selected="${year.equals(vo.shOptionYearTo)}"></option>
															</th:block>
	                                                    </select>                                                                                                                    
	                                                </div>                                               
	                                            </div>    
	
	                                            <!-- 가격 -->
	                                            <div>
	                                                <h3 class="title-product">가격</h3>
	                                                    <div class="row gy-1">
	                                                        <div class="col">
	                                                            <button type="button" class="btn" style="width: 100%;" value="5000000" onclick="fnClick(this)">5백</button>
	                                                        </div>
	                                                        <div class="col">
	                                                            <button type="button" class="btn" style="width: 100%;" value="15000000" onclick="fnClick(this)">1천5백</button>
	                                                        </div>
	                                                        <div class="col">
	                                                            <button type="button" class="btn" style="width: 100%;" value="20000000" onclick="fnClick(this)">2천</button>
	                                                        </div>
	                                                        <div class="col">
	                                                            <button type="button" class="btn" style="width: 100%;" value="25000000" onclick="fnClick(this)">2천5백</button>
	                                                        </div>  
	                                                        <div class="col">
	                                                            <button type="button" class="btn" style="width: 100%;" value="30000000" onclick="fnClick(this)">3천</button>
	                                                        </div>  
	                                                        <div class="col">
	                                                            <button type="button" class="btn" style="width: 100%;" value="35000000" onclick="fnClick(this)">3천5백</button>
	                                                        </div>            
	                                                        <div class="col">
	                                                            <button type="button" class="btn" style="width: 100%;" value="40000000" onclick="fnClick(this)">4천</button>
	                                                        </div>  
	                                                        <div class="col">
	                                                            <button type="button" class="btn" style="width: 100%;" value="45000000" onclick="fnClick(this)">4천5백</button>
	                                                        </div>  
	                                                        <div class="col mt-3">
	                                                            <div class="input-group mb-3">
	                                                                <input id="shPriceFrom" name="shPriceFrom" type="text" class="form-control pl-1 pr-1" style="text-align: right;" placeholder="0" aria-label="최저금액" aria-describedby="basic-addon2" th:value="${vo.shPriceFrom}">
	                                                                <span class="input-group-text" id="basic-addon2">만원</span>
	                                                                <span style="margin-left: 5px; margin-right: 5px; padding-top: 8px;">&emsp;부터</span>
	                                                            </div>
	                                                            <div class="input-group mb-3">
	                                                                <input id="shPriceTo" name="shPriceTo" type="text" class="form-control pl-1 pr-1" style="text-align: right;" placeholder="0" aria-label="최고금액" aria-describedby="basic-addon2" th:value="${vo.shPriceTo}">
	                                                                <span class="input-group-text" id="basic-addon2">만원</span>                           
	                                                                <span style="margin-left: 5px; margin-right: 5px; padding-top: 8px;">&emsp;까지</span>                                     
	                                                            </div>
	                                                        </div>                                                                                                                   
	                                                    </div>
	                                            </div>                                           
	
	                                            <!-- 색상 -->
	                                            <div class="new-item-content">
	                                                <div class="sidebar-block by-color">
	                                                    <h3 class="title-product">색상</h3>
	                                                    <div class="sidebar-block">
	                                                        <ul class="scroll-product">
																<th:block th:each="list : ${@codeService.selectListCachedCode(5)}">
		                                                            <li>          
																		<label class="check">
		                                                                    <input th:id="'checkboxColor'+${list.cdcSeq}" name="checkboxColorSeq" type="checkbox" th:value="${list.cdcSeq}"
		                                                                    	th:checked="${#arrays.contains(vo.shCheckboxColorArray, list.cdcSeq)}"
		                                                                    	onclick="fnCheckboxClick()"/>
		                                                                    <span class="checkmark"></span>
																			
																			<th:block th:switch="${list.cdcSeq}">
			                                                                    <span th:case="10">
			                                                                        <label class="ml-5" th:for="'checkboxColor'+${list.cdcSeq}" style="border: 1 solid black; height: 20px; width: 20px; background-color: black;"></label>
			                                                                    </span>
			                                                                    <span th:case="11">
			                                                                        <label class="ml-5" th:for="'checkboxColor'+${list.cdcSeq}" style="border: 1 solid black; height: 20px; width: 20px; background-color: whitesmoke;"></label>
			                                                                    </span>
																			</th:block>
																			
		                                                                    <span>
		                                                                        <b th:text="${list.cdcName}"></b>
																			</span>
		                                                                </label>
		                                                            </li>
																</th:block>
	                                                        </ul>                                                    
	                                                    </div> 
	                                                </div>                                             
	                                            </div>                                            
	                                        </div>
	                                    </div>
	
	
	                                    <!-- 항목표시 -->
	                                    <div class="col-sm-8 col-lg-9 col-md-8 product-container">
	                                        <h1>내차 선택하기</h1>
	                                        <div class="js-product-list-top firt nav-top">
	                                            <div class="d-flex justify-content-around row"></div>
	                                        </div>
	                                        <!-- <div class="tab-content product-items"> -->
	                                        <div class="tab-content product-items">
	                                            <div id="grid" class="related tab-pane fade in active show">
	                                                <div class="row">
	                                                	<th:block th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
															<div class="item col-md-4">
		                                                        <div class="product-miniature js-product-miniature item-one first-item">
		                                                            <div class="thumbnail-container border">
		                                                                <a th:href="@{/productUsrDetail(shSeq=${list.pdtSeq})}">
		                                                                    <img class="img-fluid image-cover"     th:src="${list.xpdtImgF}" alt="img">
		                                                                    <img class="img-fluid image-secondary" th:src="${list.xpdtImgF}" alt="img">
		                                                                </a>
		                                                            </div>
		                                                            <div class="product-description">
		                                                                <div class="product-groups">
		                                                                    <div class="product-title">
		                                                                        <a th:href="@{/productUsrDetail(shSeq=${list.pdtSeq})}">
																					<th:block>
																						<span th:text="${list.xpdtBrandName}"></span>
																						<br>
																						<span th:text="${list.pdtName}"></span>
																					</th:block>	                                                                        
		                                                                        </a>
		                                                                    </div>
		                                                                    <div class="rating">
		                                                                        <div class="star-content">
																					<th:block th:if="${list.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, list.xpdtStar)}">
																						<div class="star"></div>	
																					</th:block>
																					<th:block th:unless="${list.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, list.xpdtStar)}">
																						<div class=""></div>	
																					</th:block>	                                                                        
		                                                                        </div>
		                                                                    </div>
		                                                                    <div class="product-group-price">
		                                                                        <div class="product-price-and-shipping">
		                                                                            ￦<span th:text="${#numbers.formatInteger(list.pdtPrice, 1, 'COMMA')}" class="price" style="font-size: 20px;"></span>만원
		                                                                        </div>
		                                                                    </div>
		                                                                </div>
		
		                                                                <!-- 찜추가 -->
		                                                                <div class="product-buttons d-flex justify-content-center">
		                                                                    <form action="#addToWishlist" method="post" class="formAddToWishlist">
		                                                                        <input th:name="'wishlist'+${list.pdtSeq}" th:value="${list.pdtSeq}" type="hidden"/>
		                                                                        
		                                                                        <input th:if    ="${list.xwshSeq} != null" th:name="'wishlist'+${list.pdtSeq}+'_'" th:value="${list.xwshSeq}" type="hidden"/>
		                                                                        <input th:unless="${list.xwshSeq} != null" th:name="'wishlist'+${list.pdtSeq}+'_'" th:value="x"               type="hidden"/>
		                                                                        
		                                                                        <a th:name="'wishlist'+${list.pdtSeq}" class="addToWishlist" href="javascript:void(0)" data-rel="1" th:onclick="fnClickWishlist(this);">
		                                                                            <i th:if="${list.xwshSeq != null}"     th:name="'wishlist'+${list.pdtSeq}" class="fa fa-heart" aria-hidden="true" style="color:pink;"></i>
		                                                                            <i th:unless="${list.xwshSeq != null}" th:name="'wishlist'+${list.pdtSeq}" class="fa fa-heart" aria-hidden="true"></i>
		                                                                        </a>
		                                                                    </form>
		                                                                </div>
		                                                            </div>
		                                                        </div>
		                                                    </div>                                                	
	                                                	</th:block>
	                                                </div>
	                                            </div>
	                                        </div>
	
	                                        <!-- pagination -->
	                                        <div class="pagination">
	                                            <div class="js-product-list-top ">
	                                                <div class="d-flex justify-content-around row">
	                                                    <div class="page-list col col-xs-12">
	                                                        <ul>
																<!-- 이전 블록으로 이동하는 버튼 --> 
																<li th:if="${vo.pgIsPrev == true}" style="cursor: pointer;"
																	th:onclick="javascript:fnGoList([[${vo.pgStartPage - 1}]])">
																	<a rel="prev" href="javascript:void(0)" class="previous disabled js-search-link" th:onclick="javascript:fnGoList([[${vo.pgStartPage - 1}]])">
																		<i class="fa fa-chevron-left"></i>
																	</a>
																</li>
																<li th:unless="${vo.pgIsPrev == true}" style="cursor: not-allowed;">
																	<i class="fa fa-chevron-left"></i>
																</li>
																
																
																<th:block th:if="${vo.pgTotalCount} > 0" th:each="pageNum : ${#numbers.sequence(vo.pgStartPage, vo.pgEndPage)}">
																	<li th:if="${vo.pgPage == pageNum}" style="background-color: purple; cursor: pointer;"
																		th:onclick="javascript:fnGoList([[${pageNum}]]);">
																		<a rel="nofollow" class="current active disabled js-search-link" href="javascript:void(0)" th:onclick="javascript:fnGoList([[${pageNum}]]);"
																			th:text="|${pageNum}|">
																		</a>
																	</li>
																	<li th:unless="${vo.pgPage == pageNum}" style="cursor: pointer;"
																		th:onclick="javascript:fnGoList([[${pageNum}]]);">
																		<a rel="nofollow" class="disabled js-search-link" href="javascript:void(0)"
																			th:onclick="javascript:fnGoList([[${pageNum}]]);"
																			th:text="|${pageNum}|">
																		</a>																	
																	</li>
																</th:block>	
																
																<!-- 다음 블록으로 이동하는 버튼 --> 
																<li th:if="${vo.pgIsNext == true}" style="cursor: pointer;"
																	th:onclick="javascript:fnGoList([[${vo.pgEndPage + 1}]])">
																	<a rel="next" href="javascript:void(0)" class="next disabled js-search-link" th:onclick="javascript:fnGoList([[${vo.pgEndPage + 1}]])">
																		<i class="fa fa-chevron-right"></i>
																	</a>
																</li>
																<li th:unless="${vo.pgIsNext == true}" style="cursor: not-allowed;">
																	<i class="fa fa-chevron-right"></i>
																</li>																	
	                                                        </ul>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</form>
    <!-- footer -->
    <div th:replace="~{infra/v1/include/headUsr :: footer}"></div>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- Vendor JS -->
    <script src="usr/libs/jquery/jquery.min.js"></script>
    <script src="usr/libs/popper/popper.min.js"></script>
    <script src="usr/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="usr/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="usr/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="usr/libs/slider-range/js/tmpl.js"></script>
    <script src="usr/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="usr/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="usr/libs/slider-range/js/jquery.slider.js"></script>

    <!-- Template JS -->
    <script src="usr/js/theme.js"></script>
    
    <script type="text/javascript">
// ============================================================================
// 변수선언
// ============================================================================
		let form = document.querySelector("form[name=form]");		
		let goUrlUsrList = "/productUsrList";	/* 조회화면 */ 
// ============================================================================
// 이벤트
// ============================================================================
		// 차종, 제조사 클릭		
		fnCheckboxClick = function() {	
			// 체크된 항목 저장 변수
			let checkboxTypeCheckedArray  = []; // 차종
			let checkboxBrandCheckedArray = []; // 제조사
			let checkboxCheckedArray      = []; // 색상
			
			// 차종 체크된 항목만큼 배열선언
			let checkboxTypeArr = document.querySelectorAll("input[name='checkboxTypeSeq']");
			for(let i = 0; i < checkboxTypeArr.length; i++) {
				if(checkboxTypeArr[i].checked) checkboxTypeCheckedArray.push(checkboxTypeArr[i].value);
			}
			// 차종 체크된값 저장
			document.querySelector("input[name='shCheckboxTypeArray']").value = checkboxTypeCheckedArray;
			
			// 제조사 체크된 항목만큼 배열선언
			let checkboxBrandArr = document.querySelectorAll("input[name='checkboxBrandSeq']");
			for(let i = 0; i < checkboxBrandArr.length; i++) {
				if(checkboxBrandArr[i].checked) checkboxBrandCheckedArray.push(checkboxBrandArr[i].value);
			}			
			// 제조사 체크된값 저장
			document.querySelector("input[name='shCheckboxBrandArray']").value = checkboxBrandCheckedArray;
			
			// 색상 체크된 항목만큼 배열선언
			let checkboxColordArr = document.querySelectorAll("input[name='checkboxColorSeq']");
			for(let i = 0; i < checkboxColordArr.length; i++) {
				if(checkboxColordArr[i].checked) checkboxCheckedArray.push(checkboxColordArr[i].value);
			}			
			// 색상 체크된값 저장
			document.querySelector("input[name='shCheckboxColorArray']").value = checkboxCheckedArray;
			
			// controller 호출
			fnCallController();
		}
		
		// 금액 클릭
		fnClick = function(obj) {
			$("#shPriceFrom").val(obj.value);
			$("#shPriceTo").val(obj.value);
			
			// controller 호출
			fnCallController();
		}
		
		// 연식 클릭
		fhChange = function(obj) {
			if(obj.name == "shOptionYearFrom") {				
				let value = $("#shOptionYearFrom option:selected").val();
				$("#shOptionYearTo").val(value);
			};
			
			let valueFrom = $("#shOptionYearFrom option:selected").val();
			let valueTo   = $("#shOptionYearTo option:selected").val();
			
			if(valueFrom > valueTo) {
				alert("종료 연식이 시작 연식 보다 작을 수 없습니다");
				$("#shOptionYearTo").val(valueFrom);
			} {
				// controller 호출
				fnCallController();	
			}
		}
		
		// 찜클릭
		fnClickWishlist = function(obj) {
			// 제품순번
			let wishlist = document.querySelector("input[name="+obj.name+"]");
			let pdtSeq   = wishlist.value;			
			let heart    = document.querySelector("i[name="+obj.name+"]");
			
			// 찜순번
			let wishlistWshSeq = document.querySelector("input[name="+obj.name+"_]");
			let wshSeq         = wishlistWshSeq.value;
			
			$.ajax({
				async: true
				, cache: false
				, type: "post"
				, data: {"pdtSeq":pdtSeq, "wshSeq":wshSeq}
				, url: "/insertWishlist"
				, success: function(response) {
					if(response.rt == "success") {
						alert("찜 등록 성공");
						heart.setAttribute("style", "color:pink;");
						wishlistWshSeq.setAttribute("value", response.wshSeq);
					} else if(response.rt == "fail") {
						alert("찜 등록시 오류가 있습니다");
					} else if(response.rt == "exist") {
						alert("찜 등록 취소");
						wishlistWshSeq.setAttribute("value", "x");
						heart.setAttribute("style", "");
					}
				}
				, error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		
// ============================================================================
// function
// ============================================================================

		// controller 호출
		fnCallController = function() {
			// 조회
	       	form.action = goUrlUsrList;
	       	form.submit(); 
		};
				
	</script>
</body>

</html>