<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<div th:replace="~{infra/v1/include/headUsr :: head}"></div>

<body id="product-detail">
    <header>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
                <div th:replace="~{infra/v1/include/bodyUsr :: topMenu(1)}"></div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">
                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li><a href="/indexUsr"><span>Home</span></a></li>
                                        <li>
                                            <a href="/productUsrList"><span>차량조회</span></a>
                                        </li>
                                        <li><span><b>상세설명</b></span></li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-8 col-lg-12 col-md-12">
                                        <div class="main-product-detail">
                                        	<input id="pdtSeq" name="pdtSeq" type="hidden" th:value="${item.pdtSeq}" />
                                            <h2 th:text="${item.xpdtBrandName}+' '+${item.pdtName}"></h2>
                                            <div class="product-single row">
                                                <div class="product-detail col-xs-12 col-md-5 col-sm-5">
                                                    <div class="page-content" id="content">
                                                        <div class="images-container">
                                                            <div class="js-qv-mask mask tab-content border">
                                                                <div id="item1" class="tab-pane fade active in show">
                                                                    <img th:src="${item.xpdtImgF}" alt="img">
                                                                </div>
                                                                <div id="item2" class="tab-pane fade">
                                                                    <img th:src="${item.xpdtImgB}" alt="img">
                                                                </div>
                                                                <div id="item3" class="tab-pane fade">
                                                                    <img th:src="${item.xpdtImgF}" alt="img">
                                                                </div>
                                                                <div id="item4" class="tab-pane fade">
                                                                    <img th:src="${item.xpdtImgB}" alt="img">
                                                                </div>
                                                                <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                                                                    <i class="fa fa-expand"></i>
                                                                </div>
                                                            </div>
                                                            <ul class="product-tab nav nav-tabs d-flex">
                                                                <li class="active col">
                                                                    <a href="#item1" data-toggle="tab" aria-expanded="true" class="active show">
                                                                        <img th:src="${item.xpdtImgF}" alt="img">
                                                                    </a>
                                                                </li>
                                                                <li class="col">
                                                                    <a href="#item2" data-toggle="tab">
                                                                        <img th:src="${item.xpdtImgB}" alt="img">
                                                                    </a>
                                                                </li>
                                                                <li class="col">
                                                                    <a href="#item3" data-toggle="tab">
                                                                        <img th:src="${item.xpdtImgF}" alt="img">
                                                                    </a>
                                                                </li>
                                                                <li class="col">
                                                                    <a href="#item4" data-toggle="tab">
                                                                        <img th:src="${item.xpdtImgB}" alt="img">
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <div class="modal fade" id="product-modal" role="dialog">
                                                                <div class="modal-dialog">

                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <div class="modal-body">
                                                                                <div class="product-detail">
                                                                                    <div>
                                                                                        <div class="images-container">
                                                                                            <div class="js-qv-mask mask tab-content">
                                                                                                <div id="modal-item1" class="tab-pane fade active in show">
                                                                                                    <img th:src="${item.xpdtImgF}" alt="img">
                                                                                                </div>
                                                                                                <div id="modal-item2" class="tab-pane fade">
                                                                                                    <img th:src="${item.xpdtImgB}" alt="img">
                                                                                                </div>
                                                                                                <div id="modal-item3" class="tab-pane fade">
                                                                                                    <img th:src="${item.xpdtImgB}" alt="img">
                                                                                                </div>
                                                                                                <div id="modal-item4" class="tab-pane fade">
                                                                                                    <img th:src="${item.xpdtImgF}" alt="img">
                                                                                                </div>
                                                                                            </div>
                                                                                            <ul class="product-tab nav nav-tabs">
                                                                                                <li class="active">
                                                                                                    <a href="#modal-item1" data-toggle="tab" class=" active show">
                                                                                                        <img th:src="${item.xpdtImgF}" alt="img">
                                                                                                    </a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#modal-item2" data-toggle="tab">
                                                                                                        <img th:src="${item.xpdtImgB}" alt="img">
                                                                                                    </a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#modal-item3" data-toggle="tab">
                                                                                                        <img th:src="${item.xpdtImgF}" alt="img">
                                                                                                    </a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#modal-item4" data-toggle="tab">
                                                                                                        <img th:src="${item.xpdtImgB}" alt="img">
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="product-info col-xs-12 col-md-7 col-sm-7">
                                                    <div class="detail-description">
                                                        <div class="has-border price-del">
                                                            ￦<span th:text="${#numbers.formatInteger(item.pdtPrice,1,'COMMA')}" class="price"></span>만원
                                                        </div>                                                     

                                                        <div class="has-border">
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>사고유무</b></label>
                                                                </div>
                                                                <div class="col">
                                                                    <b><label th:text="${item.xpdtAccidentName}" style="font-size: 20px;"></label></b>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>연&emsp;&emsp;식</b></label>
                                                                </div>
                                                                <div class="col">
                                                                    <b><label th:text="${item.pdtYear}+'년 '+${item.pdtMonth}+'월'" style="font-size: 20px;"></label></b>
                                                                </div>                                                                                                                                 
                                                            </div>                                                            

                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>주행기록</b></label>
                                                                </div>
                                                                <div class="col">
                                                                    <b><label th:text="${#numbers.formatInteger(item.pdtRunKm, 1, 'COMMA')}+'km'" style="font-size: 20px;"></label></b>
                                                                </div>  
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>색&emsp;&emsp;상</b></label>
                                                                </div>
                                                                <div class="col">
                                                                    <b><label th:text="${item.xpdtColorName}" style="font-size: 20px;"></label></b>
                                                                </div>                                                                                                                            
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>찜&ensp;하&ensp;기</b></label>
                                                                </div>
                                                                <div class="col">
                                                                    <label style="font-size: 20px;">                                                                        
                                                                        <a class="addToWishlist" href="javascript:void(0)">
																		<i th:if    ="${item.xwshSeq != null}" th:name="'wishlistNew'+${item.pdtSeq}" class="fa fa-heart" aria-hidden="true" style="color:pink; cursor: default;"></i>
			                                                            <i th:unless="${item.xwshSeq != null}" th:name="'wishlistNew'+${item.pdtSeq}" class="fa fa-heart-o" aria-hidden="true" style="cursor: default;"></i>																			
                                                                        <!--<i class="fa fa-heart-o" aria-hidden="true"></i>-->
                                                                        </a>
                                                                    </label>
                                                                </div>                                                                
                                                            </div>                                                            
                                                        </div>

                                                        <div class="rating-comment has-border d-flex">
                                                            <div class="review-description d-flex">
                                                                <span>별점 :</span>
                                                                <div class="rating">
                                                                    <div class="star-content">
                                                                    	<th:block th:if="${item.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, item.xpdtStar)}">
																			<div class="star"></div>	
																		</th:block>
																		<th:block th:unless="${item.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, item.xpdtStar)}">
																			<div class=""></div>	
																		</th:block>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="read after-has-border">
                                                                <a href="#review">
                                                                    <i class="fa fa-commenting-o color" aria-hidden="true"></i>
                                                                    댓글<span th:text="'('+${item.xpdtCount}+')'" class="reviewCount"></span>
                                                                </a>
                                                            </div>
                                                            <div class="apen after-has-border">
                                                                <a href="#review">
                                                                    <i class="fa fa-pencil color" aria-hidden="true"></i>
                                                                    <span id="reviewWrite">댓글작성</span>
                                                                </a>
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="review">
                                                <div><h3>댓글<span th:text="'('+${item.xpdtCount}+')'"></span></h3></div>
												
                                                <div class="tab-content">													
                                                    <div id="review" class="tab-pane fade in active show">
                                                        <div class="spr-form">             
                                                            <div class="user-comment">
                                                            	<!-- 댓글 리스트 -->      
																	<div class="spr-review">
																	<div id="reviewList">
                                                            	<th:block th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
	                                                                    <div class="spr-review-header">
	                                                                        <span class="spr-review-header-byline">
	                                                                            <strong th:text="${list.xmbrName}"></strong>
	                                                                            <span th:text="${#dates.format(list.rvwDateTime, 'yyyy-MM-dd')}"></span>
	                                                                        </span>
	                                                                        <div class="rating">
	                                                                            <div class="star-content">
																					<th:block th:if="${list.rvwStar > 0}" th:each="num : ${#numbers.sequence(1, list.rvwStar)}">
																						<div class="star"></div>	
																					</th:block>
																					<th:block th:unless="${list.rvwStar > 0}" th:each="num : ${#numbers.sequence(1, list.rvwStar)}">
																						<div class=""></div>	
																					</th:block>
	                                                                            </div>
	                                                                        </div>
	                                                                    </div>
	                                                                    <div class="spr-review-content">
	                                                                        <p th:text="${list.rvwRemark}" class="spr-review-content-body"></p>
	                                                                    </div>
                                                            	</th:block>
                                                            	</div>
	                                                                </div>                                                            	
                                                            </div>
                                                        </div>

                                                        <!-- 댓글작성 -->
                                                        <form method="post" class="new-review-form">
                                                            <input type="hidden" name="review[rating]" value="3">
                                                            <input type="hidden" name="product_id">
                                                            <h3 class="spr-form-title">댓글작성</h3>
                                                            <fieldset>
                                                                <div class="spr-form-review-rating">
                                                                    <label class="spr-form-label">[[${session.sessMbrName}]]</label>
                                                                    <input id="rvwStar" name="rvwStar" type="hidden" value="0" />
                                                                    <fieldset class="ratings">
                                                                        <input type="radio" id="star5" name="rating" value="5" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star5"></label>
                                                                        <input type="radio" id="star4half" name="rating" value="4 and a half" onclick="fnClickStar(this);" />
                                                                        <input type="radio" id="star4" name="rating" value="4" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star4"></label>
                                                                        <input type="radio" id="star3half" name="rating" value="3 and a half" onclick="fnClickStar(this);" />
                                                                        <input type="radio" id="star3" name="rating" value="3" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star3"></label>
                                                                        <input type="radio" id="star2half" name="rating" value="2 and a half" />
                                                                        <input type="radio" id="star2" name="rating" value="2" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star2"></label>
                                                                        <input type="radio" id="star1half" name="rating" value="1 and a half" />
                                                                        <input type="radio" id="star1" name="rating" value="1" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star1"></label>
                                                                        <input type="radio" id="starhalf" name="rating" value="half" />
                                                                    </fieldset>
                                                                </div>
                                                            </fieldset>
                                                            <!-- <fieldset class="spr-form-contact">
                                                                <div class="spr-form-contact-name">
                                                                    <input class="spr-form-input spr-form-input-text form-control" value="" placeholder="이름">
                                                                </div>
                                                                <div class="spr-form-contact-email">
                                                                    <input class="spr-form-input spr-form-input-email form-control" value="" placeholder="이메일">
                                                                </div>
                                                            </fieldset> -->
                                                            <fieldset>
                                                                <div class="spr-form-review-body">
                                                                    <div class="spr-form-input">
                                                                        <textarea class="spr-form-input-textarea" rows="10"
                                                                        	id="rvwRemark" name="rvwRemark" placeholder="댓글내용"></textarea>
                                                                    </div>
                                                                </div>
                                                            </fieldset>

                                                            <!-- 작성완료 -->
                                                            <div class="submit">
                                                                <input type="button" name="btnSubmit" id="btnSubmit" class="btn btn-default" style="font-size: 15px;" value="작&ensp;성&ensp;완&ensp;료"
                                                                	onclick="fnClick(this);">
                                                                <!-- <button class="continue btn btn-primary pull-xs-right"
		                                                        	id="btnSubmit" name="btnSubmit" type="button" style="font-size: 15px;">
		                                                            작&ensp;성&ensp;완&ensp;료
		                                                        </button> -->
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="~{infra/v1/include/headUsr :: footer}"></div>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- Vendor JS -->
    <script src="usr/libs/jquery/jquery.min.js"></script>
    <script src="usr/libs/popper/popper.min.js"></script>
    <script src="usr/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="usr/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="usr/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="usr/libs/slider-range/js/tmpl.js"></script>
    <script src="usr/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="usr/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="usr/libs/slider-range/js/jquery.slider.js"></script>

    <!-- Template JS -->
    <script src="usr/js/theme.js"></script>
    
    <script type="text/javascript">
    	// 제품순번
    	let pdtSeq = $("#pdtSeq").val();
    	
    	// 별점 클릭
    	fnClickStar = function(obj) {
    		$("#rvwStar").val(obj.value);
    	}
    	
    	// 작성완료 클릭
    	fnClick = function(obj) {
    		$.ajax({
    			async: true
    			, cache: false
    			, type: "post"
    			, data: {"rvwRemark":$("#rvwRemark").val(), "rvwStar":$("#rvwStar").val(), "pdtSeq":pdtSeq}
    			, url: "/reviewUsrInsert"
    			, success: function(response) {
    				if(response.rt == "success") {
    					alert("댓글 등록 완료");
    					
    					// 댓글 제조회
    					fhReviewReload();
    				} else {
    					alert("댓글 등록 오류");
    				}
    			}
   				, error : function(jqXHR, textStatus, errorThrown){
   					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
   				}    			
    		});
    	}
    	
    	// 댓글 재조회
    	fhReviewReload = function() {
    		$.ajax({
    			async: true
    			, cache: false
    			, type: "post"
    			, data: {"shSeq":pdtSeq}
    			, url: "/reviewUsrReload"
    			, success: function(fragment) {
    				//$("#reviewList").replaceWith(fragment);
    				$("#reviewList").append(fragment);
    			}
   				, error : function(jqXHR, textStatus, errorThrown){
   					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
   				}    			
    		});
    	}
    </script>
</body>

</html>