<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">

<!-- head -->
<div th:replace="~{infra/v1/include/headUsr :: head}"></div>

<body class="product-cart checkout-cart blog">
    <header>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
				<div th:replace="~{infra/v1/include/bodyUsr :: topMenu}"></div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="main-content" id="cart">
        <!-- main -->
        <div id="wrapper-site">
            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="/indexUsr">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-heart" aria-hidden="true" style="color: pink;"></i>
                                <span> 찜 내역</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                        <section id="main">
                            <div class="cart-grid row">
                                <div class="col-md-12 col-xs-12 check-info">
                                    <h1 class="title-page"><i class="fa fa-heart" style="color: pink;" aria-hidden="true"></i> 찜 목록</h1>
                                    <div class="cart-container">
                                        <div class="cart-overview js-cart">
                                            <ul class="cart-items">
												<th:block th:if="${#lists.isEmpty(list)}">
													<li class="cart-item">
														<div>찜 목록이 없습니다</div>
													</li>
												</th:block>
												
												<th:block th:unless="${#lists.isEmpty(list)}" th:each="list : ${list}">
													<li class="cart-item">
	                                                    <div class="product-line-grid row justify-content-between">
	                                                        <!-- 차량이미지 -->
	                                                        <div class="product-line-grid-left col-md-2">
	                                                            <span class="product-image media-middle">
	                                                                <a th:href="@{/productUsrDetail(pdtSeq=${list.pdtSeq})}">
	                                                                    <img class="img-fluid" th:src="${list.xpdtImgF}" th:alt="${list.xpdtBrandName}+' '+${list.pdtName}">
	                                                                </a>
	                                                            </span>
	                                                        </div>
	
	                                                        <!-- 차량명 -->
	                                                        <div class="product-line-grid-body col-md-4">
	                                                            <div class="product-line-info">
	                                                                <a class="label" th:href="@{/productUsrDetail(pdtSeq=${list.pdtSeq})}" data-id_customization="0" style="font-size: 15px;">
	                                                                	<th:block>
																			<span th:text="${list.xpdtBrandName}"></span>
																			<br>
																			<span th:text="${list.pdtName}"></span>
																		</th:block>
	                                                                </a>
	                                                            </div>
	                                                            <div class="product-line-info product-price mt-2">
	                                                                ￦<span class="price" th:text="${#numbers.formatInteger(list.pdtPrice, 1, 'COMMA')}" style="font-size: 15px;"></span>만원
	                                                            </div>
	                                                            <div class="product-line-info product-price mt-2">
	                                                                <span style="font-size: 15px;">찜일시 </span>
	                                                                <span style="font-size: 15px;" th:text="${#dates.format(list.xDateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
	                                                            </div>
	                                                        </div>
	                                                        <div class="product-line-grid-right text-center product-line-actions col-md-5">
	                                                            <div class="row">
	                                                                <div class="col">
	                                                                    <div class="label"><b>사고유무</b></div>
	                                                                    <span th:text="${list.xpdtAccidentName}"></span>
	                                                                </div>
	
	                                                                <div class="col">
	                                                                    <div class="label"><b>연식</b></div>
	                                                                    <span th:text="${list.pdtYear} + '년 ' + ${list.pdtMonth} + '월'"></span>
	                                                                </div>
	                                                            </div>
	
	                                                            <div class="row mt-3">
	                                                                <div class="col">
	                                                                    <div class="label"><b>주행기록</b></div>
	                                                                    <span th:text="${#numbers.formatInteger(list.pdtRunKm, 1, 'COMMA')}+'km'"></span>
	                                                                </div>
	
	                                                                <div class="col">
																		<div class="label"><b>색상</b></div>
	                                                                    <span th:text="${list.xpdtColorName}"></span>																		
																	</div>
	                                                            </div>
	                                                        </div>
	
															<!-- 삭제 -->
	                                                        <div class="product-line-grid-right text-center product-line-actions col-md-1 mt-5">
	                                                            <div class="row">
                                                                    <a id="deleteWsh" name="deleteWsh" rel="nofollow" data-link-action="delete-from-cart" data-id-product="1"
                                                                    	th:href="@{/productUsrWishlistDelete(shSeq=${list.xwshSeq})}">
                                                                        <div><b style="color: red;">삭제</b></div>
                                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                    </a>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                </li>
												</th:block>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <a href="/productUsrCheckOut" class="continue btn btn-primary pull-xs-right" style="font-size: 20px;">
                                            결제하기
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="~{infra/v1/include/headUsr :: footer}"></div>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- Vendor JS -->
    <script src="usr/libs/jquery/jquery.min.js"></script>
    <script src="usr/libs/popper/popper.min.js"></script>
    <script src="usr/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="usr/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="usr/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="usr/libs/slider-range/js/tmpl.js"></script>
    <script src="usr/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="usr/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="usr/libs/slider-range/js/jquery.slider.js"></script>
    <script src="usr/libs/slick-slider/js/slick.min.js"></script>

    <!-- Template JS -->
    <script src="usr/js/theme.js"></script>
    
    <script type="text/javascript">
		fnDeleteWishlist = function(obj) {
			let tagName = obj.name+"Seq";
			document.querySelector("input[name="+tagName+"]");
			
			$.ajax({
				async: true
				, cache: false
				, type: "post"
				, data: {"shSeq":$("#")}
				, url: "/productUsrWishlistDelete"
				, success: function(response) {
					if(response.rt == "success") {
						location.href = "/indexUsr";
					} else if(response.rt == "id") {
						alert("아이디가 일치하지 않습니다");
					} else if(response.rt == "password") {
						alert("비밀번호가 일치하지 않습니다");
					}
				}
				, error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		};
	</script>
</body>

</html>