<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <div th:replace="~{infra/v1/include/headSdm :: head}"></div>

  <body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900"
		:class="{'overflow-hidden': isSideMenuOpen}">
		<!-- Desktop sidebar -->
		<div th:replace="~{infra/v1/include/bodySdm :: bodyTop('3')}"></div>
      
      <div class="flex flex-col flex-1">
		<div th:replace="~{infra/v1/include/bodySdm :: bodyHeader('','상품관리')}"></div>

        <main class="h-full pb-16 overflow-y-auto">
			<form name="form" id="form" method="get" autocomplete="off">
				<div class="container px-6 mx-auto grid">
					<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
				    	<a class="inline-flex items-center w-full">
							<svg  class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				  				<path d="M15.98 1.804a1 1 0 0 0-1.96 0l-.24 1.192a1 1 0 0 1-.784.785l-1.192.238a1 1 0 0 0 0 1.962l1.192.238a1 1 0 0 1 .785.785l.238 1.192a1 1 0 0 0 1.962 0l.238-1.192a1 1 0 0 1 .785-.785l1.192-.238a1 1 0 0 0 0-1.962l-1.192-.238a1 1 0 0 1-.785-.785l-.238-1.192ZM6.949 5.684a1 1 0 0 0-1.898 0l-.683 2.051a1 1 0 0 1-.633.633l-2.051.683a1 1 0 0 0 0 1.898l2.051.684a1 1 0 0 1 .633.632l.683 2.051a1 1 0 0 0 1.898 0l.683-2.051a1 1 0 0 1 .633-.633l2.051-.683a1 1 0 0 0 0-1.898l-2.051-.683a1 1 0 0 1-.633-.633L6.95 5.684ZM13.949 13.684a1 1 0 0 0-1.898 0l-.184.551a1 1 0 0 1-.632.633l-.551.183a1 1 0 0 0 0 1.898l.551.183a1 1 0 0 1 .633.633l.183.551a1 1 0 0 0 1.898 0l.184-.551a1 1 0 0 1 .632-.633l.551-.183a1 1 0 0 0 0-1.898l-.551-.184a1 1 0 0 1-.633-.632l-.183-.551Z"></path>
							</svg>
							&nbsp;상품등록
				    	</a>
					</h2>
			
					<div class="w-full px-4 py-3 mb-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
				  		<div class="flex flex-col md:flex-row mt-4 mb-4">
				    		<div class="md:h-auto mr-3 md:w-1/2">
				      			<label class="block text-sm">
				        			<span class="text-xs text-red-600 dark:text-red-400"><b>*</b></span>
				        			<span class="text-gray-700 dark:text-gray-400">차종</span>				      			
			                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
			                            id="pdtTypeCd" name="pdtTypeCd">
			                            <option th:each="list : ${@codeService.selectListCachedCode(3)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq == '5'}"></option>
			                        </select>
				      			</label>
				    		</div>
				
				    		<div class="md:h-auto mr-3 md:w-1/2">
				      			<label class="block text-sm">
				        			<span class="text-xs text-red-600 dark:text-red-400"><b>*</b></span>
				        			<span class="text-gray-700 dark:text-gray-400">브랜드</span>
			                        <select
			                            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
			                            id="pdtBrandCd" name="pdtBrandCd">
			                            <option th:each="list : ${@codeService.selectListCachedCode(4)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq == '7'}"></option>
			                        </select>			            			
				      			</label>
				    		</div>
				    		
				    		<div class="md:h-auto mr-3 md:w-1/2">
				      			<label class="block text-sm">
				        			<span class="text-xs text-red-600 dark:text-red-400"><b>*</b></span>
				        			<span class="text-gray-700 dark:text-gray-400">차량명</span>
				        			<input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				            			id="pdtName" name="pdtName" type="text"
				            			onkeyup="fnOnKeyUp(this)">
				        			<span id="pdtNameValid" name="pdtNameValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
				        				차량명 입력하세요
				        			</span>				            			
				      			</label>
				    		</div>				    		
						</div>
						
						<div class="flex flex-col md:flex-row mt-4 mb-4">
				    		<div class="md:h-auto mr-3 md:w-1/2">
				      			<label class="block text-sm">
				      				<span class="text-xs text-red-600 dark:text-red-400"><b>*</b></span>
				        			<span class="text-gray-700 dark:text-gray-400">사고유무</span>
			                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
			                            id="pdtAccidentCd" name="pdtAccidentCd">
			                            <option th:each="list : ${@codeService.selectListCachedCode(7)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq == '14'}"></option>
			                        </select>
				      			</label>
				    		</div>
				
				    		<div class="md:h-auto mr-3 md:w-1/2">
				      			<label class="block text-sm">
				      				<span class="text-xs text-red-600 dark:text-red-400"><b>*</b></span>
				        			<span class="text-gray-700 dark:text-gray-400">색상</span>
			                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
			                            id="pdtColorCd" name="pdtColorCd">
			                            <option th:each="list : ${@codeService.selectListCachedCode(5)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq == '10'}"></option>
			                        </select>
				      			</label>
				    		</div>

				    		<div class="md:h-auto mr-3 md:w-1/2">
				      			<label class="block text-sm">
				        			<span class="text-gray-700 dark:text-gray-400">추천여부</span>
			                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
			                            id="pdtRecommendCd" name="pdtRecommendCd">
			                            <option th:each="list : ${@codeService.selectListCachedCode(8)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq == '17'}"></option>
			                        </select>
				      			</label>
				      			<span style="visibility:hidden;">&nbsp;</span>
				    		</div>
						</div>
				  								
						<div class="flex flex-col md:flex-row mt-4 mb-4">
				    		<div class="inline-flex md:h-auto mr-3 md:w-1/2">
								<div class="md:h-auto md:w-1/2 mr-3">
					      			<label class="block w-full text-sm">
					        			<span class="text-xs text-red-600 dark:text-red-400"><b>*</b></span>
					        			<span class="text-gray-700 dark:text-gray-400">연식(년)</span>
					        			<input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					            			id="pdtYear" name="pdtYear" type="text"
					            			onkeyup="fnOnKeyUp(this)">
					        			<span id="pdtYearValid" name="pdtYearValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
					        				연식(년) 입력하세요
					        			</span>
					      			</label>								
								</div>				    			

								<div class="md:h-auto md:w-1/2">
					      			<label class="block w-full text-sm">
					        			<span class="text-xs text-red-600 dark:text-red-400"><b>*</b></span>
					        			<span class="text-gray-700 dark:text-gray-400">연식(월)</span>
					        			<input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					            			id="pdtMonth" name="pdtMonth" type="text"
					            			onkeyup="fnOnKeyUp(this)">
					        			<span id="pdtMonthValid" name="pdtMonthValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
					        				연식(월) 입력하세요
					        			</span>
					      			</label>								
								</div>
				    		</div>
				    								
				    		<div class="md:h-auto mr-3 md:w-1/2">
				      			<label class="block text-sm">
				        			<span class="text-xs text-red-600 dark:text-red-400"><b>*</b></span>
				        			<span class="text-gray-700 dark:text-gray-400">주행기록</span>
				        			<input id="pdtRunKm" name="pdtRunKm" type="hidden" value="0" />
				        			<input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				            			id="pdtRunKmTmp" name="pdtRunKmTmp" type="text" style="text-align:right;"
				            			onkeyup="fnOnKeyUp(this)">
				        			<span id="pdtRunKmTmpValid" name="pdtRunKmTmpValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
				        				주행기록 입력하세요
				        			</span>
				      			</label>
				    		</div>
				
				    		<div class="md:h-auto mr-3 md:w-1/2">
				      			<label class="block text-sm">
				        			<span class="text-xs text-red-600 dark:text-red-400"><b>*</b></span>
				        			<span class="text-gray-700 dark:text-gray-400">차량가액</span>
				        			<input id="pdtPrice" name="pdtPrice" type="hidden" value="0" />
				        			<input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				            			id="pdtPriceTmp" name="pdtPriceTmp" type="text" style="text-align:right;"
				            			onkeyup="fnOnKeyUp(this)">
				        			<span id="pdtPriceTmpValid" name="pdtPriceTmpValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
				        				차량가액 입력하세요
				        			</span>
				      			</label>
				    		</div>
				  		</div>
				
						<!-- 저장버튼, 회원조회버튼 -->
						<div class="flex flex-col md:flex-row mt-4">
				  			<!-- 이전 -->
				  			<div class="md:h-auto sm:mt-auto md:w-1/2">
				    			<button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple mr-3"
				      				aria-label="Search" type="button">
				      				<a th:href="@{/productSdmList}">
										<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					  						<path clip-rule="evenodd" fill-rule="evenodd" d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"></path>
										</svg>
									</a>
				    			</button>
				  			</div>
				
				  			<!-- 저장버튼 -->
				  			<div class="flex md:h-auto sm:mt-auto md:w-1/2 sm:justify-end">
				    			<button id="btnSubmit" name="btnSubmit"
				      				class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple mr-3"
				      				aria-label="Edit"
				      				type="button">
									<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				  						<path clip-rule="evenodd" fill-rule="evenodd" d="M10 1c3.866 0 7 1.79 7 4s-3.134 4-7 4-7-1.79-7-4 3.134-4 7-4Zm5.694 8.13c.464-.264.91-.583 1.306-.952V10c0 2.21-3.134 4-7 4s-7-1.79-7-4V8.178c.396.37.842.688 1.306.953C5.838 10.006 7.854 10.5 10 10.5s4.162-.494 5.694-1.37ZM3 13.179V15c0 2.21 3.134 4 7 4s7-1.79 7-4v-1.822c-.396.37-.842.688-1.306.953-1.532.875-3.548 1.369-5.694 1.369s-4.162-.494-5.694-1.37A7.009 7.009 0 0 1 3 13.179Z"></path>
									</svg>
				    			</button>
				  			</div>
						</div>
					</div>
				</div>
			</form>          
        </main>
      </div>
    </div>
    
    <script type="text/javascript">
// ============================================================================
// 변수선언
// ============================================================================
		let form = document.querySelector("form[name=form]");
		
		let goUrlSdmList   	= "/productSdmList";	/* 조회화면 */
		let goUrlSdmForm   	= "/productSdmForm";	/* 수정화면 */
		let goUrlSdmCreate 	= "/productSdmCreate";	/* 등록화면 */
		let goUrlSdmInsert 	= "/productSdmInsert";	/* 등록 */
		let goUrlSdmUpdate 	= "/productSdmUpdate";	/* 수정 */
		let goUrlSdmDelete 	= "/productSdmDelete";	/* 삭제 */
		let goUrlSdmDelNy 	= "/productSdmDelNy";	/* 삭제여부변경 */

 		// 차량명
 		let pdtName         = document.querySelector("input[name=pdtName]");
 		let pdtNameValid    = document.querySelector("span[name=pdtNameValid]");
		
 		// 연식
 		let pdtYear        	= document.querySelector("input[name=pdtYear]");
 		let pdtYearValid   	= document.querySelector("input[name=pdtYearValid]");
		
 		// 주행기록
 		let pdtRunKmTmp       = document.querySelector("input[name=pdtRunKmTmp]");
 		let pdtRunKmTmpValid  = document.querySelector("span[name=pdtRunKmTmpValid]");
		
 		// 차량가액
 		let pdtPriceTmp       = document.querySelector("input[name=pdtPriceTmp]");
 		let pdtPriceValidTmp  = document.querySelector("span[name=pdtPriceTmpValid]");

		// 필수입력체크대상
		// validType : 1(한글), 2(영문), 3(숫자:정수), 4(숫자:실수), 5(숫자콤마)
		//             10(한글영문), 11(한글숫자), 12(영문숫자), 13(한글영문숫자)
		//			   20(비밀번호), 21(날짜), 22(이메일)
		//             30(특수문자), 31(공백체크)
		// TYPE_KR   =  1, TYPE_EN   = 2,  TYPE_IT   = 3,  TYPE_FT     = 4;  TYPE_ICM = 5;
		// TYPE_KREN = 10, TYPE_KRIT = 11, TYPE_ENIT = 12, TYPE_KRENIT = 13;
		// TYPE_PW   = 20, TYPE_DT   = 21, TYPE_EM   = 22;
		// TYPE_SP   = 30, TYPE_NULL = 31;	
		let dispText = "";
		let typeArr = [TYPE_NULL, TYPE_IT, TYPE_IT, TYPE_ICM, TYPE_ICM];		
		let nameArr = ["pdtName", "pdtYear", "pdtMonth", "pdtRunKmTmp", "pdtPriceTmp"];
		let textArr = [dispText, dispText, dispText, dispText, dispText];			

// ============================================================================
// event
// ============================================================================

		window.addEventListener('load', function() {
			jQuery.datetimepicker.setLocale('ko'); // 한국어

			$("#pdtBirthday").datetimepicker({
				timepicker:false,
				format: 'Y-m-d', //'Y-m-d' //H:i
			});
		});

    	// 저장버튼
		document.getElementById("btnSubmit").onclick = function() {
			fnCallController();
		};
		
		// event onkeydown
		fnOnKeyDown = function() {
			// 엔터키(13)이면
			if (window.event.keyCode == 13) {
				fnCallController();
			};				
		};
		
		// 주행기록
		pdtRunKmTmp.addEventListener('input', function(event) {
		    // 입력된 값을 가져옵니다.
		    let value = event.target.value;
		    
		    // 숫자 이외의 문자 제거
		    value = value.replace(/[^\d]/g, '');
		    
		    $("#pdtRunKm").val(value);
		    
		    // 숫자 형식 지정 (천 단위 콤마 추가)
		    value = new Intl.NumberFormat().format(Number(value));
		    
		    // 입력란에 형식화된 값을 설정
		    event.target.value = value;
		});		
		
		// 차량가액
		pdtPriceTmp.addEventListener('input', function(event) {
		    // 입력된 값을 가져옵니다.
		    let value = event.target.value;
		    
		    // 숫자 이외의 문자 제거
		    value = value.replace(/[^\d]/g, '');
		    
		    $("#pdtPrice").val(value);
		    
		    // 숫자 형식 지정 (천 단위 콤마 추가)
		    value = new Intl.NumberFormat().format(Number(value));
		    
		    // 입력란에 형식화된 값을 설정
		    event.target.value = value;
		});
		
		// event onkeyup
		// fnValidType(obj:input tag객체, objValid:메시지표시 tag명, validText:objValid tag에 표시할 메시지, validType:정규식종류)
		fnOnKeyUp = function(obj) {
			if(window.event.keyCode != 13) {
				switch(obj.name) {
				case "pdtName" :
					fnValidType(obj, pdtNameValid, dispText, TYPE_NULL);
					break;					
				case "pdtYear" :
					fnValidType(obj, pdtYearValid, dispText, TYPE_IT);
					break;
				case "pdtMonth" :
					fnValidType(obj, pdtMonthValid, dispText, TYPE_IT);
					break;
				case "pdtRunKmTmp" :
					fnValidType(obj, pdtRunKmTmpValid, dispText, TYPE_ICM);
					break;
				case "pdtPriceTmp" :
					fnValidType(obj, pdtPriceTmpValid, dispText, TYPE_ICM);
					break;
				};
			};	
		};		

// ============================================================================
// function
// ============================================================================
		
		// controller 호출
		fnCallController = function() {
			if(!fnValidation()) {return false;};
			
			// 저장
			form.action = goUrlSdmInsert;
			form.submit();
		};	
		
		// 필수입력 확인
	    fnValidationForm = function() {
			let validChk = false;		
			return validChk;
		};
		
    </script>
    
  </body>
</html>
