<!DOCTYPE html>
<html :class="{'theme-dark': dark}" x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
  
	<div th:replace="~{infra/v1/include/headSdm :: head}"></div>
  
	<body>
    	<div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{'overflow-hidden': isSideMenuOpen}">
			<!-- Desktop sidebar -->
			<div th:replace="~{infra/v1/include/bodySdm :: bodyTop(3)}"></div>

			<div class="flex flex-col flex-1 w-full">
				<div th:replace="~{infra/v1/include/bodySdm :: bodyHeader('','상품관리')}"></div>

        		<main class="h-full pb-16 overflow-y-auto">
          			<div class="container grid px-6 mx-auto">
            			<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
              				<a class="inline-flex items-center w-full">
								<svg  class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				  					<path d="M15.98 1.804a1 1 0 0 0-1.96 0l-.24 1.192a1 1 0 0 1-.784.785l-1.192.238a1 1 0 0 0 0 1.962l1.192.238a1 1 0 0 1 .785.785l.238 1.192a1 1 0 0 0 1.962 0l.238-1.192a1 1 0 0 1 .785-.785l1.192-.238a1 1 0 0 0 0-1.962l-1.192-.238a1 1 0 0 1-.785-.785l-.238-1.192ZM6.949 5.684a1 1 0 0 0-1.898 0l-.683 2.051a1 1 0 0 1-.633.633l-2.051.683a1 1 0 0 0 0 1.898l2.051.684a1 1 0 0 1 .633.632l.683 2.051a1 1 0 0 0 1.898 0l.683-2.051a1 1 0 0 1 .633-.633l2.051-.683a1 1 0 0 0 0-1.898l-2.051-.683a1 1 0 0 1-.633-.633L6.95 5.684ZM13.949 13.684a1 1 0 0 0-1.898 0l-.184.551a1 1 0 0 1-.632.633l-.551.183a1 1 0 0 0 0 1.898l.551.183a1 1 0 0 1 .633.633l.183.551a1 1 0 0 0 1.898 0l.184-.551a1 1 0 0 1 .632-.633l.551-.183a1 1 0 0 0 0-1.898l-.551-.184a1 1 0 0 1-.633-.632l-.183-.551Z"></path>
								</svg>
								&nbsp;상품조회
              				</a>            
            			</h2>

            			<!-- 검색조건 -->
						<form id="form" name="form" method="get" autocomplete="off">
							<!-- 페이지 번호 -->
						 	<input type="hidden" id="pgPage" name="pgPage" th:value="${vo.pgPage}" default="1">
						 	
			              	<div class="w-full px-4 py-3 mb-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
			                	<div class="flex flex-col md:flex-row">
			                    	<!-- 삭제여부 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
				                            id="shDelNy" name="shDelNy">
				                            <option value=""  th:selected="${vo.shDelNy == null}">삭제여부</option>
				                            <option value="0" th:selected="${vo.shDelNy == 0}">N</option>
				                            <option value="1" th:selected="${vo.shDelNy == 1}">Y</option>
				                        </select>
				                    </div>
			
				                    <!-- 일자조건 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
											id="shOptionDate" name="shOptionDate">
											<option value=""  th:selected="${vo.shOptionDate == null}">날짜</option>
											<option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
											<option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
				                        </select>
				                    </div>
				
				                    <!-- 시작일자 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
											id="shDateStart" name="shDateStart" placeholder="시작일"
											th:value="${#strings.substring(vo.shDateStart,0,10)}"
											onkeyup="fnOnKeyUp(this)">
				                        <span id="shDateStartValid" name="shDateStartValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
				                        	시작일자를 입력하세요
				                        </span>
				                    </div>
				
				                    <!-- 종료일자 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
											id="shDateEnd" name="shDateEnd" placeholder="종료일"
											th:value="${#strings.substring(vo.shDateEnd,0,10)}"
											onkeyup="fnOnKeyUp(this)">
				                        <span id="shDateEndValid" name="shDateEndValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
				                        	종료일자를 입력하세요
				                        </span>
				                    </div>
				                </div>
			
				                <div class="flex flex-col md:flex-row">
				                    <div class="md:h-auto md:w-1/2 mr-3">
										<select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
											id="shCarType" name="shCarType">
											<option value=""  th:selected="${vo.shCarType == null}">차종</option>
											<option th:each="list : ${@codeService.selectListCachedCode(3)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq} == ${vo?.shCarType}"></option>
																			
										</select>	                        
				                    </div>
				                                    
				                    <!-- 검색구분 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <select
				                            class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
				                            id="shCarBrand" name="shCarBrand">
				                            <option value=""  th:selected="${vo.shCarBrand == null}">브랜드</option>
				                            <option th:each="list : ${@codeService.selectListCachedCode(4)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq} == ${vo?.shCarBrand}"></option>
				                        </select>
				                    </div>
				                    
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
				                            id="shCarColor" name="shCarColor">
				                            <option value="" th:selected="${vo.shCarColor == null}">색상</option>
				                            <option th:each="list : ${@codeService.selectListCachedCode(5)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq} == ${vo?.shCarColor}"></option>
				                        </select>
				                    </div>
				                    
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
				                            id="shRecommend" name="shRecommend">
				                            <option value=""   th:selected="${vo.shRecommend == null}">추천여부</option>
				                            <option th:each="list : ${@codeService.selectListCachedCode(8)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq} == ${vo?.shRecommend}"></option>
				                        </select>
				                        <span style="visibility:hidden;">&nbsp;</span>
				                    </div>
				                </div>

				                <div class="flex flex-col md:flex-row">
				                    <!-- 주행기록 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
				                            id="shOptionRunKm" name="shOptionRunKm">
				                            <option value=""  th:selected="${vo.shOptionRunKm == null}">주행기록</option>
				                            <option value="1" th:selected="${vo.shOptionRunKm == 1}">범위</option>
				                            <option value="2" th:selected="${vo.shOptionRunKm == 2}">&lt;=</option>
				                            <option value="3" th:selected="${vo.shOptionRunKm == 3}">&gt;=</option>
				                        </select>
				                    </div>
				
				                    <!-- 주행기록 시작값 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <input th:if="${vo.shOptionRunKm == null}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				                            id="shOptionRunKmFrom" name="shOptionRunKmFrom" placeholder="주행기록"  style="visibility:hidden;"
				                            th:value="${vo.shOptionRunKmFrom}"				                            
											onkeyup="fnOnKeyUp(this)">
				                        <input th:unless="${vo.shOptionRunKm == null}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				                            id="shOptionRunKmFrom" name="shOptionRunKmFrom" placeholder="주행기록"
				                            th:value="${vo.shOptionRunKmFrom}"				                            
											onkeyup="fnOnKeyUp(this)">											
										<span id="shOptionRunKmFromValid" name="shOptionRunKmFromValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
											주행기록 입력하세요
										</span>                            
				                    </div>
				                    
				                    <!-- 주행기록 종료값 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <input th:if="${vo.shOptionRunKm == 1}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				                            id="shOptionRunKmTo" name="shOptionRunKmTo" placeholder="주행기록"
				                            th:value="${vo.shOptionRunKmTo}"
											onkeyup="fnOnKeyUp(this)">
				                        <input th:unless="${vo.shOptionRunKm == 1}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				                            id="shOptionRunKmTo" name="shOptionRunKmTo" placeholder="주행기록" style="visibility:hidden;"
				                            th:value="${vo.shOptionRunKmTo}"
											onkeyup="fnOnKeyUp(this)">											
										<span id="shOptionRunKmToValid" name="shOptionRunKmToValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
											주행기록 입력하세요
										</span>                            
				                    </div> 
				                    
				                    <div class="md:h-auto md:w-1/2 mr-3"></div>               
				                </div>
			                
				                <div class="flex flex-col md:flex-row">
				                    <!-- 연식 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
				                            id="shOptionYear" name="shOptionYear">
				                            <option value=""  th:selected="${vo.shOptionYear == null}">연식</option>
				                            <option value="1" th:selected="${vo.shOptionYear == 1}">범위</option>
				                            <option value="2" th:selected="${vo.shOptionYear == 2}">&lt;=</option>
				                            <option value="3" th:selected="${vo.shOptionYear == 3}">&gt;=</option>
				                        </select>
				                    </div>
				
				                    <!-- 연식 시작값 -->
				                    <div class="inline-flex md:h-auto md:w-1/2 mr-3">
				                    	<div class="md:h-auto md:w-1/2 mr-3">
					                        <input th:if="${vo.shOptionYear == null}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					                            id="shOptionYearFrom" name="shOptionYearFrom" placeholder="연식(년)" style="visibility:hidden;"
					                            th:value="${vo.shOptionYearFrom}"
												onkeyup="fnOnKeyUp(this)">
					                        <input th:unless="${vo.shOptionYear == null}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					                            id="shOptionYearFrom" name="shOptionYearFrom" placeholder="연식(년)"
					                            th:value="${vo.shOptionYearFrom}"
												onkeyup="fnOnKeyUp(this)">												
											<span id="shOptionYearFromValid" name="shOptionYearFromValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
												연식(년) 입력하세요
											</span>                    	
				                    	</div>
										
										<div class="md:h-auto md:w-1/2">
					                        <input th:if="${vo.shOptionYear == null}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					                            id="shOptionMonthFrom" name="shOptionMonthFrom" placeholder="연식(월)" style="visibility:hidden;"
					                            th:value="${vo.shOptionMonthFrom}"
												onkeyup="fnOnKeyUp(this)">
					                        <input th:unless="${vo.shOptionYear == null}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					                            id="shOptionMonthFrom" name="shOptionMonthFrom" placeholder="연식(월)"
					                            th:value="${vo.shOptionMonthFrom}"
												onkeyup="fnOnKeyUp(this)">												
											<span id="shOptionMonthFromValid" name="shOptionMonthFromValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
												연식(월) 입력하세요
											</span> 						
										</div>
				                    </div>
				                    
				                    <!-- 연식 종료값 -->
				                    <div class="inline-flex md:h-auto md:w-1/2 mr-3">
				                    	<div class="md:h-auto md:w-1/2 mr-3">
					                        <input th:if="${vo.shOptionYear == 1}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					                            id="shOptionYearTo" name="shOptionYearTo" placeholder="연식(년)"
					                            th:value="${vo.shOptionYearTo}"
												onkeyup="fnOnKeyUp(this)">
					                        <input th:unless="${vo.shOptionYear == 1}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					                            id="shOptionYearTo" name="shOptionYearTo" placeholder="연식(년)" style="visibility:hidden;"
					                            th:value="${vo.shOptionYearTo}"
												onkeyup="fnOnKeyUp(this)">
											<span id="shOptionYearToValid" name="shOptionYearToValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
												연식(년) 입력하세요
											</span>                            
				                    	</div>
				                    	
										<div class="md:h-auto md:w-1/2">
					                        <input th:if="${vo.shOptionYear == 1}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					                            id="shOptionMonthTo" name="shOptionMonthTo" placeholder="연식(월)"
					                            th:value="${vo.shOptionMonthTo}"
												onkeyup="fnOnKeyUp(this)">
					                        <input th:unless="${vo.shOptionYear == 1}" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
					                            id="shOptionMonthTo" name="shOptionMonthTo" placeholder="연식(월)" style="visibility:hidden;"
					                            th:value="${vo.shOptionMonthTo}"
												onkeyup="fnOnKeyUp(this)">
											<span id="shOptionMonthToValid" name="shOptionMonthToValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
												연식(월) 입력하세요
											</span> 						
										</div>                    	
				                    </div>   
				                    
				                    <div class="md:h-auto md:w-1/2 mr-3"></div>               
				                </div>                
			                                
				                <div class="flex flex-col md:flex-row">
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
				                            id="shAccident" name="shAccident">
				                            <option value="" th:selected="${vo.shAccident == null}">사고유무</option>
				                            <option th:each="list : ${@codeService.selectListCachedCode(7)}" th:value="${list.cdcSeq}" th:text="${list.cdcName}" th:selected="${list.cdcSeq == vo.shAccident}"></option>
				                        </select>
				                    </div>
				                                    
				                    <!-- 검색구분 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <select class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
				                            id="shOption" name="shOption">
				                            <option value=""  th:selected="${vo.shOption == null}">검색구분</option>
				                            <option value="1" th:selected="${vo.shOption == 1}">차량명</option>
				                        </select>
				                    </div>
				
				                    <!-- 검색어 -->
				                    <div class="md:h-auto md:w-1/2 mr-3">
				                        <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
				                            id="shValue" name="shValue" placeholder="검색어"
				                            th:text="${vo.shValue}"
											onkeydown="fnOnKeyDown()" onkeyup="fnOnKeyUp(this)">
										<span id="shValueValid" name="shValueValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
											검색어를 입력하세요
										</span>                            
				                    </div>
				
				                    <div class="md:h-auto md:w-1/2 sm:mt-auto mr-3">
										<div class="flex flex-col overflow-y-auto md:flex-row">
				                        	<!-- 조회버튼 -->
				                        	<button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
				                          		id="btnSubmit" name="btnSubmit" type="button">
				                          		<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				                            		<path clip-rule="evenodd" fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"></path>
				                          		</svg>
				                        	</button>
											&nbsp;
				                        	<!-- 초기화버튼 -->
				                        	<button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
				                          		id="btnReset" name="btnReset" type="reset"
				                          		onclick="fnReset()">                          
				                          		<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				                            		<path clip-rule="evenodd" fill-rule="evenodd" d="M15.312 11.424a5.5 5.5 0 0 1-9.201 2.466l-.312-.311h2.433a.75.75 0 0 0 0-1.5H3.989a.75.75 0 0 0-.75.75v4.242a.75.75 0 0 0 1.5 0v-2.43l.31.31a7 7 0 0 0 11.712-3.138.75.75 0 0 0-1.449-.39Zm1.23-3.723a.75.75 0 0 0 .219-.53V2.929a.75.75 0 0 0-1.5 0V5.36l-.31-.31A7 7 0 0 0 3.239 8.188a.75.75 0 1 0 1.448.389A5.5 5.5 0 0 1 13.89 6.11l.311.31h-2.432a.75.75 0 0 0 0 1.5h4.243a.75.75 0 0 0 .53-.219Z"></path>
				                          		</svg>
				                        	</button>
				                      	</div>
				                      	<span style="visibility:hidden;">&nbsp;</span>
				                    </div>
								</div>
			              	</div>
						  	
						  	<!-- 페이지목록 건수 -->
						  	<div th:replace="~{infra/v1/include/bodySdm :: bodyPaging}"></div>
						</form>
			
            			<!-- 조회결과 리스트 -->
            			<div class="w-full overflow-hidden rounded-lg shadow-xs">
							<!-- 체크된 항목 담을 태그 -->
                  			<input type="hidden" id="shCheckedArray" name="shCheckedArray" value="" />
                  			
              				<div id="listData" class="w-full overflow-x-auto">
                				<table class="w-full whitespace-no-wrap">
                  					<!-- 조회결과 리스트 타이틀-->
                  					<thead>
                    					<tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                      						<th class="px-2 py-1">
                        						<input class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray mr-3"
                          							id="checkboxAll" name="checkboxAll" type="checkbox"
                          							style="height: 15px; width: 15px">
                      						</th>
											<th class="px-1 py-1" style="text-align: center;">#</th>
											<th class="px-2 py-1" style="text-align: center;">순번</th>
											<th class="px-2 py-1">차종</th>
											<th class="px-2 py-1">브랜드</th>
											<th class="px-2 py-1">차량명</th>
											<th class="px-2 py-1">색상</th>
											<th class="px-2 py-1">연식(년/월)</th>
											<th class="px-2 py-1" style="text-align:right;">주행기록(Km)</th>
											<th class="px-2 py-1" style="text-align:right;">판매가격(원)</th>
											<th class="px-2 py-1" style="text-align: center;">사고유무</th>
											<th class="px-2 py-1" style="text-align: center;">추천여부</th>
											<th class="px-2 py-1" style="text-align: center;">삭제여부</th>
											<th class="px-2 py-1">작업</th>
											<th class="px-2 py-1">등록일시</th>
											<th class="px-2 py-1">수정일시</th>
                    					</tr>
                  					</thead>
                  
                  					<!-- 조회결과 리스트 내용 -->
                  					<tbody id="trList" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                  						<tr th:if="${#lists.isEmpty(list)}">
                  							<td colspan="16" class="text-center text-purple-600"> 
												There is no data !!!
                  							</td>
                  						</tr>
                  	                  
                  						<tr class="text-gray-700 dark:text-gray-400" th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
											<!-- 체크박스 -->
					                  		<td class="px-2 py-1">
					                  			<input th:if="${list.xpdtCount} == 0" class="checkboxList text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray mr-3"
					                  				id = "checkbox" name="checkbox" type="checkbox"
					                  				th:value="${list.pdtSeq}"
					                        		style="height: 15px; width: 15px">
					                    	</td>
											<!-- row순번 -->                    	
					                    	<td id="xrowSeq" class="px-1 py-1" th:text="${list.xrowSeq}" style="text-align: center;"></td>
											<!-- 순번 -->                    	
					                    	<td id="seq" class="px-1 py-1" th:text="${list.pdtSeq}" style="text-align: center;"></td>
											<!-- 차종 -->                    	
					                    	<td class="px-2 py-1" th:text="${@codeService.selectOneCachedCode(list.pdtTypeCd)}"></td>
											<!-- 브랜드 -->                    	
					                    	<td class="px-2 py-1" th:text="${@codeService.selectOneCachedCode(list.pdtBrandCd)}"></td>
											<!-- 상품명 -->                    	
					                    	<td class="px-2 py-1" th:text="${list.pdtName}"></td>
											<!-- 색상 -->                    	
					                    	<td class="px-2 py-1" th:text="${@codeService.selectOneCachedCode(list.pdtColorCd)}"></td>
											<!-- 연식 -->                    	
					                    	<td class="px-2 py-1" th:text="${list.xpdtYearMonth}"></td>
											<!-- 주행기록 -->                    	
					                    	<td class="px-2 py-1" th:text="${#numbers.formatInteger(list.pdtRunKm, 1, 'COMMA')}" style="text-align:right"></td>
											<!-- 판매가격 -->                    	
					                    	<td class="px-2 py-1" th:text="${#numbers.formatInteger(list.pdtPrice, 1, 'COMMA')}" style="text-align:right"></td>
					                    	<!-- <td class="px-4 py-1" th:text="${#numbers.formatDecimal(list.pdtPrice, 3, 1, 'COMMA')}" style="text-align:right"></td> -->

											<!-- 사고유무 -->
					                    	<td class="px-2 py-1" style="text-align: center;">
					                      		<span class="px-2 py-1 font-semibold leading-tight text-blue-500 bg-blue-100 rounded-full dark:bg-blue-500 dark:text-blue-100"
													 th:text="${#strings.substring(@codeService.selectOneCachedCode(list.pdtAccidentCd),0,1)}">
					                      		</span>                    	
					                    	</td>
											<!-- 추천여부 -->                    	
					                    	<td class="px-2 py-1" style="text-align: center;">
					                      		<span class="px-2 py-1 font-semibold leading-tight text-blue-500 bg-blue-100 rounded-full dark:bg-blue-500 dark:text-blue-100"
													 th:text="${#strings.substring(@codeService.selectOneCachedCode(list.pdtRecommendCd),0,1)}">
					                      		</span>                     	
					                    	</td>
											<!-- 삭제여부 -->                                	
					                    	<td class="px-2 py-1" th:if="${list.pdtDelNy eq 0}" style="text-align: center;">
					                      		<span
					                  				class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
													N
					                      		</span>
					                    	</td>
					                    	<td class="px-2 py-1" th:unless="${list.pdtDelNy eq 0}">
					                      		<span
					                            	class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600">
													Y
					                      		</span>
					                    	</td>
											<!-- 작업버튼 -->                    
					                    	<td class="px-2 py-1">
					                    	    <button class="px-2 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
													<a th:href="@{/productSdmForm(pdtSeq=${list.pdtSeq}, pdtName=${list.pdtName})}"> <!-- , uri=${vo.uri} -->
														<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
															<path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z"></path>
															<path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z"></path>
														</svg>
													</a>
					                      		</button>
					                    	</td>
											<!-- 등록일시 -->
					                    	<td class="px-2 py-1" th:text="${#dates.format(list.pdtRegDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
											<!-- 수정일시 -->                    	
					                    	<td class="px-2 py-1" th:text="${#dates.format(list.pdtUdtDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
					                  	</tr> 
                  					</tbody>
                				</table>

								<!-- 페이지넘김 -->
								<div th:replace="~{infra/v1/include/bodySdm :: bodyPagingBtn}"></div>
              				</div>

							<script>
								// 타이틀바 체크시 리스트 체크박스 체크 및 해제
								document.getElementById("checkboxAll").addEventListener("change", fnCheckboxCheck);
							
							  	function fnCheckboxCheck() {
							    	let checkedAll = document.querySelector("#checkboxAll");
							    	const isChecked = checkedAll.checked;
							    	$(".checkboxList").prop("checked", isChecked);
							  	}  
							</script>
              
							<!-- 삭제버튼, 이전버튼 -->
              				<div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
                				<!-- 삭제버튼 -->
                				<span class="flex items-center col-span-3">
                  					<button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
                    					aria-label="Delete"
                    					@click="openModal"
                    					id="btnDelete" name="btnDelete">
										<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					  						<path clip-rule="evenodd" fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"></path>
										</svg>
                  					</button>
                				</span>              
              
                				<span class="flex col-span-3 mt-2 sm:mt-auto sm:justify-center">
                  					<nav aria-label="Table navigation"></nav>
                				</span>
                              
                				<span class="flex col-span-3 sm:mt-auto sm:justify-end">
                					<!-- 홈버튼 -->
                					<a th:href="@{/indexSdm}">
		                				<button class="flex items-center px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple mr-2"
		                  					aria-label="Back">
											<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					  							<path clip-rule="evenodd" fill-rule="evenodd" d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z"></path>
											</svg>
		                				</button>
			  						</a>

									<!-- 추가버튼 -->        
									<a th:href="@{/productSdmCreate}">
		                				<button class="btnSave flex items-center px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" aria-label="Create"
		                   					id="btnInsert" name="btnInsert">
											<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
							  					<path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"></path>
											</svg>								
		                				</button>                  
									</a>
                				</span>                
              				</div>
            			</div>
          			</div>
        		</main>
      		</div>
    	</div>

	    <!-- modalFormSdm -->  
	    <div th:replace="~{infra/v1/include/modalSdm :: modalFormSdm}"></div>
    
    	<script type="text/javascript">
// ============================================================================
// 변수선언
// ============================================================================
		let form			= document.querySelector("form[name=form]");
		let mbrSeq			= document.querySelector("mbrSeq");
		
		// 날짜선택
		let shOptionDate	= document.querySelector("select[name=shOptionDate]");
	       
		// 시작일자
		let shDateStart		= document.querySelector("input[name=shDateStart]");
		let shDateStartValid= document.querySelector("span[name=shDateStartValid]");
	       
		// 종료일자
		let shDateEnd		= document.querySelector("input[name=shDateEnd]");
		let shDateEndValid	= document.querySelector("span[name=shDateEndValid]");
	
		// 차종
		let shCarType		= document.querySelector("select[name=shCarType]");
		
		// 브랜드
		let shCarBrand		= document.querySelector("select[name=shCarBrand]");
		
		// 색상
		let shCarColor		= document.querySelector("select[name=shCarColor]");
		
		// 추천여부
		let shRecommend		= document.querySelector("select[name=shRecommend]");

		// 주행기록
		let shOptionRunKm			= document.querySelector("select[name=shOptionRunKm]");
		let shOptionRunKmFrom		= document.querySelector("input[name=shOptionRunKmFrom]");
		let shOptionRunKmTo			= document.querySelector("input[name=shOptionRunKmTo]");

		let shOptionRunKmFromValid	= document.querySelector("span[name=shOptionRunKmFromValid]");
		let shOptionRunKmToValid	= document.querySelector("span[name=shOptionRunKmToValid]");
		
		// 연식
		let shOptionYear			= document.querySelector("select[name=shOptionYear]");
		let shOptionYearFrom		= document.querySelector("input[name=shOptionYearFrom]");
		let shOptionYearFromValid	= document.querySelector("span[name=shOptionYearFromValid]");
		
		let shOptionYearTo			= document.querySelector("input[name=shOptionYearTo]");
		let shOptionYearToValid		= document.querySelector("span[name=shOptionYearToValid]");
		
		let shOptionMonthFrom		= document.querySelector("input[name=shOptionMonthFrom]");
		let shOptionMonthFromValid	= document.querySelector("span[name=shOptionMonthFromValid]");
		
		let shOptionMonthTo			= document.querySelector("input[name=shOptionMonthTo]");
		let shOptionMonthToValid	= document.querySelector("span[name=shOptionMonthToValid]");
		
		// 사고유무
		let shAccident		= document.querySelector("select[name=shAccident]");
		
		// 검색선택
		let shOption		= document.querySelector("select[name=shOption]");
	
		// 검색어
		let shValue			= document.querySelector("input[name=shValue]");
		let shValueValid	= document.querySelector("span[name=shValueValid]");		
		
		let goUrlSdmList   	= "/productSdmList";	/* 조회화면 */ // "/productSdmListPaging";
		let goUrlSdmForm   	= "/productSdmForm";	/* 수정화면 */
		let goUrlSdmCreate 	= "/productSdmCreate";	/* 등록화면 */
		let goUrlSdmInsert 	= "/productSdmInsert";	/* 등록 */
		let goUrlSdmUpdate 	= "/productSdmUpdate";	/* 수정 */
		let goUrlSdmDelete 	= "/productSdmDelete";	/* 삭제 */
		let goUrlSdmUdtDelNy= "/productSdmUdtDelNy";/* 삭제여부-삭제로변경 */
    	let goUrlSdmPaging  = "/productSdmPaging"; 	/* 페이징처리 */
		
		// 필수입력체크대상
		// validType : 1(한글), 2(영문), 3(숫자:정수), 4(숫자:실수)
		//             10(한글영문), 11(한글숫자), 12(영문숫자), 13(한글영문숫자)
		//			   20(비밀번호), 21(날짜), 22(이메일)
		//             30(특수문자), 31(공백체크)
		// TYPE_KR   =  1, TYPE_EN   = 2,  TYPE_IT   = 3,  TYPE_FT     = 4;
		// TYPE_KREN = 10, TYPE_KRIT = 11, TYPE_ENIT = 12, TYPE_KRENIT = 13;
		// TYPE_PW   = 20, TYPE_DT   = 21, TYPE_EM   = 22;
		// TYPE_SP   = 30, TYPE_NULL = 31;			
		let dispText = "";
		let typeArr = [TYPE_DT, TYPE_DT, TYPE_IT, TYPE_IT,TYPE_IT, TYPE_IT, TYPE_IT, TYPE_IT, TYPE_IT, TYPE_IT];			
		let nameArr = ["shDateStart", "shDateEnd", "shOptionRunKmFrom", "shOptionRunKmTo", "shOptionYearFrom", "shOptionYearTo", "shOptionMonthFrom", "shOptionMonthTo"];
		let textArr = [dispText, dispText, dispText, dispText, dispText, dispText, dispText, dispText, dispText, dispText];
// ============================================================================
// event
// ============================================================================
			
		window.addEventListener('load', function() {
			jQuery.datetimepicker.setLocale('ko'); // 한국어
	
			$("#shDateStart, #shDateEnd").datetimepicker({
				timepicker:false,
				format: 'Y-m-d', //'Y-m-d' //H:i
			});
		});
		
    	// 조회버튼
		document.getElementById("btnSubmit").onclick = function() {
			fnCallController();
		};		
		
    	// 삭제버튼
		document.getElementById("btnDelete").onclick = function() {
    		// 선택된 체크박스 확인
    		let countCheckBox = fnDeleteChkeckBox();
    		
			// fnModalCaptionChange(구분[0:확인,1:삭제], 제목, 내용)
			if(countCheckBox == 0 || countCheckBox == null) {
				fnModalCaptionChange(0,"확인", "선택된 자료가 없습니다");
			} else {
				fnModalCaptionChange(1,"", "");	
			}
		};
		
		// event onkeydown	
		fnOnKeyDown = function() {
			// 엔터키(13)이면
			if (window.event.keyCode == 13) {
				fnCallController();
			};			
		};
		
		// event onkeyup
		// fnValidType(obj:input tag객체, objValid:메시지표시 tag명, validText:objValid tag에 표시할 메시지, validType:정규식종류)
		fnOnKeyUp = function(obj) {
			if(window.event.keyCode != 13) {
				switch(obj.name) {
				case "shDateStart" :
					fnValidType(obj, shDateStartValid, "", TYPE_DT);
					break;	
				case "shDateEnd" :
					fnValidType(obj, shDateEndValid, "", TYPE_DT);
					break;						
				case "shOptionYearFrom" :
					fnValidType(obj, shOptionYearFromValid, "", TYPE_IT);
					break;						
				case "shOptionMonthFrom" :
					fnValidType(obj, shOptionMonthFromValid, "", TYPE_IT);
					break;						
				case "shOptionYearTo" :
					fnValidType(obj, shOptionYearToValid, "", TYPE_IT);
					break;						
				case "shOptionMonthTo" :
					fnValidType(obj, shOptionMonthToValid, "", TYPE_IT);
					break;						
				case "shOptionRunKmFrom" :
					fnValidType(obj, shOptionRunKmFromValid, "", TYPE_IT);
					break;
				case "shOptionRunKmTo" :
					fnValidType(obj, shOptionRunKmToValid, "", TYPE_IT);
					break;						
				};
			};	
		};			

		// 주행기록
		document.getElementById("shOptionRunKm").onchange = function() {
			switch(shOptionRunKm.value) {
			case ""  :
				shOptionRunKmFrom.setAttribute("style", "visibility:hidden;");
				shOptionRunKmFrom.value = "";
				shOptionRunKmFromValid.setAttribute("style", "visibility:hidden;");
				
				shOptionRunKmTo.setAttribute("style", "visibility:hidden;");
				shOptionRunKmTo.value = "";
				shOptionRunKmToValid.setAttribute("style", "visibility:hidden;");
				break;					
			case "1" :
				shOptionRunKmFrom.setAttribute("style", "");
				shOptionRunKmFrom.value = "";
				shOptionRunKmFromValid.setAttribute("style", "visibility:hidden;");
				
				shOptionRunKmTo.setAttribute("style", "");
				shOptionRunKmTo.value = "";
				shOptionRunKmToValid.setAttribute("style", "visibility:hidden;");
				break;
			case "2" :
			case "3" :
				shOptionRunKmFrom.setAttribute("style", "");
				shOptionRunKmFrom.value = "";
				shOptionRunKmFromValid.setAttribute("style", "visibility:hidden;");
				
				shOptionRunKmTo.setAttribute("style", "visibility:hidden;");
				shOptionRunKmTo.value = "";
				shOptionRunKmToValid.setAttribute("style", "visibility:hidden;");
				break;				
			};
		};			
		
		// 연식
		document.getElementById("shOptionYear").onchange = function() {
			switch(shOptionYear.value) {
			case ""  :
				fnShOptionFromVisibleFalse();
				fnShOptionToVisibleFalse();					
				break;
			case "1" :
				fnShOptionFromVisibleTrue();
				fnShOptionToVisibleTrue();
				break;
			case "2" :
			case "3" :
				fnShOptionFromVisibleTrue();
				fnShOptionToVisibleFalse();
				break;				
			};
		};
		
		fnShOptionFromVisibleTrue = function() {
			shOptionYearFrom.setAttribute("style", "");
			shOptionYearFrom.value = "";
			shOptionYearFromValid.setAttribute("style", "visibility:hidden;");
			
			shOptionMonthFrom.setAttribute("style", "");
			shOptionMonthFrom.value = "";
			shOptionMonthFromValid.setAttribute("style", "visibility:hidden;");			
		};
		
		fnShOptionFromVisibleFalse = function() {
			shOptionYearFrom.setAttribute("style", "visibility:hidden;");
			shOptionYearFrom.value = "";
			shOptionYearFromValid.setAttribute("style", "visibility:hidden;");
			
			shOptionMonthFrom.setAttribute("style", "visibility:hidden;");
			shOptionMonthFrom.value = "";
			shOptionMonthFromValid.setAttribute("style", "visibility:hidden;");				
		};
		
		fnShOptionToVisibleTrue = function() {
			shOptionYearTo.setAttribute("style", "");
			shOptionYearTo.value = "";
			shOptionYearToValid.setAttribute("style", "visibility:hidden;");
			
			shOptionMonthTo.setAttribute("style", "");
			shOptionMonthTo.value = "";
			shOptionMonthToValid.setAttribute("style", "visibility:hidden;");				
		};
		
		fnShOptionToVisibleFalse= function() {
			shOptionYearTo.setAttribute("style", "visibility:hidden;");
			shOptionYearTo.value = "";
			shOptionYearToValid.setAttribute("style", "visibility:hidden;");
			
			shOptionMonthTo.setAttribute("style", "visibility:hidden;");
			shOptionMonthTo.value = "";
			shOptionMonthToValid.setAttribute("style", "visibility:hidden;");				
		};
		
        // 초기화버튼 클릭
		function fnReset() { 
			shDateStart.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
			shDateStartValid.setAttribute("style", "visibility:hidden;");
			
			shDateEnd.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
			shDateEndValid.setAttribute("style", "visibility:hidden;");

			shValue.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
			shValueValid.setAttribute("style", "visibility:hidden;");
			
			shOptionRunKmFrom.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
			shOptionRunKmFrom.setAttribute("style", "visibility:hidden;");
			shOptionRunKmFromValid.setAttribute("style", "visibility:hidden;");

			shOptionRunKmTo.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");			
			shOptionRunKmTo.setAttribute("style", "visibility:hidden;");
			shOptionRunKmToValid.setAttribute("style", "visibility:hidden;");

			shOptionYearFrom.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
			shOptionYearFrom.setAttribute("style", "visibility:hidden;");
			shOptionYearFromValid.setAttribute("style", "visibility:hidden;");
			
			shOptionMonthFrom.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
			shOptionMonthFrom.setAttribute("style", "visibility:hidden;");
			shOptionMonthFromValid.setAttribute("style", "visibility:hidden;");
			
			shOptionYearTo.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
			shOptionYearTo.setAttribute("style", "visibility:hidden;");
			shOptionYearToValid.setAttribute("style", "visibility:hidden;");

			shOptionMonthTo.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
			shOptionMonthTo.setAttribute("style", "visibility:hidden;");
			shOptionMonthToValid.setAttribute("style", "visibility:hidden;");
		};
		
		// 페이지 리스트 갯수 변경 이벤트
		$("#pgRowCount").on("change", function(){
			let url = "shDelNy="            +$("#shDelNy").val()
				    + "&shOptionDate="      +$("#shOptionDate").val()
				    + "&shDateStart="       +$("#shDateStart").val()
				    + "&shDateEnd="         +$("#shDateEnd").val()
				    + "&shCarType="         +$("#shCarType").val()
				    + "&shCarBrand="        +$("#shCarBrand").val()
				    + "&shCarColor="        +$("#shCarColor").val()
				    + "&shRecommend="       +$("#shRecommend").val()
				    + "&shOptionRunKm="     +$("#shOptionRunKm").val()
				    + "&shOptionRunKmFrom=" +$("#shOptionRunKmFrom").val()
				    + "&shOptionRunKmTo="   +$("#shOptionRunKmTo").val()
				    + "&shOptionYear="      +$("#shOptionYear").val()
				    + "&shOptionYearFrom="  +$("#shOptionYearFrom").val()
				    + "&shOptionMonthrFrom="+$("#shOptionMonthFrom").val()
				    + "&shOptionYearTo="    +$("#shOptionYearTo").val()
				    + "&shOptionMonthTo="   +$("#shOptionMonthTo").val()
				    + "&shAccident="        +$("#shAccident").val()
				    + "&shOption="          +$("#shOption").val()
				    + "&shValue="           +$("#shValue").val()
				    + "&pgRowCount="        +$("#pgRowCount").val();
			location.href="/productSdmList?"+url;
		});
		
// ============================================================================
// function
// ============================================================================

		// controller 호출
		fnCallController = function() {
			if(!fnValidation()) {return false;};
			if(!fnValidationForm()) {return false;};
			
			// 조회
	       	form.action = goUrlSdmList;
	       	form.submit(); 
		};		

		// 필수입력 확인
	    fnValidationForm = function() {
			let validChk = true;
			
			// 검색어
			if((shOption.value == null) || (shOption.value == "") || (shOption.value.length == 0)) {
				validChk = true;
			} else {
				validChk = fnNullToEmpty(shValue, shValueValid, "");
				if(!validChk) {return false;};
			};
			
			return validChk;
		}; 
		
		// 자료삭제
		fnDataDelete = function() {
			// 체크된 항목 담을 배열변수
			let checkedArray = [];
			
			let checkedList = document.querySelectorAll("input[name=checkbox]");
			
			for(let i = 0; i < checkedList.length; i++) {
				if(checkedList[i].checked) {
					checkedArray[i] = checkedList[i].value;
				} 
			}
			
			document.querySelector("input[name=shCheckedArray]").value = checkedArray;
			
			$.ajax({
				async: true
				, cache: false
				, tpye: "post"
				, data: {"shCheckedArray":$("#shCheckedArray").val()}
				, url: "/productSdmListDelete"
				, success: function(response) {
					if(response.rt == "success") {
						// Controller 호출
						fnCallController();
					} else {
						fnModalCaptionChange(0,"오류", "삭제중 오류");
					}
				}
				, error : function(jqXHR, textStatus, errorThrown){
					fnModalCaptionChange(0,"오류", "ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		
    	</script>     
	</body>
</html>
