<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- head -->
<div th:replace="~{infra/v1/include/headUsr :: head}"></div>

<body id="product-detail">
    <header>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
                <div th:replace="~{infra/v1/include/bodyUsr :: topMenu(1)}"></div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="main-content">
        <div id="wrapper-site">
            <div id="content-wrapper">
                <div id="main">
                    <div class="page-home">
                        <!-- breadcrumb -->
                        <nav class="breadcrumb-bg">
                            <div class="container no-index">
                                <div class="breadcrumb">
                                    <ol>
                                        <li><a href="/indexUsr"><span>Home</span></a></li>
                                        <li>
                                            <a href="javascript:void(0)" th:onclick="javascript:fnGoList();"><span>차량조회</span></a>
                                        </li>
                                        <li><span><b>상세설명</b></span></li>
                                    </ol>
                                </div>
                            </div>
                        </nav>
                        
                        <div class="container">
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-8 col-lg-12 col-md-12">
                                        <div class="main-product-detail">
											<!-- 로그인 확인용 세션정보 -->
											<input type="hidden" id="sessMbrSeq" name="sessMbrSeq" th:value="${session.sessMbrSeq}" />
                                        	<!-- controller 전달용 상품순번 -->
                                        	<input id="pdtSeq" name="pdtSeq" type="hidden" th:value="${item.pdtSeq}" />
                                            
                                            <h2 th:text="${item.xpdtBrandName}+' '+${item.pdtName}"></h2>
                                            <div class="product-single row">
                                                <div class="product-detail col-xs-12 col-md-5 col-sm-5">
                                                    <div class="page-content" id="content">
                                                        <div class="images-container">
                                                            <div class="js-qv-mask mask tab-content border">
                                                                <div id="item1" class="tab-pane fade active in show">
                                                                    <img th:src="${item.xpdtImg1}" alt="img">
                                                                </div>
                                                                <div id="item2" class="tab-pane fade">
                                                                    <img th:src="${item.xpdtImg2}" alt="img">
                                                                </div>
                                                                <div id="item3" class="tab-pane fade">
                                                                    <img th:src="${item.xpdtImg3}" alt="img">
                                                                </div>
                                                                <div id="item4" class="tab-pane fade">
                                                                    <img th:src="${item.xpdtImg4}" alt="img">
                                                                </div>
                                                                <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                                                                    <i class="fa fa-expand"></i>
                                                                </div>
                                                            </div>
                                                            <ul class="product-tab nav nav-tabs d-flex">
                                                                <li class="active col">
                                                                    <a href="#item1" data-toggle="tab" aria-expanded="true" class="active show">
                                                                        <img th:src="${item.xpdtImg1}" alt="img">
                                                                    </a>
                                                                </li>
                                                                <li class="col">
                                                                    <a href="#item2" data-toggle="tab">
                                                                        <img th:src="${item.xpdtImg2}" alt="img">
                                                                    </a>
                                                                </li>
                                                                <li class="col">
                                                                    <a href="#item3" data-toggle="tab">
                                                                        <img th:src="${item.xpdtImg3}" alt="img">
                                                                    </a>
                                                                </li>
                                                                <li class="col">
                                                                    <a href="#item4" data-toggle="tab">
                                                                        <img th:src="${item.xpdtImg4}" alt="img">
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <div class="modal fade" id="product-modal" role="dialog">
                                                                <div class="modal-dialog">

                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <div class="modal-body">
                                                                                <div class="product-detail">
                                                                                    <div>
                                                                                        <div class="images-container">
                                                                                            <div class="js-qv-mask mask tab-content">
                                                                                                <div id="modal-item1" class="tab-pane fade active in show">
                                                                                                    <img th:src="${item.xpdtImg1}" alt="img">
                                                                                                </div>
                                                                                                <div id="modal-item2" class="tab-pane fade">
                                                                                                    <img th:src="${item.xpdtImg2}" alt="img">
                                                                                                </div>
                                                                                                <div id="modal-item3" class="tab-pane fade">
                                                                                                    <img th:src="${item.xpdtImg3}" alt="img">
                                                                                                </div>
                                                                                                <div id="modal-item4" class="tab-pane fade">
                                                                                                    <img th:src="${item.xpdtImg4}" alt="img">
                                                                                                </div>
                                                                                            </div>
                                                                                            <ul class="product-tab nav nav-tabs">
                                                                                                <li class="active">
                                                                                                    <a href="#modal-item1" data-toggle="tab" class=" active show">
                                                                                                        <img th:src="${item.xpdtImg1}" alt="img">
                                                                                                    </a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#modal-item2" data-toggle="tab">
                                                                                                        <img th:src="${item.xpdtImg2}" alt="img">
                                                                                                    </a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#modal-item3" data-toggle="tab">
                                                                                                        <img th:src="${item.xpdtImg3}" alt="img">
                                                                                                    </a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#modal-item4" data-toggle="tab">
                                                                                                        <img th:src="${item.xpdtImg4}" alt="img">
                                                                                                    </a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="product-info col-xs-12 col-md-7 col-sm-7">
                                                    <div class="detail-description">
                                                        <div class="has-border price-del">
                                                            ￦<span th:text="${#numbers.formatInteger(item.pdtPrice,1,'COMMA')}" class="price"></span>원
                                                        </div>                                                     

                                                        <div class="has-border">
                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>사고유무</b></label>
                                                                </div>
                                                                <div class="col">
                                                                    <b><label th:text="${item.xpdtAccidentName}" style="font-size: 20px;"></label></b>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>연&emsp;&emsp;식</b></label>
                                                                </div>
                                                                <div class="col">
                                                                    <b><label th:text="${item.pdtYear}+'년 '+${item.pdtMonth}+'월'" style="font-size: 20px;"></label></b>
                                                                </div>                                                                                                                                 
                                                            </div>                                                            

                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>주행기록</b></label>
                                                                </div>
                                                                <div class="col">
                                                                    <b><label th:text="${#numbers.formatInteger(item.pdtRunKm, 1, 'COMMA')}+'km'" style="font-size: 20px;"></label></b>
                                                                </div>  
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>색&emsp;&emsp;상</b></label>
                                                                </div>
                                                                <div class="col">
                                                                    <b><label th:text="${item.xpdtColorName}" style="font-size: 20px;"></label></b>
                                                                </div>                                                                                                                            
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-2">
                                                                    <label style="font-size: 20px;"><b>찜&ensp;하&ensp;기</b></label>
                                                                </div>
                                                                
                                                                <div class="col product-buttons">
                                                                    <label style="font-size: 20px;">     
																		<input th:name="'wishlist'+${item.pdtSeq}" th:value="${item.pdtSeq}" type="hidden"/>
		                                                                                                                                           
                                                                        <a th:name="'wishlist'+${item.pdtSeq}" class="addToWishlist" href="javascript:void(0)" th:onclick="fnWishlistClick(this);" data-rel="1">
																			<i th:if    ="${item.xwshSeq != null}" th:name="'wishlist'+${item.pdtSeq}" class="fa fa-heart" aria-hidden="true" style="color:pink;"></i>
			                                                            	<i th:unless="${item.xwshSeq != null}" th:name="'wishlist'+${item.pdtSeq}" class="fa fa-heart" aria-hidden="true"></i>																			
                                                                        </a>
                                                                    </label>
                                                                </div>                                                                
                                                            </div>  
                                                        </div>

                                                        <div class="rating-comment has-border d-flex">
                                                            <div class="review-description d-flex">
                                                                <span>별점 :</span>
                                                                <div class="rating">
                                                                    <div class="star-content">
                                                                    	<th:block th:if="${item.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, item.xpdtStar)}">
																			<div class="star"></div>	
																		</th:block>
																		<th:block th:unless="${item.xpdtStar > 0}" th:each="num : ${#numbers.sequence(1, item.xpdtStar)}">
																			<div class=""></div>	
																		</th:block>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="read after-has-border">
                                                                <a href="#review">
                                                                    <i class="fa fa-commenting-o color" aria-hidden="true"></i>
                                                                    댓글<span id="countReview" name="countReview" th:text="'('+${item.xpdtCount}+')'" class="reviewCount"></span>
                                                                </a>
                                                            </div>
                                                            <div class="apen after-has-border">
                                                                <a href="#review">
                                                                    <i class="fa fa-pencil color" aria-hidden="true"></i>
                                                                    <span id="reviewWrite">댓글작성</span>
                                                                </a>
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="review">
                                                <div><h3>댓글<span id="countReviewTitle" name="countReviewTitle" th:text="'('+${item.xpdtCount}+')'"></span></h3></div>
												
                                                <div class="tab-content">													
                                                    <div id="review" class="tab-pane fade in active show">
                                                        <div class="spr-form">             
                                                            <div class="user-comment">
                                                            	<!-- 댓글 리스트 -->      
																<div class="spr-review" id="reviewList">
                                                        			<th:block th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
	                                                                    <div class="spr-review-header">
	                                                                        <span class="spr-review-header-byline">
	                                                                            <strong th:text="${list.xmbrName}"></strong>
	                                                                            <span th:text="${#dates.format(list.rvwDateTime, 'yyyy-MM-dd')}"></span>
	                                                                        </span>
	                                                                        <div class="rating">
	                                                                            <div class="star-content">
																					<th:block th:if="${list.rvwStar > 0}" th:each="num : ${#numbers.sequence(1, list.rvwStar)}">
																						<div class="star"></div>	
																					</th:block>
																					<th:block th:unless="${list.rvwStar > 0}" th:each="num : ${#numbers.sequence(1, list.rvwStar)}">
																						<div class=""></div>	
																					</th:block>
	                                                                            </div>
	                                                                        </div>
	                                                                    </div>
	                                                                    <div class="spr-review-content">
	                                                                        <p th:text="${list.rvwRemark}" class="spr-review-content-body"></p>
	                                                                    </div>
                                                        			</th:block>
                                                                </div>                                                            	
                                                            </div>
                                                        </div>

                                                        <!-- 댓글작성 -->
                                                        <form method="post" class="new-review-form">
                                                            <input type="hidden" name="review[rating]" value="3">
                                                            <input type="hidden" name="product_id">
                                                            <h3 class="spr-form-title">댓글작성</h3>
                                                            <fieldset>
                                                                <div class="spr-form-review-rating">
                                                                    <label class="spr-form-label">[[${session.sessMbrName}]]</label>
                                                                    <input id="rvwStar" name="rvwStar" type="hidden" value="0" />
                                                                    <fieldset class="ratings">
                                                                        <input type="radio" id="star5" name="rating" value="5" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star5"></label>
                                                                        <input type="radio" id="star4" name="rating" value="4" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star4"></label>
                                                                        <input type="radio" id="star3" name="rating" value="3" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star3"></label>
                                                                        <input type="radio" id="star2" name="rating" value="2" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star2"></label>
                                                                        <input type="radio" id="star1" name="rating" value="1" onclick="fnClickStar(this);" />
                                                                        <label class="full" for="star1"></label>
                                                                    </fieldset>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset>
                                                                <div class="spr-form-review-body">
                                                                    <div class="spr-form-input">
                                                                        <textarea class="spr-form-input-textarea" rows="10"
                                                                        	id="rvwRemark" name="rvwRemark" placeholder="댓글내용"></textarea>
                                                                    </div>
                                                                </div>
                                                            </fieldset>

                                                            <!-- 작성완료 -->
                                                            <div class="submit">
                                                                <input type="button" name="btnSubmit" id="btnSubmit" class="btn btn-default" style="font-size: 15px;" value="작&ensp;성&ensp;완&ensp;료"
                                                                	onclick="fnClick(this);">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!--vo용-->
<!--	<form id="formList" name="formList" method="get">
		<th:block th:replace="~{infra/v1/product/productUsrDetailVo :: searchVo}"></th:block>
	</form>-->
	
    <!-- footer -->
    <div th:replace="~{infra/v1/include/headUsr :: footer}"></div>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>
    
    <!-- modalFormOneBtn(타이틀, 내용, 버튼명) -->
    <div th:replace="~{infra/v1/include/modalSdm :: modalFormOneBtn('확인', '', '확인')}"></div>      

    <!-- Vendor JS -->
    <script src="usr/libs/jquery/jquery.min.js"></script>
    <script src="usr/libs/popper/popper.min.js"></script>
    <script src="usr/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="usr/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="usr/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="usr/libs/slider-range/js/tmpl.js"></script>
    <script src="usr/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="usr/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="usr/libs/slider-range/js/jquery.slider.js"></script>

    <!-- Template JS -->
    <script src="usr/js/theme.js"></script>
    
    <script type="text/javascript">
		
    	// 제품순번
    	let pdtSeq = $("#pdtSeq").val();
    	
    	// 별점 클릭
    	fnClickStar = function(obj) {
    		$("#rvwStar").val(obj.value);
    	}
    	
    	// 작성완료 클릭
    	fnClick = function(obj) {
			// 로그인확인
			if(!fnLoginChecked()) {return;}
			
			// 댓글내용
			let reviewContents = $("#rvwRemark").val();
			if(reviewContents == null || reviewContents == "") {
				fnModalFormOneBtnShow("확인", "댓글 내용 입력 후 진행 바랍니다");
				return;
			}
			
			if(reviewContents != null && reviewContents != "") {
	    		$.ajax({
	    			async: true
	    			, cache: false
	    			, type: "post"
	    			, data: {"rvwRemark":reviewContents      // 댓글내용
	    					,"rvwStar"  :$("#rvwStar").val() // 댓글순번
	    					,"pdtSeq"   :pdtSeq              // 제품순번
	    					}
	    			, url: "/reviewUsrInsert"
	    			, success: function(response) {
	    				if(response.rt == "success") {
	    					//fnModalFormOneBtnShow("등록", "댓글 등록 완료");
	    					
	    					//location.href="/productUsrDetail?shSeq="+pdtSeq;
	    					
	    					// 댓글 재조회
	    					fhReviewReload();
	    				} else if(response.rt == "fail") {
	    					fnModalFormOneBtnShow("등록", "댓글 등록 오류");
						} else if(response.rt == "login") {
	    					fnModalFormOneBtnShow("확인", "로그인 후 진행 가능합니다");
						}
	    			}
	   				, error : function(jqXHR, textStatus, errorThrown){
	   					fnModalFormOneBtnShow("등록", "ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
	   				}    			
	    		});
			} else {
				fnModalFormOneBtnShow("확인", "댓글 내용 입력 후 진행 바랍니다");
			}
    	}
    	
    	// 댓글 재조회
    	fhReviewReload = function() {
    		$.ajax({
    			async: true
    			, cache: false
    			, type: "post"
    			, data: {"shSeq":pdtSeq}
    			, url: "/reviewUsrReload"		
    		})
    		.done(function(fragment) {
				console.log("done(function(fragment): ================================= " + fragment);
				$("#reviewList").replaceWith(fragment);
				$("#countReviewTitle").html($("#countReviewNew").val());
				$("#countReview").html($("#countReviewNew").val());
				$("#rvwStar").val('0');
				$("#rvwRemark").val('');
				$('input[type="radio"]').prop("checked",false); // 별 초기화
			})
			.fail(function(jqXHR, textStatus, errorThrown){
				fnModalFormOneBtnShow("등록", "ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			})
    	}
    	
    	// 차종, 제조사 클릭		
		function fnCheckboxClick() {	
			// 체크된 항목 저장 변수
			let checkboxTypeCheckedArray  = []; // 차종
			let checkboxBrandCheckedArray = []; // 제조사
			let checkboxCheckedArray      = []; // 색상
			
			// 차종 체크박스 항목 수 만큼 배열선언
			let checkboxTypeArr = document.querySelectorAll("input[name='checkboxTypeSeq']");
			for(let i = 0; i < checkboxTypeArr.length; i++) {
				if(checkboxTypeArr[i].checked) checkboxTypeCheckedArray.push(checkboxTypeArr[i].value);
			}
			// 차종 체크된값 저장
			document.querySelector("input[name='shCheckboxTypeArray']").value = checkboxTypeCheckedArray;
			
			// 제조사 체크박스 항목 수 만큼 배열선언
			let checkboxBrandArr = document.querySelectorAll("input[name='checkboxBrandSeq']");
			for(let i = 0; i < checkboxBrandArr.length; i++) {
				if(checkboxBrandArr[i].checked) checkboxBrandCheckedArray.push(checkboxBrandArr[i].value);
			}			
			// 제조사 체크된값 저장
			document.querySelector("input[name='shCheckboxBrandArray']").value = checkboxBrandCheckedArray;
			
			// 색상 체크된 항목만큼 배열선언
			let checkboxColordArr = document.querySelectorAll("input[name='checkboxColorSeq']");
			for(let i = 0; i < checkboxColordArr.length; i++) {
				if(checkboxColordArr[i].checked) checkboxCheckedArray.push(checkboxColordArr[i].value);
			}			
			// 색상 체크된값 저장
			document.querySelector("input[name='shCheckboxColorArray']").value = checkboxCheckedArray;
		}
		
    	// 차량조회화면호출
    	let formList = document.querySelector("#formList");
    	function fnGoList() {
			fnCheckboxClick();
			formList.action = "/productUsrList";
			formList.submit();
		}
    </script>
</body>

</html>