<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<body>
    	<div id="listData" class="w-full overflow-x-auto">
			<table class="w-full whitespace-no-wrap">
  				<!-- 조회결과 리스트 타이틀-->
  				<thead>
    				<tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
      					<th class="px-2 py-1">
        					<input class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray mr-3"
          						id="checkboxAll" name="checkboxAll" type="checkbox"
          						style="height: 15px; width: 15px">
      					</th>
						<th class="px-1 py-1" style="text-align: center;">#</th>
						<th class="px-2 py-1" style="text-align: center;">순번</th>
						<th class="px-2 py-1">차종</th>
						<th class="px-2 py-1">브랜드</th>
						<th class="px-2 py-1">차량명</th>
						<th class="px-2 py-1">색상</th>
						<th class="px-2 py-1">연식(년/월)</th>
						<th class="px-2 py-1" style="text-align:right;">주행기록(Km)</th>
						<th class="px-2 py-1" style="text-align:right;">판매가격(원)</th>
						<th class="px-2 py-1" style="text-align: center;">사고유무</th>
						<th class="px-2 py-1" style="text-align: center;">추천여부</th>
						<th class="px-2 py-1" style="text-align: center;">삭제여부</th>
						<th class="px-2 py-1">작업</th>
						<!--<th class="px-2 py-1">등록일시</th>-->
						<!--<th class="px-2 py-1">수정일시</th>-->
    				</tr>
  				</thead>
  
  				<!-- 조회결과 리스트 내용 -->
  				<tbody id="trList" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
  					<tr th:if="${#lists.isEmpty(list)}">
  						<td colspan="13" class="text-center text-purple-600"> 
							There is no data !!!
  						</td>
  					</tr>
  	                  
  					<tr class="text-gray-700 dark:text-gray-400" th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
						<!-- 체크박스 -->
	               		<td class="px-2 py-1">
	               			<input th:if="${list.xpdtCount} == 0" class="checkboxList text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray mr-3"
	               				id = "checkbox" name="checkbox" type="checkbox"
	               				th:value="${list.pdtSeq}"
	                      		style="height: 15px; width: 15px">
	                   	</td>
						<!-- row순번 -->                    	
                    	<td id="xrowSeq" class="px-1 py-1" th:text="${list.xrowSeq}" style="text-align: center;"></td>
						<!-- 순번 -->                    	
                    	<td id="seq" class="px-1 py-1" th:text="${list.pdtSeq}" style="text-align: center;"></td>
						<!-- 차종 -->                    	
                    	<td class="px-2 py-1" th:text="${@codeService.selectOneCachedCode(list.pdtTypeCd)}"></td>
						<!-- 브랜드 -->                    	
                    	<td class="px-2 py-1" th:text="${@codeService.selectOneCachedCode(list.pdtBrandCd)}"></td>
						<!-- 상품명 -->                    	
                    	<td class="px-2 py-1" th:text="${list.pdtName}"></td>
						<!-- 색상 -->                    	
                    	<td class="px-2 py-1" th:text="${@codeService.selectOneCachedCode(list.pdtColorCd)}"></td>
						<!-- 연식 -->                    	
                    	<td class="px-2 py-1" th:text="${list.xpdtYearMonth}"></td>
						<!-- 주행기록 -->                    	
                    	<td class="px-2 py-1" th:text="${#numbers.formatInteger(list.pdtRunKm, 1, 'COMMA')}" style="text-align:right"></td>
						<!-- 판매가격 -->                    	
                    	<td class="px-2 py-1" th:text="${#numbers.formatInteger(list.pdtPrice, 1, 'COMMA')}" style="text-align:right"></td>
                    	<!-- <td class="px-4 py-1" th:text="${#numbers.formatDecimal(list.pdtPrice, 3, 1, 'COMMA')}" style="text-align:right"></td> -->

						<!-- 사고유무 -->
                    	<td class="px-2 py-1" style="text-align: center;">
                      		<span class="px-2 py-1 font-semibold leading-tight text-blue-500 bg-blue-100 rounded-full dark:bg-blue-500 dark:text-blue-100"
								 th:text="${#strings.substring(@codeService.selectOneCachedCode(list.pdtAccidentCd),0,1)}">
                      		</span>                    	
                    	</td>
						<!-- 추천여부 -->                    	
                    	<td class="px-2 py-1" style="text-align: center;">
                      		<span class="px-2 py-1 font-semibold leading-tight text-blue-500 bg-blue-100 rounded-full dark:bg-blue-500 dark:text-blue-100"
								 th:text="${#strings.substring(@codeService.selectOneCachedCode(list.pdtRecommendCd),0,1)}">
                      		</span>                     	
                    	</td>
						<!-- 삭제여부 -->                                	
                    	<td class="px-2 py-1" th:if="${list.pdtDelNy eq 0}" style="text-align: center;">
                      		<span
                  				class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
								N
                      		</span>
                    	</td>
                    	<td class="px-2 py-1" th:unless="${list.pdtDelNy eq 0}">
                      		<span
                            	class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600">
								Y
                      		</span>
                    	</td>
						<!-- 작업버튼 -->                    
                    	<td class="px-2 py-1">
	                        <button class="px-2 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
								<a th:href="@{/productSdmForm(pdtSeq=${list.pdtSeq}, pdtName=${list.pdtName})}"> <!-- , uri=${vo.uri} -->
									<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
										<path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z"></path>
										<path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z"></path>
									</svg>
								</a>
	                    	</button>
	                    </td>
						<!-- 등록일시 -->
	                    <!--<td class="px-4 py-1" th:text="${#dates.format(list.pdtRegDt, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
						<!-- 수정일시 -->                    	
	                    <!--<td class="px-4 py-1" th:text="${#dates.format(list.pdtUdtDt, 'yyyy-MM-dd HH:mm:ss')}"></td>-->
					</tr> 
  				</tbody>
			</table>

			<!-- 페이지넘김 -->
			<div th:replace="~{infra/v1/include/bodySdm :: bodyPagingBtn}"></div>
		</div> 
	</body>
</html>
