<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <div th:replace="~{infra/v1/include/headSdm :: head}"></div>

  <body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900"
		:class="{ 'overflow-hidden': isSideMenuOpen}">
		<!-- Desktop sidebar -->
		<div th:replace="~{infra/v1/include/bodySdm :: bodyTop('2')}"></div>
      
      <div class="flex flex-col flex-1">
        <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
          <div class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
            <!-- Search input -->
            <div class="flex justify-start flex-1 lg:mr-32">
	            <h2 class="my-1 font-semibold text-gray-700 dark:text-gray-200">
	              <a th:href="@{/indexSdm}">
		              <span class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
		              	HOME
		              </span>
	              </a>
	              &nbsp;
	              <a th:href="@{/indexSdm}">
		              <span class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
		              	코드관리
		              </span>
	              </a>
	              &nbsp;
	              <a th:href="@{/indexSdm}">
		              <span class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg opacity-50 cursor-not-allowed focus:outline-none">
		              	코드
		              </span>
	              </a>
	            </h2>
            </div>
            
            <ul class="flex items-center flex-shrink-0 space-x-6">
              <!-- Theme toggler -->
<!--               <li class="flex"> -->
<!--                 <button -->
<!--                   class="rounded-md focus:outline-none focus:shadow-outline-purple" -->
<!--                   @click="toggleTheme" -->
<!--                   aria-label="Toggle color mode" -->
<!--                 > -->
<!--                   <template x-if="!dark"> -->
<!--                     <svg -->
<!--                       class="w-5 h-5" -->
<!--                       aria-hidden="true" -->
<!--                       fill="currentColor" -->
<!--                       viewBox="0 0 20 20" -->
<!--                     > -->
<!--                       <path -->
<!--                         d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" -->
<!--                       ></path> -->
<!--                     </svg> -->
<!--                   </template> -->
<!--                   <template x-if="dark"> -->
<!--                     <svg -->
<!--                       class="w-5 h-5" -->
<!--                       aria-hidden="true" -->
<!--                       fill="currentColor" -->
<!--                       viewBox="0 0 20 20" -->
<!--                     > -->
<!--                       <path -->
<!--                         fill-rule="evenodd" -->
<!--                         d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" -->
<!--                         clip-rule="evenodd" -->
<!--                       ></path> -->
<!--                     </svg> -->
<!--                   </template> -->
<!--                 </button> -->
<!--               </li> -->
              
              <!-- Profile menu -->
              <li class="relative">
                <button
                  class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none"
                  @click="toggleProfileMenu"
                  @keydown.escape="closeProfileMenu"
                  aria-label="Account"
                  aria-haspopup="true"
                >
                  <img
                    class="object-cover w-8 h-8 rounded-full"
                    src="sdm/img/face.jpg"
                    alt=""
                    aria-hidden="true"
                  />
                </button>
                
                <template x-if="isProfileMenuOpen">
                  <ul
                    x-transition:leave="transition ease-in duration-150"
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0"
                    @click.away="closeProfileMenu"
                    @keydown.escape="closeProfileMenu"
                    class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
                    aria-label="submenu"
                  >
                    <li class="flex">
                      <a
                        class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                        href="#"
                      >
                        <svg
                          class="w-4 h-4 mr-3"
                          aria-hidden="true"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
                          ></path>
                        </svg>
                        <span>로그아웃</span>
                      </a>
                    </li>
                  </ul>
                </template>
              </li>
            </ul>
          </div>
        </header>

        <main class="h-full pb-16 overflow-y-auto">
          <form name="form" id="form" method="get" autocomplete="off">
            <div class="container px-6 mx-auto grid">
              <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
	              <a class="inline-flex items-center w-full">
					<svg  class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					  <path d="M15.98 1.804a1 1 0 0 0-1.96 0l-.24 1.192a1 1 0 0 1-.784.785l-1.192.238a1 1 0 0 0 0 1.962l1.192.238a1 1 0 0 1 .785.785l.238 1.192a1 1 0 0 0 1.962 0l.238-1.192a1 1 0 0 1 .785-.785l1.192-.238a1 1 0 0 0 0-1.962l-1.192-.238a1 1 0 0 1-.785-.785l-.238-1.192ZM6.949 5.684a1 1 0 0 0-1.898 0l-.683 2.051a1 1 0 0 1-.633.633l-2.051.683a1 1 0 0 0 0 1.898l2.051.684a1 1 0 0 1 .633.632l.683 2.051a1 1 0 0 0 1.898 0l.683-2.051a1 1 0 0 1 .633-.633l2.051-.683a1 1 0 0 0 0-1.898l-2.051-.683a1 1 0 0 1-.633-.633L6.95 5.684ZM13.949 13.684a1 1 0 0 0-1.898 0l-.184.551a1 1 0 0 1-.632.633l-.551.183a1 1 0 0 0 0 1.898l.551.183a1 1 0 0 1 .633.633l.183.551a1 1 0 0 0 1.898 0l.184-.551a1 1 0 0 1 .632-.633l.551-.183a1 1 0 0 0 0-1.898l-.551-.184a1 1 0 0 1-.633-.632l-.183-.551Z"></path>
					</svg>
					&nbsp;코드등록
	              </a>
              </h2>
  
              <div class="w-full px-4 py-3 mb-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div class="flex flex-col md:flex-row mt-4 mb-4">
                  <div class="md:h-auto mr-3 md:w-1/2">
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400">그룹코드순번</span>
                      <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                          id="cdgSeq" name="cdgSeq"
                          readonly="on"
                          th:value="${item.cdgSeq}">                          
                    </label>
                  </div>
                  
                  <div class="md:h-auto mr-3 md:w-1/2">
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400">그룹코드명</span>
                      <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                          id="cdgName" name="cdgName"
                          readonly="on"
                          th:value="${item.cdgName}">                    
                    </label>
                  </div>
                
                  <div class="md:h-auto mr-3 md:w-1/2">
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400">코드명</span>
                      <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
						id="cdcName" name="cdcName"
                      	onkeydown="fnOnKeyDown()" onkeyup="fnOnKeyUp(this)">                    
                      <span id="cdcNameValid" name="cdcNameValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
                      	코드명 입력하세요                        
                      </span>                    
                    </label>
                  </div> 
              </div> 
  
              <!-- 저장버튼, 회원조회버튼 -->
              <div class="flex flex-col md:flex-row mt-4">
                <!-- 이전 -->
                <div class="md:h-auto sm:mt-auto md:w-1/2">
                  <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple mr-3"
                    aria-label="Search"
                    type="button">        
                    <a th:href="@{/codeSdmList}">
						<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						  <path clip-rule="evenodd" fill-rule="evenodd" d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"></path>
						</svg>						
					</a>
                  </button> 
                </div>  
                              
                <!-- 저장버튼 -->
                <div class="flex md:h-auto sm:mt-auto md:w-1/2 sm:justify-end">
                  <button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple mr-3"
                    id="btnSubmit" name="btnSubmit" type="button"
                    aria-label="Edit">
					<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					  <path clip-rule="evenodd" fill-rule="evenodd" d="M10 1c3.866 0 7 1.79 7 4s-3.134 4-7 4-7-1.79-7-4 3.134-4 7-4Zm5.694 8.13c.464-.264.91-.583 1.306-.952V10c0 2.21-3.134 4-7 4s-7-1.79-7-4V8.178c.396.37.842.688 1.306.953C5.838 10.006 7.854 10.5 10 10.5s4.162-.494 5.694-1.37ZM3 13.179V15c0 2.21 3.134 4 7 4s7-1.79 7-4v-1.822c-.396.37-.842.688-1.306.953-1.532.875-3.548 1.369-5.694 1.369s-4.162-.494-5.694-1.37A7.009 7.009 0 0 1 3 13.179Z"></path>
					</svg> 
                  </button>                
                </div>
              </div>
          </form>          
        </main>
      </div>
    </div>
    
    <script type="text/javascript">
// ============================================================================
// 변수선언
// ============================================================================

		// 영어,한글,숫자를 제외한 다른 문자가 들어있는지 확인하는 정규식
		// let vKorEngNumChar = /[^\w\sㄱ-힣()0-9]/g;

		let cdgSeq			= document.querySelector("cdgSeq");
		let cdcSeq			= document.querySelector("cdcSeq");
		let form			= document.querySelector("form[name=form]");

		// 코드명
		let cdcName         = document.querySelector("input[name=cdcName]");
		let cdcNameValid    = document.querySelector("span[name=cdcNameValid]");

		let goUrlSdmList   	= "/codeSdmList";		/* 조회화면 */
		let goUrlSdmForm   	= "/codeSdmForm";		/* 수정화면 */
		let goUrlSdmCreate 	= "/codeSdmCreate";		/* 등록화면 */
		let goUrlSdmInsert 	= "/codeSdmInsert";		/* 등록 */
		let goUrlSdmUpdate 	= "/codeSdmUpdate";		/* 수정 */
		let goUrlSdmDelete 	= "/codeSdmDelete";		/* 삭제 */
		let goUrlSdmUdtDelNy= "/codeSdmUdtDelNy";	/* 삭제여부변경 */
		
		// 필수입력체크대상
		let nameArr = ["cdcName"];
		let textArr = ["코드명 입력하세요"];			

// ============================================================================
// event
// ============================================================================

// 		window.addEventListener('load', function() {
// 			jQuery.datetimepicker.setLocale('ko'); // 한국어

// 			$("#shDateStart, #shDateEnd").datetimepicker({
// 				timepicker:false,
// 				format: 'Y-m-d', //'Y-m-d' //H:i
// 			});
// 		});

    	// 저장버튼
		document.getElementById("btnSubmit").onclick = function() {
			fnCallController();
		};
		
		// event onkeydown
		fnOnKeyDown = function() {
			// 엔터키(13)이면
			if (window.event.keyCode == 13) {
				fnCallController();
			};				
		};
		
		// event onkeyup
		// 특수문자가 속해있는지 확인하는 정규식 /[/{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/g;		
		fnOnKeyUp = function(obj) {
			if(window.event.keyCode != 13) {
				let regExp;
				let text = "특수문자는 입력할 수 없습니다";
				switch(obj.name) {
				case "cdcName" :
					regExp = /[/{\}\[\]\/?,.;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/g;
					break;
				};
				
				// 특수문자확인
			    fnSpecialCharCheck(obj, text, regExp);			
			};	
		};

// ============================================================================
// function
// ============================================================================

		// controller 호출
		fnCallController = function() {
			if(!fnValidation()) {
	       		return false;
	       	} else {
		       	form.action = goUrlSdmInsert;
		       	form.submit();
	       	};
		};

// 		// 필수입력항목 확인
// 		fnValidation = function() {
// 			let obj;
// 			let text;
// 			let validName;
// 			let valid;
// 			let submitChk = true;			
// 			let validChk = true;
			
// 			for(let i = 0; i < nameArr.length; i++) {
// 				for (let j = 0; j < form.elements.length; j++) {
// 					if (nameArr[i] == form.elements[j].name) {
// 						obj = form.elements[j];
// 						text = textArr[i];
// 						validName = nameArr[i]+"Valid";
// 						objValid = document.querySelector("span[name="+validName+"]");
						
// 						validChk = fnValidationIn(obj, text, objValid);

// 						if(submitChk) {
// 							submitChk = validChk;
// 						};
						
// 						break;						
// 					};
// 				};
// 			};
			
// 			return submitChk;
// 		};

		// 입력시 필수입력 확인
	    fnValidationIn = function(obj, text, objValid) {
			return fnValidationUdt(obj, text, objValid);
		};

// 		// 수정시 필수입력 확인
// 	    fnValidationUdt = function(obj, text, objValid) {
// 		    if(!fnNullToEmpty(obj.value)) {
// 		    	obj.setAttribute("class","block w-full mt-1 text-sm border-red-600 dark:text-gray-300 dark:bg-gray-700 focus:border-red-400 focus:outline-none focus:shadow-outline-red form-input");
// 		    	objValid.innerHTML = text;
// 		    	objValid.setAttribute("style", "");
// 		    	return false;
// 		    } else {
// 		    	obj.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
// 		    	objValid.setAttribute("style", "visibility:hidden;");
// 		    	return true;
// 		    };
// 	    };

// 		// 특수문자확인
//     	fnSpecialCharCheck = function(obj, text, regExp) {
// 			let validName = obj.name+"Valid";
// 			let objValid = document.querySelector("span[name="+validName+"]");

// 			if (regExp.test(obj.value) == true) {
// 				obj.setAttribute("class","block w-full mt-1 text-sm border-red-600 dark:text-gray-300 dark:bg-gray-700 focus:border-red-400 focus:outline-none focus:shadow-outline-red form-input");
// 				objValid.innerHTML = text;
// 				objValid.setAttribute("style", "");				
// 			} else {
// 				obj.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
// 				objValid.setAttribute("style", "visibility:hidden;");				
// 			};		
//     	}; 

// 	    // null, 공백 확인
// 	    fnNullToEmpty = function(value) {
// 	    	let str = value.replace(/\s/g, ""); // 공백제저
	    	
// 	    	if((str === null) || (str.length === 0)) {
// 	    		return false; // null 또는 공백 
// 	    	} else {
// 	    		return true; // 값 존재
// 	    	}
// 	    };
    </script>
  </body>
</html>
