<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <div th:replace="~{infra/v1/include/headSdm :: head}"></div>
  
  <body>
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900"
		:class="{'overflow-hidden': isSideMenuOpen}">
		<!-- Desktop sidebar -->
		<div th:replace="~{infra/v1/include/bodySdm :: bodyTop('2')}"></div>
      
      <div class="flex flex-col flex-1">
		<div th:replace="~{infra/v1/include/bodySdm :: bodyHeader('코드관리','코드그룹')}"></div>

        <main class="h-full pb-16 overflow-y-auto">
          <form name="form" id="form" method="get" autocomplete="off">
            <div class="container px-6 mx-auto grid">
              <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
	              <a class="inline-flex items-center w-full">
					<svg  class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					  <path d="M15.98 1.804a1 1 0 0 0-1.96 0l-.24 1.192a1 1 0 0 1-.784.785l-1.192.238a1 1 0 0 0 0 1.962l1.192.238a1 1 0 0 1 .785.785l.238 1.192a1 1 0 0 0 1.962 0l.238-1.192a1 1 0 0 1 .785-.785l1.192-.238a1 1 0 0 0 0-1.962l-1.192-.238a1 1 0 0 1-.785-.785l-.238-1.192ZM6.949 5.684a1 1 0 0 0-1.898 0l-.683 2.051a1 1 0 0 1-.633.633l-2.051.683a1 1 0 0 0 0 1.898l2.051.684a1 1 0 0 1 .633.632l.683 2.051a1 1 0 0 0 1.898 0l.683-2.051a1 1 0 0 1 .633-.633l2.051-.683a1 1 0 0 0 0-1.898l-2.051-.683a1 1 0 0 1-.633-.633L6.95 5.684ZM13.949 13.684a1 1 0 0 0-1.898 0l-.184.551a1 1 0 0 1-.632.633l-.551.183a1 1 0 0 0 0 1.898l.551.183a1 1 0 0 1 .633.633l.183.551a1 1 0 0 0 1.898 0l.184-.551a1 1 0 0 1 .632-.633l.551-.183a1 1 0 0 0 0-1.898l-.551-.184a1 1 0 0 1-.633-.632l-.183-.551Z"></path>
					</svg>
					&nbsp;코드그룹수정
	              </a>              
              </h2>
  
              <div class="w-full px-4 py-3 mb-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div class="flex flex-col md:flex-row mt-4 mb-4">
                  <div class="md:h-auto mr-3 md:w-1/2">
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400">그룹코드순번</span>
                      <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                          id="cdgSeq" name="cdgSeq"
                          th:value="${item.cdgSeq}">                          
                    </label>
                  </div>
                  
                  <div class="md:h-auto mr-3 md:w-1/2">
                    <label class="block text-sm">
                      <span class="text-gray-700 dark:text-gray-400">그룹코드명</span>
                      <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                          id="cdgName" name="cdgName"
                          th:value="${item.cdgName}"
                          onkeydown="fnOnKeyDown()" onkeyup="fnOnKeyUp(this)">                    
                      <span id="cdgNameValid" name="cdgNameValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
						그룹코드명 입력하세요
                      </span>                    
                    </label>
                  </div>                  
                </div>
              </div> 
  
              <!-- 이전버튼, 저장버튼, 삭제버튼 -->
              <div class="flex flex-col md:flex-row mt-4">
                <!-- 이전 -->
                <div class="md:h-auto sm:mt-auto md:w-1/2">
                  <button
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple mr-3"
                    aria-label="Search"
                    type="button"
                  >         
                    <a th:href="@{/codeGroupSdmList}">
						<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
						  <path clip-rule="evenodd" fill-rule="evenodd" d="M7.793 2.232a.75.75 0 0 1-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 0 1 0 10.75H10.75a.75.75 0 0 1 0-1.5h2.875a3.875 3.875 0 0 0 0-7.75H3.622l4.146 3.957a.75.75 0 0 1-1.036 1.085l-5.5-5.25a.75.75 0 0 1 0-1.085l5.5-5.25a.75.75 0 0 1 1.06.025Z"></path>
						</svg>	                   
                    </a>
                  </button> 
                </div>  
                              
                <div class="flex md:h-auto sm:mt-auto md:w-1/2 sm:justify-end">
<!--              저장 -->
                  <button   
                    id="btnSubmit"             
                    name="btnSubmit"
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple mr-3"
                    aria-label="Edit"
                    type="button"                    
                  >
					<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					  <path clip-rule="evenodd" fill-rule="evenodd" d="M10 1c3.866 0 7 1.79 7 4s-3.134 4-7 4-7-1.79-7-4 3.134-4 7-4Zm5.694 8.13c.464-.264.91-.583 1.306-.952V10c0 2.21-3.134 4-7 4s-7-1.79-7-4V8.178c.396.37.842.688 1.306.953C5.838 10.006 7.854 10.5 10 10.5s4.162-.494 5.694-1.37ZM3 13.179V15c0 2.21 3.134 4 7 4s7-1.79 7-4v-1.822c-.396.37-.842.688-1.306.953-1.532.875-3.548 1.369-5.694 1.369s-4.162-.494-5.694-1.37A7.009 7.009 0 0 1 3 13.179Z"></path>
					</svg>                    
                  </button>  
                  
					<!-- 삭제여부버튼 -->
					<button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple mr-3"
						id="btnDelNy" name="btnDelNy" aria-label="Edit" type="button">
						<a th:href="@{/codeGroupSdmUdtDelNy(cdgSeq=${item.cdgSeq}, cdgDelNy=${item.cdgDelNy})}">
							<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path clip-rule="evenodd" fill-rule="evenodd" d="M10 4.5c1.215 0 2.417.055 3.604.162a.68.68 0 0 1 .615.597c.124 1.038.208 2.088.25 3.15l-1.689-1.69a.75.75 0 0 0-1.06 1.061l2.999 3a.75.75 0 0 0 1.06 0l3.001-3a.75.75 0 1 0-1.06-1.06l-1.748 1.747a41.31 41.31 0 0 0-.264-3.386 2.18 2.18 0 0 0-1.97-1.913 41.512 41.512 0 0 0-7.477 0 2.18 2.18 0 0 0-1.969 1.913 41.16 41.16 0 0 0-.16 1.61.75.75 0 1 0 1.495.12c.041-.52.093-1.038.154-1.552a.68.68 0 0 1 .615-.597A40.012 40.012 0 0 1 10 4.5ZM5.281 9.22a.75.75 0 0 0-1.06 0l-3.001 3a.75.75 0 1 0 1.06 1.06l1.748-1.747c.042 1.141.13 2.27.264 3.386a2.18 2.18 0 0 0 1.97 1.913 41.533 41.533 0 0 0 7.477 0 2.18 2.18 0 0 0 1.969-1.913c.064-.534.117-1.071.16-1.61a.75.75 0 1 0-1.495-.12c-.041.52-.093 1.037-.154 1.552a.68.68 0 0 1-.615.597 40.013 40.013 0 0 1-7.208 0 .68.68 0 0 1-.615-.597 39.785 39.785 0 0 1-.25-3.15l1.689 1.69a.75.75 0 0 0 1.06-1.061l-2.999-3Z"></path>
							</svg>
						</a>
						<a th:href="@{/codeGroupSdmUdtDelNy(cdgSeq=${item.cdgSeq}, cdgDelNy=${item.cdgDelNy})}"></a>
					</button>
								                  
<!--              삭제 -->
                  <button   
                    @click="openModal"
                    id="btnDelte"             
                    name="btnDelte"             
                    class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red mr-3"
                    aria-label="Delete"
                    type="button"
                  >
<!--                     <a th:href="@{/codeGroupSdmDelete(cdgSeq=${item.cdgSeq})}">삭제</a> -->

					<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
					  <path clip-rule="evenodd" fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"></path>
					</svg>
                  </button>                 
                </div>
              </div>
          </form>          
        </main>
      </div>
    </div>
    
    <!-- Modal backdrop. This what you want to place close to the closing body tag -->
    <div
      x-show="isModalOpen"
      x-transition:enter="transition ease-out duration-150"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-in duration-150"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="fixed inset-0 z-30 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
    >
      <!-- Modal -->
      <div
        x-show="isModalOpen"
        x-transition:enter="transition ease-out duration-150"
        x-transition:enter-start="opacity-0 transform translate-y-1/2"
        x-transition:enter-end="opacity-100"
        x-transition:leave="transition ease-in duration-150"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0  transform translate-y-1/2"
        @click.away="closeModal"
        @keydown.escape="closeModal"
        class="w-full px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4 sm:max-w-xl"
        role="dialog"
        id="modal"
      >
        <!-- Remove header if you don't want a close icon. Use modal body to place modal tile. -->
        <header class="flex justify-end">
          <button
            class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700"
            aria-label="close"
            @click="closeModal"
          >
            <svg
              class="w-4 h-4"
              fill="currentColor"
              viewBox="0 0 20 20"
              role="img"
              aria-hidden="true"
            >
              <path
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </header>
        
        <!-- Modal body -->
        <div class="mt-4 mb-6">
          <!-- Modal title -->
          <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
            삭제확인
          </p>
          <!-- Modal description -->
          <p class="text-sm text-gray-700 dark:text-gray-400">
            삭제을 진행 하시겠습니까?
          </p>
        </div>
        <footer
          class="flex flex-col items-center justify-end px-6 py-3 -mx-6 -mb-4 space-y-4 sm:space-y-0 sm:space-x-6 sm:flex-row bg-gray-50 dark:bg-gray-800"
        >
          <button
            @click="closeModal"
            class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 border bg-purple-600 rounded-lg dark:text-gray-400 sm:px-4 sm:py-2 sm:w-auto active:bg-transparent hover:bg-purple-700 focus:outline-none active:bg-purple-600 focus:outline-none focus:shadow-outline-gray"
          >
            취소
          </button>
          <button
            @click="closeModal"
            id="lineDelete"
            name="lineDelete"
            class="w-full px-5 py-3 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-red-600 border border-transparent rounded-lg sm:w-auto sm:px-4 sm:py-2 active:bg-red-600 hover:bg-red-700 focus:outline-none focus:shadow-outline-red"
          >
			<a th:href="@{/codeGroupSdmDelete(cdgSeq=${item.cdgSeq})}">삭제</a>
          </button>            
        </footer>
      </div>
    </div>
    <!-- End of modal backdrop -->   
    
    <script type="text/javascript">
// ============================================================================
// 변수선언
// ============================================================================
				
		let cdgSeq			= document.querySelector("cdgSeq");
		let form			= document.querySelector("form[name=form]");
	
		// 그룹코드명
		let cdgName         = document.querySelector("input[name=cdgName]");
		let cdgNameValid    = document.querySelector("span[name=cdgNameValid]");

		let goUrlSdmList   	= "/codeGroupSdmList";		/* 조회화면 */
		let goUrlSdmForm   	= "/codeGroupSdmForm";		/* 수정화면 */
		let goUrlSdmCreate 	= "/codeGroupSdmCreate";	/* 등록화면 */
		let goUrlSdmInsert 	= "/codeGroupSdmInsert";	/* 등록 */
		let goUrlSdmUpdate 	= "/codeGroupSdmUpdate";	/* 수정 */
		let goUrlSdmDelete 	= "/codeGroupSdmDelete";	/* 삭제 */
		let goUrlSdmDelNy 	= "/codeGroupSdmDelNy";		/* 삭제여부변경 */
		
		// 영어,한글,숫자를 제외한 다른 문자가 들어있는지 확인하는 정규식
		// let vKorEngNumChar = /[^\w\sㄱ-힣()0-9]/g;
		
		// 필수입력체크대상
		let nameArr = ["cdgName"];
		let textArr = ["그룹코드명 입력하세요"];		

// ============================================================================
// event
// ============================================================================

    	// 저장버튼
		document.getElementById("btnSubmit").onclick = function() {
			fnCallController();
		};
		
		// event onkeydown
		fnOnKeyDown = function() {
			// 엔터키(13)이면
			if (window.event.keyCode == 13) {
				fnCallController();
			};				
		};
		
		// event onkeyup
		// 특수문자가 속해있는지 확인하는 정규식 /[/{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/g;		
		fnOnKeyUp = function(obj) {
			if(window.event.keyCode != 13) {
				// 특수문자확인
				let regExp;
				let text = "특수문자는 입력할 수 없습니다";
				switch(obj.name) {
				case "cdgName" :
					regExp = /[/{\}\[\]\/?,.;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/g;
					break;
				};
				
				// 특수문자확인
			    fnSpecialCharCheck(obj, text, regExp);	
			};	
		};

// ============================================================================
// function
// ============================================================================

		// controller 호출
		fnCallController = function() {
			if(!fnValidation()) {
	       		return false;
	       	} else {
		       	form.action = goUrlSdmUpdate;
		       	form.submit();
	       	};	
		};

// 		// 필수입력항목 확인
// 		fnValidation = function() {
// 			let obj;
// 			let text;
// 			let validName;
// 			let valid;
// 			let submitChk = true;			
// 			let validChk = true;
			
// 			for(let i = 0; i < nameArr.length; i++) {
// 				for (let j = 0; j < form.elements.length; j++) {
// 					if (nameArr[i] == form.elements[j].name) {
// 						obj = form.elements[j];
// 						text = textArr[i];
// 						validName = nameArr[i]+"Valid";
// 						objValid = document.querySelector("span[name="+validName+"]");
						
// 						validChk = fnValidationIn(obj, text, objValid);

// 						// 이메일
// 						if(nameArr[i] == "mbrEmail") {
// 							validChk = fnEmailCheck(obj, objValid);
// 						};
						
// 						if(submitChk) {
// 							submitChk = validChk;
// 						};
						
// 						break;						
// 					};
// 				};
// 			};
			
// 			return submitChk;
// 		};
				
		// 입력시 필수입력 확인
	    fnValidationIn = function(obj, text, objValid) {
			return fnValidationUdt(obj, text, objValid);
		};

// 		// 수정시 필수입력 확인
// 	    fnValidationUdt = function(obj, text, objValid) {
// 		    if(!fnNullToEmpty(obj.value)) {
// 		    	obj.setAttribute("class","block w-full mt-1 text-sm border-red-600 dark:text-gray-300 dark:bg-gray-700 focus:border-red-400 focus:outline-none focus:shadow-outline-red form-input");
// 		    	objValid.innerHTML = text;
// 		    	objValid.setAttribute("style", "");
// 		    	return false;
// 		    } else {
// 		    	obj.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
// 		    	objValid.setAttribute("style", "visibility:hidden;");
// 		    	return true;
// 		    };
// 	    };
	    
// 		// 특수문자확인
//     	fnSpecialCharCheck = function(obj, text, regExp) {
// 			let validName = obj.name+"Valid";
// 			let objValid = document.querySelector("span[name="+validName+"]");

// 			if (regExp.test(obj.value) == true) {
// 				obj.setAttribute("class","block w-full mt-1 text-sm border-red-600 dark:text-gray-300 dark:bg-gray-700 focus:border-red-400 focus:outline-none focus:shadow-outline-red form-input");
// 				objValid.innerHTML = text;
// 				objValid.setAttribute("style", "");				
// 			} else {
// 				obj.setAttribute("class","block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input");
// 				objValid.setAttribute("style", "visibility:hidden;");				
// 			};		
//     	};
    	
// 	    // null, 공백 확인
// 	    fnNullToEmpty = function(value) {
// 	    	let str = value.replace(/\s/g, ""); // 공백제저
	    	
// 	    	if((str === null) || (str.length === 0)) {
// 	    		return false; // null 또는 공백 
// 	    	} else {
// 	    		return true; // 값 존재
// 	    	}
// 	    };    	
    </script>  
  </body>
</html>
