<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- product-checkout07:12-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>중고조아</title>

    <meta name="keywords" content="중고차, OldCar">
    <meta name="description" content="중고조아 - 중고차 쇼핑몰">
    <!-- <meta name="author" content="tivatheme"> -->

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- libs CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">        

    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="libs/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/slick-slider/css/slick.css">
    <link rel="stylesheet" href="libs/slick-slider/css/slick-theme.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/reponsive.css">
</head>

<body class="product-checkout checkout-cart">
    <header>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-1 d-flex align-items-center">
                        <a href="index.html">
                            <b style="font-size: 16px;">중고조아</b>
                        </a>
                    </div>

                    <!-- 메뉴 -->
                    <div class="main-menu col-3 align-items-center justify-content-center navbar-expand-md">
                        <div class="menu navbar collapse navbar-collapse">
                            <ul class="menu-top navbar-nav">
                                <li>
                                    <a href="index.html" class="parent" style="color: red;">Home</a>
                                </li>
                                <li>
                                    <a href="product-grid-sidebar-left.html" class="parent">차량조회</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="search_widget" class="col-7 align-items-center justify-content-end d-flex">
                        <!-- 차량명 검색 -->
                        <form method="get" action="#" style="width: 45%;">
                            <input type="text" name="s" value="" placeholder="차량을 검색하세요" class="ui-autocomplete-input" autocomplete="off">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </form>
                        
                        <div class="mr-4">
                            <a class="login" href="user-login.html" rel="nofollow" title="로그인">
                                <i class="fa fa-sign-in"></i>
                                <span>로그인</span>
                            </a>
                        </div>


                        <div class="mr-4">
                            <a class="register" href="user-register.html" rel="nofollow" title="회원가입">
                                <i class="fa fa-user"></i>
                                <span>회원가입</span>
                            </a>
                        </div>

                        <!-- 마이페이지  -->
                        <div id="block_myaccount_infos" class="hidden-sm-down dropdown">
                            <div class="myaccount-title">
                                <a href="#acount" data-toggle="collapse" class="acount">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span>마이페이지</span>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                            </div>

                            <div id="acount" class="collapse">
                                <div class="account-list-content">
                                    <div>
                                        <a href="user-passward-edit.html" rel="nofollow" title="비밀번호 변경">
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                            <span>비밀번호 변경</span>
                                        </a>
                                    </div>

                                    <div>
                                        <a class="check-out" href="product-checkout.html" rel="nofollow" title="결제하기">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span>결제하기</span>
                                        </a>
                                    </div>
                                    <div>
                                        <a href="user-wishlist.html" title="찜 내역">
                                            <i class="fa fa-heart" aria-hidden="true" style="color: pink;"></i>
                                            <span> 찜 내역</span>
                                        </a>
                                    </div>

                                    <div>
                                        <a href="product-sale.html" title="구매내역">
                                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                            <span>구매내역</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 카트정보표시 -->
                        <!-- <div class="desktop_cart">
                            <div class="blockcart block-cart cart-preview tiva-toggle">
                                <div class="header-cart tiva-toggle-btn">
                                    <span class="cart-products-count">3</span>
                                    <a href="product-cart.html">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div id="checkout" class="main-content">
        <div class="wrap-banner">
            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="index.html">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <span>결제하기</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>
			
            <!-- main -->
            <div id="wrapper-site">
                <div class="container">
                    <div class="row">
                        <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                            <div id="main">
                                <div class="cart-grid row">
                                    <div class="col-md-9 check-info">
                                        <div class="checkout-personal-step">
                                            <h3 class="step-title h3 info">
                                                결제정보
                                            </h3>
                                        </div>
                                        <div class="content">
                                            <ul class="nav nav-inline">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#checkout-guest-form">
                                                        비회원 결제
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#checkout-login-form">
                                                        회원 결제
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <!-- 비회원 결제 -->
                                                <div class="tab-pane fade in active show" id="checkout-guest-form" role="tabpanel">
                                                    <form action="#" id="customer-form" class="js-customer-form" method="post" autocomplete="off">
                                                        <div>
                                                            <input type="hidden" name="id_customer" value="">
                                                            <div class="form-group row">
                                                                <input class="form-control" name="firstname" type="text" placeholder="이름" required>
                                                            </div>
                                                            <div class="form-group row">
                                                                <input class="form-control" name="email" type="email" placeholder="이메일" required>
                                                            </div>
                                                            <div class="form-group row">
                                                                <input class="form-control" name="email" type="email" placeholder="전화번호" required>
                                                            </div>
                                                            <div class="desc-password">
                                                                <span class="custom-checkbox d-inline-flex">
                                                                    <input class="check" name="optin" type="checkbox" value="1">
                                                                </span>
                                                                <span class="font-weight-bold">회원가입</span>
                                                                <span>(선택)</span>
                                                                <br>
                                                                <span class="text-muted">다음 구매시 시간이 단축됩니다.</span>
                                                            </div>
                                                            <!-- 성별 -->
                                                            <div class="form-group row">
                                                                <div class="col">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioM" value="" checked>
                                                                        <label class="form-check-label" for="inlineRadioM">남성</label>
                                                                    </div>                                                        
                                                                </div>

                                                                <div class="col">
                                                                    <div class="form-check form-check-inline">
                                                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadioW" value="">
                                                                        <label class="form-check-label" for="inlineRadioW">여성</label>
                                                                    </div>                                                        
                                                                </div>                                                    
                                                            </div>

                                                            <div class="form-group row">
                                                                    <input class="form-control js-child-focus" name="password" type="password" placeholder="비밀번호" required>
                                                            </div>
                                                            <div class="hidden-comment">
                                                                <div class="form-group row">
                                                                    <input class="form-control" name="birthday" type="text" value="" placeholder="생년월일(20240101)" required>
                                                                </div>
                                                            </div>                                                
                                                        </div>
                                                        <div class="clearfix">
                                                            <div class="row">
                                                                <input type="hidden" name="submitCreate" value="1">

                                                                <button class="continue btn btn-primary pull-xs-right" name="continue" data-link-action="register-new-customer" type="submit"
                                                                    value="1" style="font-size: 15px;">
                                                                    결제진행
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>

                                                <!-- 회원결제 -->
                                                <div class="tab-pane fade" id="checkout-login-form" role="tabpanel">
                                                    <form id="login-form" action="#" method="post" class="customer-form" autocomplete="off">
                                                        <div>
                                                            <input type="hidden" name="back" value="">
                                                            <div class="form-group row">
                                                                <input class="form-control" name="email" type="email" placeholder="이메일">
                                                            </div>
                                                            <div class="form-group row">
                                                                <input class="form-control js-child-focus" name="password" type="password" placeholder="비밀번호">
                                                            </div>
                                                        </div>
                                                        <div class="clearfix">
                                                            <div class="row">
                                                                <button class="continue btn btn-primary pull-xs-right" name="continue" data-link-action="sign-in" type="submit" value="1" style="font-size: 15px;">
                                                                    결제진행
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="footer-one">
        <div class="inner-footer">
            <div class="container">
                <div class="footer-top col-lg-12 col-xs-12">
                    <div class="row">
                        <div class="tiva-html col-lg-4 col-md-12 col-xs-12">
                            <div class="block">
                                <div class="block-content">
                                    <p class="logo-footer" style="font-size: 20px;">
                                        <b>중고조아</b>
                                    </p>
                                    <p class="content-logo">※ 중고조아가 제공하는 서비스는 온라인 거래장소 및 기타 부가정보 제공에 한하며, 실제 거래의 모든 책임은 판매자와 구매자에게 있음을 안내드립니다.</p>
                                    <span>※ 본 사이트/앱 상의 모든 정보, 콘텐츠, UI 등에 대한 무단 복제, 배포, 스크래핑 등의 행위는 법에 의하여 엄격히 금지됩니다.</span>
                                </div>
                            </div>                            
                        </div>
                        <div class="tiva-modules col-lg-4 col-md-6">

                        </div>                        
                        <div class="tiva-html col-lg-4 col-md-6">
                            <div class="block m-top">
                                <div class="block-content">
                                    <p class="logo-footer" style="font-size: 20px;">
                                        <b>중고조아 소개</b>
                                    </p>
                                </div>
                                <div class="block-content">
                                    <div class="contact-us">
                                        <div class="title-content">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                            <span>주소 :</span>
                                        </div>
                                        <div class="content-contact address-contact">
                                            <p>서울특별시 노원구 노원대로 301 중고조아</p>
                                        </div>
                                    </div>
                                    <div class="contact-us">
                                        <div class="title-content">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <span>Email :</span>
                                        </div>
                                        <div class="content-contact mail-contact">
                                            <p>support@oldlike.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <div id="tiva-copyright">
            <div class="container">
                <div class="row">
                    <div class="text-center col-lg-12 ">
                        <span>
							COPYRIGHT 2024 OLDLIKE.CO.,LTD. ALL RIGHTS RESERVED.
                        </span>
                    </div>
                </div>
            </div>
        </div>        
    </footer>

    <!-- Vendor JS -->
    <script src="libs/jquery/jquery.min.js"></script>
    <script src="libs/popper/popper.min.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="libs/slider-range/js/tmpl.js"></script>
    <script src="libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="libs/slider-range/js/draggable-0.1.js"></script>
    <script src="libs/slider-range/js/jquery.slider.js"></script>
    <script src="libs/slick-slider/js/slick.min.js"></script>

    <!-- Template JS-->
    <script src="js/theme.js"></script>
</body>


<!-- product-checkout07:13-->
</html>