<!DOCTYPE html>
<html :class="{'theme-dark': dark}" x-data="data()" lang="en">
	
	<div th:replace="~{infra/v1/include/headSdm :: head}"></div>
	
	<body>
		<div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
			<div class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">
				<div class="flex flex-col overflow-y-auto md:flex-row">
					<div class="h-32 md:h-auto md:w-1">
						<img class="object-cover w-full h-full dark:hidden" aria-hidden="true"
							src="sdm/assets/img/login-office.jpeg" alt="Office"/>
						<img class="hidden object-cover w-full h-full dark:block" aria-hidden="true"
							src="sdm/assets/img/login-office-dark.jpeg" alt="Office"/>
					</div>

					<div class="flex items-center justify-center sm:p-12 md:w-1/2">
						<div class="w-full">
							<h1 class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200">
								Login
							</h1>

							<div class="flex flex-col md:flex-row mt-4 mb-4">
								<div class="md:h-auto md:w-1">
									<label class="block text-sm">
										<span class="text-gray-700 dark:text-gray-400">아이디(이메일)</span>
										<input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
											id="mbrEmail" name="mbrEmail" value="a@a.com" type="text"
											onkeyup="fnOnKeyUp(this)" onchange="fnOnKeyUp(this)">
										<span id="mbrEmailValid" name="mbrEmailValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
											아이디(이메일)
										</span>
									</label>
								</div>
							</div>

							<div class="flex flex-col md:flex-row mt-4 mb-4">
								<div class="md:h-auto md:w-1">
									<label class="block text-sm">
										<span class="text-gray-700 dark:text-gray-400">비밀번호</span>
										<input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
											id="mbrPassword" name="mbrPassword" value="a!2" placeholder="**********" type="password"
											onkeydown="fnOnKeyDown()" onkeyup="fnOnKeyUp(this)" onchange="fnOnKeyUp(this)"/>
										<span id="mbrPasswordValid" name="mbrPasswordValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
											비밀번호
										</span>
									</label>
								</div>
							</div>

							<!-- You should use a button here, as the anchor is only used for the example  -->
							<button class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
								id="btnLogin" name="btnLogin" type="button">
								Log in
							</button>

							<!-- <p class="mt-4">
								<a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
									href="./forgot-password.html">
									비밀번호를 잊으셨나요?
								</a>
							</p> -->

							<p class="mt-6">
								<a class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
									th:href="@{/loginSdmMemberCreate}">
									회원가입
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
		
			// 이메일
			let mbrEmail         	= document.querySelector("input[name=mbrEmail]");
			let mbrEmailValid    	= document.querySelector("span[name=mbrEmailValid]");
			
			// 비밀번호
			let mbrPassword         = document.querySelector("input[name=mbrPassword]");
			let mbrPasswordValid    = document.querySelector("span[name=mbrPasswordValid]");
			
			// 필수입력체크대상
			// validType : 1(한글), 2(영문), 3(숫자:정수), 4(숫자:실수)
			//             10(한글영문), 11(한글숫자), 12(영문숫자), 13(한글영문숫자)
			//			   20(비밀번호), 21(날짜), 22(이메일)
			//             30(특수문자), 31(필수입력아님)
			// TYPE_KR   =  1, TYPE_EN   = 2,  TYPE_IT   = 3,  TYPE_FT     = 4;
			// TYPE_KREN = 10, TYPE_KRIT = 11, TYPE_ENIT = 12, TYPE_KRENIT = 13;
			// TYPE_PW   = 20, TYPE_DT   = 21, TYPE_EM   = 22;
			// TYPE_SP   = 30, TYPE_NOT  = 31;
			let dispText = "5자리:영문,숫자,특수문자(!@#$%^*+=-)";
			let typeArr = [TYPE_EM, TYPE_PW];
			let nameArr = ["mbrEmail", "mbrPassword"];
			let textArr = ["", dispText];
			
			// controller 호출
			fnCallController = function() {
				if(!fnValidation()) {return false;}
			
				$.ajax({
					async: true
					, cache: false
					, type: "post"
					, data: {"mbrEmail":$("#mbrEmail").val(), "mbrPassword":$("#mbrPassword").val()}
					, url: "/memberSdmLoginConfirm"
					, success: function(response) {
						if(response.rt == "success") {
							location.href = "/indexSdm";
						} else if(response.rt == "id") {
							alert("아이디가 일치하지 않습니다");
						} else if(response.rt == "password") {
							alert("비밀번호가 일치하지 않습니다");
						}
					}
					, error : function(jqXHR, textStatus, errorThrown){
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
			}
			
			document.getElementById("btnLogin").onclick = function() {
				fnCallController();
			};
			
			// event onkeydown
			fnOnKeyDown = function() {
				// 엔터키(13)이면
				if (window.event.keyCode == 13) {
					fnCallController();
				};
			};
			
			// event onkeyup
			// fnValidType(obj:input tag객체, objValid:메시지표시 tag명, validText:objValid tag에 표시할 메시지, validType:정규식종류)
			fnOnKeyUp = function(obj) {
				if(window.event.keyCode != 13) {
					switch(obj.name) {
					case "mbrEmail" :
						fnValidType(obj, mbrEmailValid, "", TYPE_EM);
						break;
					case "mbrPassword" :
						fnValidType(obj, mbrPasswordValid, "", TYPE_PW);
						break;
					};
				};
			};
		
		</script>
	</body>
</html>