<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">

<div th:replace="~{infra/v1/include/headUsr :: head}"></div>

<body class="user-login blog">
    <header>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-1 d-flex align-items-center">
                        <div id="logo">
                            <a href="/indexUsr">
                                <!-- <img class="img-fluid" src="img/home/logo.png" alt="logo"> -->
                                <b style="font-size: 16px;">중고조아</b>
                            </a>
                        </div>
                    </div>

                    <!-- menu -->
                    <div class="main-menu col-2 align-items-center justify-content-center navbar-expand-md">
                        <div class="menu navbar collapse navbar-collapse">
                            <ul class="menu-top navbar-nav">
                                <li>
                                    <a href="/indexUsr" class="parent" style="color: red;">Home</a>
                                </li>
                                <li>
                                    <a href="/productUsrList" class="parent">차량조회</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="search_widget" class="col-9 align-items-center justify-content-end d-flex">
                        <div class="mr-4">
                            <a class="register" href="/memberUsrCreate" rel="nofollow" title="회원가입">
                                <i class="fa fa-user"></i>
                                <span>회원가입</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="/indexUsr">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <span>로그인</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>

        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <div class="container">
                        <h1 class="text-center title-page">Log in</h1>
                        <div class="login-form">
                            <form id="customer-form" method="get">
                                <div>
                                    <!-- <input type="hidden" name="back" value="my-account"> -->

                                    <div class="form-group no-gutters">
                                        이메일
                                        <div class="input-group js-parent-focus"> 
                                        	<input class="form-control" id="mbrEmail" name="mbrEmail" type="email" placeholder="" value="b@b.com" autocomplete="off">
                                        </div>
	                                    <div>
	                                        <span id="mbrEmailValid" name="mbrEmailValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">										
										</div>                                    
                                    </div>
                                    <br>
                                    <div class="form-group no-gutters">
                                        비밀번호
                                        <div class="input-group js-parent-focus">                                            
                                            <input class="form-control js-child-focus js-visible-password" id="mbrPassword" name="mbrPassword" type="password" value="q!2" placeholder="**********">
                                        </div>
                                        <div>
											<span id="mbrPasswordValid" name="mbrPasswordValid" class="text-xs text-red-600 dark:text-red-400" style="visibility:hidden;">
										</div>
                                    </div>
                                    <br>
                                    <!-- <div class="no-gutters text-center">
                                        <div class="forgot-password">
                                            <a href="user-passward-edit.html" rel="nofollow">
                                                비밀번호를 잊으셨나요?
                                            </a>
                                        </div>
                                        <div class="register">
                                            <a href="user-register.html" rel="nofollow">
                                                회원가입
                                            </a>
                                        </div>                                      
                                    </div> -->
                                </div>
                                <div class="clearfix">
                                    <div class="text-center no-gutters">
                                        <button id="btnLogin" name="btnLogin" class="btn btn-primary mb-2" data-link-action="sign-in"
                                        	type="button" style="font-size: 20px; width: 100%; height: 50px;">
                                            Log in
                                        </button>
                                    </div>
                                   
                                    <!-- 네이버 로그인 -->
  									<div id="naverIdLogin" class="mb-2">
										<!-- REST API 방식 -->  
										<a th:href="@{/loginNaver}">
										<!-- javascript API 방식 -->
                                        <!--<a id="naverLoginButton" href="javascript:void(0)" th:onclick="javascript:fnNaverLogin();">-->
											<img src="usr/img/naverLoginButton/btnG_완성형.png" style="width: 100%; height: 50px; border-radius: 16px;">
										</a>
                                    </div>                                    
                                    <!-- 카카오 로그인 -->
  									<div id="kakaoLoginButton">
										<!-- REST API -->
                                        <a th:href=${kakaoLocation}>
										<!-- javascript API -->
										<!--<a href="javascript:loginWithKakao()">-->
                                           	<img src="usr/img/kakaoLoginButton/kakao_login_large_wide.png" style="width: 100%; height: 50px; border-radius: 16px;">
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="~{infra/v1/include/headUsr :: footer}"></div>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>
    
    <!-- modalFormOneBtn(타이틀, 내용, 버튼명) -->
    <div th:replace="~{infra/v1/include/modalSdm :: modalFormOneBtn('확인', '', '확인')}"></div>    

    <!-- Vendor JS -->
    <script src="usr/libs/jquery/jquery.min.js"></script>
    <script src="usr/libs/popper/popper.min.js"></script>
    <script src="usr/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="usr/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="usr/libs/owl-carousel/owl.carousel.min.js"></script>    

    <!-- Template JS -->
    <script src="usr/js/theme.js"></script>
    
    <!-- 네이버 로그인 -->
    <!-- REST API용 -->
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <!-- javascript API용 -->
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <!--<script src="usr/js/naverlogin.js"></script>--> 
        
    <!-- 카카오 로그인 -->
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.1/kakao.min.js" integrity="sha384-kDljxUXHaJ9xAb2AzRd59KxjrFjzHa5TAoFQ6GbYTCAG0bjM55XohjjDT7tDDC01" crossorigin="anonymous"></script>
	<script th:inline="javascript">
		Kakao.init([[${javascriptKey}]]); // 사용하려는 앱의 JavaScript 키 입력
	</script>
	    
	<script th:inline="javascript">
		// javascript API
		function loginWithKakao() {
			Kakao.Auth.authorize({
				redirectUri: [[${kakaoRedirectUri}]],
			});
		}
		
	</script>
	
	<script>
		// 네이버 로그인
		const naverLogin = new naver.LoginWithNaverId({
		    clientId: "r1aTHRBql6Ny_r2b60bZ",
		    callbackUrl: "http://localhost:8081/indexUsr",
		    //loginButton: {color: "green", type: 0, height: 50}
		});
		
		naverLogin.init();
		
		fnNaverLogin = function() {
		    naverLogin.getLoginStatus(function (status) {
				alert(status);
				if (status) {
					const nickName = naverLogin.user.getNickName();
					const age      = naverLogin.user.getAge();
					const birthday = naverLogin.user.getBirthday();
					
					/*if(nickName===null||nickName===undefined ){
					    alert("별명이 필요합니다. 정보제공을 동의해주세요.");
					    naverLogin.reprompt();
					    return ;  
					 } else{
					  setLoginStatus();
					 }*/
					
					setLoginStatus();
				}
			});
			
			//console.log(naverLogin);
			
			function setLoginStatus(){
				let email = naverLogin.user.email;
				let name  = naverLogin.user.name;
				
				$.ajax({
					async: true
					, cache: false
					, type: "post"
					, data: {"name":name, "email":email}
					, url: "/naverLoginInsert"
					, success: function(response) {
						if(response.rt == "success") {
							location.href = "/indexUsr";
						} else if(response.rt == "fail") {
							alert("실패");
						}
					}
					, error : function(jqXHR, textStatus, errorThrown){
						alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
					}
				});
			}
		}		
	</script>
	    
    <script type="text/javascript">
				// 필수입력체크대상
		// validType : 1(한글), 2(영문), 3(숫자:정수), 4(숫자:실수)
		//             10(한글영문), 11(한글숫자), 12(영문숫자), 13(한글영문숫자)
		//			   20(비밀번호), 21(날짜), 22(이메일)
		//             30(특수문자), 31(공백체크)
		// TYPE_KR   =  1, TYPE_EN   = 2,  TYPE_IT   = 3,  TYPE_FT     = 4;
		// TYPE_KREN = 10, TYPE_KRIT = 11, TYPE_ENIT = 12, TYPE_KRENIT = 13;
		// TYPE_PW   = 20, TYPE_DT   = 21, TYPE_EM   = 22;
		// TYPE_SP   = 30, TYPE_NULL = 31;
		
		let dispText = "";
		let typeArr = [TYPE_EM, TYPE_NULL];		
		let nameArr = ["mbrEmail", "mbrPassword"];
		let textArr = [dispText, dispText];	
		
  		// 로그인 버튼클릭
		document.getElementById("btnLogin").onclick = function() {
			fnCallController();
		};	
		
		// controller 호출
		fnCallController = function() {
			if(!fnValidation()) {return false;}
		
			$.ajax({
				async: true
				, cache: false
				, type: "post"
				, data: {"mbrEmail":$("#mbrEmail").val(), "mbrPassword":$("#mbrPassword").val()}
				, url: "/memberSdmLoginConfirm"
				, success: function(response) {
					if(response.rt == "success") {
						location.href = "/indexUsr";
					} else if(response.rt == "id") {
						fnModalFormOneBtnShow("확인", "아이디가 일치하지 않습니다");
					} else if(response.rt == "password") {
						fnModalFormOneBtnShow("확인", "비밀번호가 일치하지 않습니다");
					}
				}
				, error : function(jqXHR, textStatus, errorThrown){
					fnModalFormOneBtnShow("오류", "ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		
	</script>
</body>

</html>