<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">

<div th:replace="~{infra/v1/include/headUsr :: head}"></div>

<body class="user-login blog">
    <header>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-1 d-flex align-items-center">
                        <div id="logo">
                            <a href="/indexUsr">
                                <!-- <img class="img-fluid" src="img/home/logo.png" alt="logo"> -->
                                <b style="font-size: 16px;">중고조아</b>
                            </a>
                        </div>
                    </div>

                    <!-- menu -->
                    <div class="main-menu col-2 align-items-center justify-content-center navbar-expand-md">
                        <div class="menu navbar collapse navbar-collapse">
                            <ul class="menu-top navbar-nav">
                                <li>
                                    <a href="/indexUsr" class="parent" style="color: red;">Home</a>
                                </li>
                                <li>
                                    <a href="/productUsrList" class="parent">차량조회</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div id="search_widget" class="col-9 align-items-center justify-content-end d-flex">
                        <div class="mr-4">
                            <a class="register" href="/memberUsrCreate" rel="nofollow" title="회원가입">
                                <i class="fa fa-user"></i>
                                <span>회원가입</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">

            <!-- breadcrumb -->
            <nav class="breadcrumb-bg">
                <div class="container no-index">
                    <div class="breadcrumb">
                        <ol>
                            <li>
                                <a href="/indexUsr">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <span>로그인</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </nav>

        </div>

        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <div class="container">
                        <h1 class="text-center title-page">Log in</h1>
                        <div class="login-form">
                            <form id="customer-form" method="get">
                                <div>
                                    <!-- <input type="hidden" name="back" value="my-account"> -->

                                    <div class="form-group no-gutters">
                                        이메일
                                        <input class="form-control" id="mbrEmail" name="mbrEmail" type="email" placeholder="" value="b@b.com" autocomplete="off">
                                    </div>                                    

                                    <div class="form-group no-gutters">
                                        비밀번호
                                        <div class="input-group js-parent-focus">                                            
                                            <input class="form-control js-child-focus js-visible-password" id="mbrPassword" name="mbrPassword" type="password" value="q!2" placeholder="**********">
                                        </div>
                                    </div>
                                    <!-- <div class="no-gutters text-center">
                                        <div class="forgot-password">
                                            <a href="user-passward-edit.html" rel="nofollow">
                                                비밀번호를 잊으셨나요?
                                            </a>
                                        </div>
                                        <div class="register">
                                            <a href="user-register.html" rel="nofollow">
                                                회원가입
                                            </a>
                                        </div>                                      
                                    </div> -->
                                </div>
                                <div class="clearfix">
                                    <div class="text-center no-gutters">
                                        <!--<input type="hidden" name="submitLogin" value="1">-->
                                        <button id="btnLogin" name="btnLogin" class="btn btn-primary" data-link-action="sign-in" type="button" style="font-size: 15px;">
                                            Log in
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="~{infra/v1/include/headUsr :: footer}"></div>

    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>
    
    <!-- modalFormOneBtn(타이틀, 내용, 버튼명) -->
    <div th:replace="~{infra/v1/include/modalSdm :: modalFormOneBtn('확인', '', '확인')}"></div>    

    <!-- Vendor JS -->
    <script src="usr/libs/jquery/jquery.min.js"></script>
    <script src="usr/libs/popper/popper.min.js"></script>
    <script src="usr/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="usr/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="usr/libs/owl-carousel/owl.carousel.min.js"></script>    

    <!-- Template JS -->
    <script src="usr/js/theme.js"></script>
    
    <script type="text/javascript">
		document.getElementById("btnLogin").onclick = function() {
			fnCallController();
		};		

		// controller 호출
		fnCallController = function() {
			<!--if(!fnValidation()) {return false;}-->
		
			$.ajax({
				async: true
				, cache: false
				, type: "post"
				, data: {"mbrEmail":$("#mbrEmail").val(), "mbrPassword":$("#mbrPassword").val()}
				, url: "/memberSdmLoginConfirm"
				, success: function(response) {
					if(response.rt == "success") {
						location.href = "/indexUsr";
					} else if(response.rt == "id") {
						fnModalFormOneBtnShow("확인", "아이디가 일치하지 않습니다");
					} else if(response.rt == "password") {
						fnModalFormOneBtnShow("확인", "비밀번호가 일치하지 않습니다");
					}
				}
				, error : function(jqXHR, textStatus, errorThrown){
					fnModalFormOneBtnShow("오류", "ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
		
	</script>
</body>

</html>